
  {% render 'gp-head', isThemeSection: true %}
  
  <style>
    .gps-481563615640421015 .-translate-y-1\/2,.gps-481563615640421015 .mobile\:-translate-y-1\/2,.gps-481563615640421015 .mobile\:rotate-0,.gps-481563615640421015 .mobile\:rotate-180,.gps-481563615640421015 .mobile\:translate-x-0,.gps-481563615640421015 .mobile\:translate-y-1\/2,.gps-481563615640421015 .rotate-0,.gps-481563615640421015 .rotate-180,.gps-481563615640421015 .tablet\:-translate-y-1\/2,.gps-481563615640421015 .tablet\:rotate-0,.gps-481563615640421015 .tablet\:rotate-180,.gps-481563615640421015 .tablet\:translate-x-0,.gps-481563615640421015 .tablet\:translate-y-1\/2,.gps-481563615640421015 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-481563615640421015 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-481563615640421015 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-481563615640421015 .absolute{position:absolute}.gps-481563615640421015 .relative{position:relative}.gps-481563615640421015 .bottom-1\/2{bottom:50%}.gps-481563615640421015 .left-4{left:16px}.gps-481563615640421015 .right-4{right:16px}.gps-481563615640421015 .top-1\/2{top:50%}.gps-481563615640421015 .mx-auto{margin-left:auto;margin-right:auto}.gps-481563615640421015 .my-0{margin-bottom:0;margin-top:0}.gps-481563615640421015 .mb-0{margin-bottom:0}.gps-481563615640421015 .mt-2{margin-top:8px}.gps-481563615640421015 .block{display:block}.gps-481563615640421015 .\!flex{display:flex!important}.gps-481563615640421015 .flex{display:flex}.gps-481563615640421015 .inline-flex{display:inline-flex}.gps-481563615640421015 .grid{display:grid}.gps-481563615640421015 .hidden{display:none}.gps-481563615640421015 .aspect-square{aspect-ratio:1/1}.gps-481563615640421015 .h-6{height:24px}.gps-481563615640421015 .h-full{height:100%}.gps-481563615640421015 .w-6{width:24px}.gps-481563615640421015 .w-\[12px\]{width:12px}.gps-481563615640421015 .w-full{width:100%}.gps-481563615640421015 .max-w-full{max-width:100%}.gps-481563615640421015 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-481563615640421015 .-translate-y-1\/2,.gps-481563615640421015 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .translate-y-1\/2{--tw-translate-y:50%}.gps-481563615640421015 .rotate-0{--tw-rotate:0deg}.gps-481563615640421015 .rotate-0,.gps-481563615640421015 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .rotate-180{--tw-rotate:180deg}.gps-481563615640421015 .cursor-pointer{cursor:pointer}.gps-481563615640421015 .flex-row{flex-direction:row}.gps-481563615640421015 .flex-col{flex-direction:column}.gps-481563615640421015 .items-center{align-items:center}.gps-481563615640421015 .justify-center{justify-content:center}.gps-481563615640421015 .gap-2{gap:8px}.gps-481563615640421015 .gap-y-0{row-gap:0}.gps-481563615640421015 .overflow-hidden{overflow:hidden}.gps-481563615640421015 .overflow-clip{overflow:clip}.gps-481563615640421015 .rounded-full{border-radius:9999px}.gps-481563615640421015 .text-center{text-align:center}.gps-481563615640421015 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-481563615640421015 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-481563615640421015 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-481563615640421015 .duration-200{transition-duration:.2s}.gps-481563615640421015 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-481563615640421015 .disabled\:cursor-default:disabled{cursor:default}.gps-481563615640421015 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-481563615640421015 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-481563615640421015 .tablet\:bottom-1\/2{bottom:50%}.gps-481563615640421015 .tablet\:left-4{left:16px}.gps-481563615640421015 .tablet\:right-4{right:16px}.gps-481563615640421015 .tablet\:top-1\/2{top:50%}.gps-481563615640421015 .tablet\:mt-2{margin-top:8px}.gps-481563615640421015 .tablet\:block{display:block}.gps-481563615640421015 .tablet\:\!inline{display:inline!important}.gps-481563615640421015 .tablet\:\!flex{display:flex!important}.gps-481563615640421015 .tablet\:w-full{width:100%}.gps-481563615640421015 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-481563615640421015 .tablet\:-translate-y-1\/2,.gps-481563615640421015 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-481563615640421015 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-481563615640421015 .tablet\:rotate-0,.gps-481563615640421015 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .tablet\:rotate-0{--tw-rotate:0deg}.gps-481563615640421015 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .tablet\:flex-row{flex-direction:row}.gps-481563615640421015 .tablet\:px-0{padding-left:0;padding-right:0}.gps-481563615640421015 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-481563615640421015 .mobile\:bottom-1\/2{bottom:50%}.gps-481563615640421015 .mobile\:left-4{left:16px}.gps-481563615640421015 .mobile\:right-4{right:16px}.gps-481563615640421015 .mobile\:top-1\/2{top:50%}.gps-481563615640421015 .mobile\:mt-2{margin-top:8px}.gps-481563615640421015 .mobile\:block{display:block}.gps-481563615640421015 .mobile\:\!inline{display:inline!important}.gps-481563615640421015 .mobile\:\!flex{display:flex!important}.gps-481563615640421015 .mobile\:w-full{width:100%}.gps-481563615640421015 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-481563615640421015 .mobile\:-translate-y-1\/2,.gps-481563615640421015 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-481563615640421015 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-481563615640421015 .mobile\:rotate-0,.gps-481563615640421015 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .mobile\:rotate-0{--tw-rotate:0deg}.gps-481563615640421015 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-481563615640421015 .mobile\:flex-row{flex-direction:row}.gps-481563615640421015 .mobile\:px-0{padding-left:0;padding-right:0}.gps-481563615640421015 .mobile\:pl-1{padding-left:4px}}.gps-481563615640421015 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-481563615640421015 .\[\&_p\]\:inline p{display:inline}.gps-481563615640421015 .\[\&_p\]\:after\:whitespace-pre p:after{content:var(--tw-content);white-space:pre}.gps-481563615640421015 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gHOtvPaviP"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHOtvPaviP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giXUHdlb5Q relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-g0oJ1vfinh" class=" "  gp-data='{"id":"g0oJ1vfinh","setting":{"slidesToShow":{"desktop":4,"tablet":2,"mobile":1},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"vertical":{"desktop":false},"enableDrag":false,"loop":{"desktop":false},"autoplay":false,"pauseOnHover":true,"autoplayTimeout":2,"controlOverContent":{"desktop":true},"dot":{"desktop":true,"tablet":true,"mobile":true},"arrow":{"desktop":true},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"adaptiveHeight":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":16}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block g0oJ1vfinh"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--h:auto;--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-g0oJ1vfinh" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      class="gem-slider-item w-full gem-slider-item- gK_l3peZ3t"
    >
      
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      class="gem-slider-item w-full gem-slider-item- g4dfsIVeI2"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gjbbqTEQUR ">
      
    <div
      pageContext parentTag="CarouselItem"
        class="gjbbqTEQUR  !flex overflow-clip"
        style="--jc:left"
      >
      <h2
        data-gp-text
        class="[&_p]:inline [&_p]:after:whitespace-pre [&_p]:after:content-['\A'] g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--w:100%"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      class="gem-slider-item w-full gem-slider-item- gwpPxjGzhq"
    >
      
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      class="gem-slider-item w-full gem-slider-item- gY9QXfVMny"
    >
      
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back g0oJ1vfinh gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next g0oJ1vfinh gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-g0oJ1vfinh flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gbNk547rmy ">
      
    <div
      pageContext parentTag="Col"
        class="gbNk547rmy  !flex overflow-clip"
        style="--jc:left"
      >
      <h2
        data-gp-text
        class="[&_p]:inline [&_p]:after:whitespace-pre [&_p]:after:content-['\A'] g-heading-1 gp-text"
        style="--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--w:100%"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - 1"
      }
    ],
    
    "name": "Section - 1",
    "tag": "section",
    "class": "gps-481563615640421015 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=481563615640421015)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
