
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Prata:400|Open+Sans:600,400,700&display=swap');
      </style>
    
  <style>
    .gps-479384634967196471 .-translate-x-full,.gps-479384634967196471 .-translate-y-1\/2,.gps-479384634967196471 .mobile\:-translate-y-1\/2,.gps-479384634967196471 .mobile\:rotate-0,.gps-479384634967196471 .mobile\:rotate-180,.gps-479384634967196471 .mobile\:translate-x-0,.gps-479384634967196471 .mobile\:translate-y-1\/2,.gps-479384634967196471 .rotate-0,.gps-479384634967196471 .rotate-180,.gps-479384634967196471 .tablet\:-translate-y-1\/2,.gps-479384634967196471 .tablet\:rotate-0,.gps-479384634967196471 .tablet\:rotate-180,.gps-479384634967196471 .tablet\:translate-x-0,.gps-479384634967196471 .tablet\:translate-y-1\/2,.gps-479384634967196471 .translate-x-full,.gps-479384634967196471 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-479384634967196471 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-479384634967196471 .relative{position:relative}.gps-479384634967196471 .bottom-1\/2{bottom:50%}.gps-479384634967196471 .left-1{left:4px}.gps-479384634967196471 .right-1{right:4px}.gps-479384634967196471 .top-1\/2{top:50%}.gps-479384634967196471 .mx-auto{margin-left:auto;margin-right:auto}.gps-479384634967196471 .my-0{margin-bottom:0;margin-top:0}.gps-479384634967196471 .mb-0{margin-bottom:0}.gps-479384634967196471 .mt-2{margin-top:8px}.gps-479384634967196471 .block{display:block}.gps-479384634967196471 .\!flex{display:flex!important}.gps-479384634967196471 .grid{display:grid}.gps-479384634967196471 .hidden{display:none}.gps-479384634967196471 .aspect-square{aspect-ratio:1/1}.gps-479384634967196471 .h-6{height:24px}.gps-479384634967196471 .h-full{height:100%}.gps-479384634967196471 .w-6{width:24px}.gps-479384634967196471 .w-\[12px\]{width:12px}.gps-479384634967196471 .w-full{width:100%}.gps-479384634967196471 .max-w-full{max-width:100%}.gps-479384634967196471 .-translate-x-full{--tw-translate-x:-100%}.gps-479384634967196471 .-translate-x-full,.gps-479384634967196471 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-479384634967196471 .translate-x-full{--tw-translate-x:100%}.gps-479384634967196471 .translate-x-full,.gps-479384634967196471 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .translate-y-1\/2{--tw-translate-y:50%}.gps-479384634967196471 .rotate-0{--tw-rotate:0deg}.gps-479384634967196471 .rotate-0,.gps-479384634967196471 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .rotate-180{--tw-rotate:180deg}.gps-479384634967196471 .cursor-pointer{cursor:pointer}.gps-479384634967196471 .gap-2{gap:8px}.gps-479384634967196471 .overflow-hidden{overflow:hidden}.gps-479384634967196471 .rounded-full{border-radius:9999px}.gps-479384634967196471 .leading-\[0\]{line-height:0}.gps-479384634967196471 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-479384634967196471 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479384634967196471 .duration-200{transition-duration:.2s}.gps-479384634967196471 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479384634967196471 .disabled\:cursor-default:disabled{cursor:default}.gps-479384634967196471 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-479384634967196471 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-479384634967196471 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-479384634967196471 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-479384634967196471 .\[\&_\*\]\:max-w-full *{max-width:100%}@media (max-width:1023px){.gps-479384634967196471 .tablet\:-left-4{left:-16px}.gps-479384634967196471 .tablet\:-right-4{right:-16px}.gps-479384634967196471 .tablet\:bottom-1\/2{bottom:50%}.gps-479384634967196471 .tablet\:top-1\/2{top:50%}.gps-479384634967196471 .tablet\:mt-2{margin-top:8px}.gps-479384634967196471 .tablet\:block{display:block}.gps-479384634967196471 .tablet\:\!flex{display:flex!important}.gps-479384634967196471 .tablet\:\!hidden{display:none!important}.gps-479384634967196471 .tablet\:w-full{width:100%}.gps-479384634967196471 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-479384634967196471 .tablet\:-translate-y-1\/2,.gps-479384634967196471 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-479384634967196471 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-479384634967196471 .tablet\:rotate-0,.gps-479384634967196471 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .tablet\:rotate-0{--tw-rotate:0deg}.gps-479384634967196471 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .tablet\:px-0{padding-left:0;padding-right:0}.gps-479384634967196471 .tablet\:pl-1{padding-left:4px}.gps-479384634967196471 .tablet\:apja6g{flex-direction:row}}@media (max-width:767px){.gps-479384634967196471 .mobile\:-left-4{left:-16px}.gps-479384634967196471 .mobile\:-right-4{right:-16px}.gps-479384634967196471 .mobile\:bottom-1\/2{bottom:50%}.gps-479384634967196471 .mobile\:top-1\/2{top:50%}.gps-479384634967196471 .mobile\:mt-2{margin-top:8px}.gps-479384634967196471 .mobile\:block{display:block}.gps-479384634967196471 .mobile\:\!flex{display:flex!important}.gps-479384634967196471 .mobile\:\!hidden{display:none!important}.gps-479384634967196471 .mobile\:w-full{width:100%}.gps-479384634967196471 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-479384634967196471 .mobile\:-translate-y-1\/2,.gps-479384634967196471 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-479384634967196471 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-479384634967196471 .mobile\:rotate-0,.gps-479384634967196471 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .mobile\:rotate-0{--tw-rotate:0deg}.gps-479384634967196471 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479384634967196471 .mobile\:px-0{padding-left:0;padding-right:0}.gps-479384634967196471 .mobile\:pl-1{padding-left:4px}.gps-479384634967196471 .mobile\:apja6g{flex-direction:row}}.gps-479384634967196471 .ar9psg{position:absolute}.gps-479384634967196471 .a0kwml{display:flex}.gps-479384634967196471 .awx2rt{display:inline-flex}.gps-479384634967196471 .apja6g{flex-direction:row}.gps-479384634967196471 .ag2g46{flex-direction:column}.gps-479384634967196471 .aj5fhk{flex-wrap:wrap}.gps-479384634967196471 .auxbul{align-items:center}.gps-479384634967196471 .a43429{justify-content:center}.gps-479384634967196471 .azrkv4{text-align:center}
  </style>
  
      
      
            <section class="mx-auto max-w-full" style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)">
              
    <div id="ggKYJTA4aR" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-4xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="ggKYJTA4aR mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gz2gN_2cZz relative a0kwml ag2g46">
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)" class="gNVSXV0Iw2 ">
      
    <div parenttag="Col" class="gNVSXV0Iw2  !flex" style="">
      <h2 data-gp-text="" class="gp-text" style="--ta:center;--fs:normal;--ff:var(--g-font-Prata, Prata);--weight:400;--ls:0px;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#242424;word-break:break-word">
      <p>What Our Customers Are Saying</p>
      </h2>
    </div>
      </div>
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel id="gp-root-carousel-gX_7foGCJE" class=" " gp-data="{&quot;id&quot;:&quot;gX_7foGCJE&quot;,&quot;setting&quot;:{&quot;arrow&quot;:{&quot;desktop&quot;:true,&quot;mobile&quot;:false,&quot;tablet&quot;:false},&quot;arrowCustom&quot;:&quot;<svg height=\&quot;100%\&quot; width=\&quot;100%\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot; className=\&quot;w-6 h-6\&quot;  viewBox=\&quot;0 0 512 512\&quot; fill=\&quot;currentColor\&quot;>\n              <path fill=\&quot;currentColor\&quot; strokeLinecap=\&quot;round\&quot; strokeLinejoin=\&quot;round\&quot; fill=\&quot;currentColor\&quot; d=\&quot;M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z\&quot; /></svg>&quot;,&quot;autoplay&quot;:false,&quot;autoplayTimeout&quot;:2,&quot;childItem&quot;:[&quot;Slide 1&quot;,&quot;Slide 2&quot;,&quot;Slide 3&quot;,&quot;Slide 4&quot;],&quot;controlOverContent&quot;:{&quot;desktop&quot;:false},&quot;dot&quot;:{&quot;desktop&quot;:true,&quot;mobile&quot;:true,&quot;tablet&quot;:true},&quot;dotActiveColor&quot;:{&quot;desktop&quot;:&quot;#DB2652&quot;},&quot;dotColor&quot;:{&quot;desktop&quot;:&quot;#E0E0E0&quot;},&quot;enableDrag&quot;:false,&quot;loop&quot;:{&quot;desktop&quot;:false},&quot;pauseOnHover&quot;:true,&quot;slidesToShow&quot;:{&quot;desktop&quot;:2,&quot;mobile&quot;:1,&quot;tablet&quot;:2},&quot;vertical&quot;:{&quot;desktop&quot;:false}},&quot;styles&quot;:{&quot;adaptiveHeight&quot;:{&quot;desktop&quot;:true},&quot;fullWidth&quot;:{&quot;desktop&quot;:true},&quot;height&quot;:{&quot;desktop&quot;:&quot;300px&quot;},&quot;spacing&quot;:{&quot;desktop&quot;:&quot;30&quot;},&quot;width&quot;:{&quot;desktop&quot;:&quot;300px&quot;}}}" style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gX_7foGCJE" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:0px;--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden">
        <div class="h-full">
          <div id="gp-carousel-gX_7foGCJE" class="gem-slider h-full overflow-hidden">
            
    <div media-type="{{media.media_type}}" media-poster="{{media.preview_image.src}}" media-source-url="{{media.sources.first.url}}" media-last-source-url="{{mediaSourceUrl}}" external-id="{{media.external_id}}" grid-index="{{forloop.index}}" parenttag="Carousel" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gem-slider-item w-full gem-slider-item- gcRRIEo5th">
      
      
      
    <div parenttag="CarouselItem" id="gspNft6-U-" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gspNft6-U- mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gf9I1bSmFe relative a0kwml ag2g46">
      
    
      
      
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul class="a0kwml aj5fhk" style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gl-Zb5HPzG ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gTTSEsu8v8">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gNqr1Zyv3n ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gU6RsmI8D1">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gk6YiPQPAV ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gw8_WLx1Qk">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gbgCeGPqV9 ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] g_EzdQijvJ">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g8rikRKdxW ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gAYrGmijy6">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div parenttag="Col" class="g2xLPeIFlX  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word">
      <p>Perfect concealer, great especially under eyes</p>
      </div>
    </div>
    <div parenttag="Col" class="g2zTJV8StR  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word">
      <p>“I use this everyday &amp; absolutely love it! The price is amazing especially since I’ve tried them all. I was born with naturally dark under eyes so I’ve been buying concealer for it forever.”</p>
      </div>
    </div>
    <div parenttag="Col" class="gd0bpaEjWs  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#424242;word-break:break-word">
      <p>- Giselle M.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div media-type="{{media.media_type}}" media-poster="{{media.preview_image.src}}" media-source-url="{{media.sources.first.url}}" media-last-source-url="{{mediaSourceUrl}}" external-id="{{media.external_id}}" grid-index="{{forloop.index}}" parenttag="Carousel" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gem-slider-item w-full gem-slider-item- gL2RlK94ll">
      
      
      
    <div parenttag="CarouselItem" id="gSH6NGiROk" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gSH6NGiROk mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gFgDJ8Yuf9 relative a0kwml ag2g46">
      
    
      
      
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul class="a0kwml aj5fhk" style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g59gNc0KGi ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gLSw7vz-5i">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxNsr22SgD ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gG0lAzfJ08">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ggCXesXuMQ ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gZB1_7t7u-">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gYorB34CtA ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gvskB-HNEv">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxugJ6Fm4H ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gvNr4TRg82">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div parenttag="Col" class="gRTpNBnDDo  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word">
      <p>Very pretty color, love it!</p>
      </div>
    </div>
    <div parenttag="Col" class="gE5xiklocs  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word">
      <p>"GemKiss lipstick color looks FANTASTIC on me! Color is such a pretty everyday shade. Feels very nice on the lips, very moist. I love everything about it, including the tube, very sleek, and classy."</p>
      </div>
    </div>
    <div parenttag="Col" class="gJ0k4rAAKY  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#424242;word-break:break-word">
      <p>- Kristen S.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div media-type="{{media.media_type}}" media-poster="{{media.preview_image.src}}" media-source-url="{{media.sources.first.url}}" media-last-source-url="{{mediaSourceUrl}}" external-id="{{media.external_id}}" grid-index="{{forloop.index}}" parenttag="Carousel" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gem-slider-item w-full gem-slider-item- gEJfX1Nu3t">
      
      
      
    <div parenttag="CarouselItem" id="gXPJXZ-dTh" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="gXPJXZ-dTh mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="ggJlU_m5pw relative a0kwml ag2g46">
      
    
      
      
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul class="a0kwml aj5fhk" style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxPd1R9R64 ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] ggWOkxObCO">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gYkjj6uw4C ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] g3UFxkL27P">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gC_RSLPj0h ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gxoLje_8bX">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gd-5g_Ky2x ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] geVUKCnVQH">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gw9LKmyw3B ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gW_an1IBJM">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div parenttag="Col" class="gfaW45agWg  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word">
      <p>Perfect concealer, great especially under eyes</p>
      </div>
    </div>
    <div parenttag="Col" class="gJsaRELqky  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word">
      <p>“I use this everyday &amp; absolutely love it! The price is amazing especially since I’ve tried them all. I was born with naturally dark under eyes so I’ve been buying concealer for it forever.”</p>
      </div>
    </div>
    <div parenttag="Col" class="ganpBMwjZx  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#424242;word-break:break-word">
      <p>- Giselle M.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div media-type="{{media.media_type}}" media-poster="{{media.preview_image.src}}" media-source-url="{{media.sources.first.url}}" media-last-source-url="{{mediaSourceUrl}}" external-id="{{media.external_id}}" grid-index="{{forloop.index}}" parenttag="Carousel" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gem-slider-item w-full gem-slider-item- gA4elVL9GV">
      
      
      
    <div parenttag="CarouselItem" id="ggPxw8hG24" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll" class="ggPxw8hG24 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&amp;_*]:max-w-full">
    <div label="Block" tag="Col" type="component" style="--jc:start" class="gBq7P1iP2Q relative a0kwml ag2g46">
      
    
      
      
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul class="a0kwml aj5fhk" style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g3_9W0w4jO ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gbhNaujwRy">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gWIFrpPGqa ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gL_NvgCroC">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gCUCFrP3sV ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] glL3OYiM5o">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g9jL6l4sA_ ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gKlCf24s5d">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gJiQ2V0Ek5 ">
      
    <div class="a0kwml w-full ag2g46 auxbul">
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left" class="overflow-hidden leading-[0] gFK0RRQvgz">
      <div class="awx2rt" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212">
      <div>
      <span style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px" class="awx2rt auxbul a43429 overflow-hidden [&amp;>svg]:w-full [&amp;>svg]:h-auto"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z"></path></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div parenttag="Col" class="g33EO7reWi  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word">
      <p>Very pretty color, love it!</p>
      </div>
    </div>
    <div parenttag="Col" class="grMHN3Nd9P  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word">
      <p>"GemKiss lipstick color looks FANTASTIC on me! Color is such a pretty everyday shade. Feels very nice on the lips, very moist. I love everything about it, including the tube, very sleek, and classy."</p>
      </div>
    </div>
    <div parenttag="Col" class="ghebha54p3  !flex" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)">
      <div data-gp-text="" class="gp-text" style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#424242;word-break:break-word">
      <p>- Kristen S.</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
          </div>
        </div>
        
    <button class="gp-carousel-action-back gX_7foGCJE gp-carousel-arrow ar9psg h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!hidden mobile:!hidden left-1 -translate-x-full tablet:-left-4 tablet:translate-x-0 tablet:pl-1 mobile:-left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2">
      <span class="awx2rt h-6 w-6 auxbul a43429">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z"></path></svg>
    </span>
    </button>
  

        
    <button class="gp-carousel-action-next gX_7foGCJE gp-carousel-arrow ar9psg h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!hidden mobile:!hidden right-1 translate-x-full tablet:-right-4 tablet:translate-x-0 tablet:pl-1 mobile:-right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2">
      <span class="awx2rt h-6 w-6 auxbul a43429">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z"></path></svg>
    </span>
    </button>
  
        
        <div class="auxbul a43429 gap-2 azrkv4 gp-carousel-dot-container gp-carousel-dot-container-gX_7foGCJE a0kwml apja6g w-full mt-2 tablet:!flex tablet:apja6g tablet:w-full tablet:mt-2 mobile:!flex mobile:apja6g mobile:w-full mobile:mt-2"></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
            </section>
          
    
  
{% schema %}
  {
    
    "name": "Section goT5gxOEjS",
    "tag": "section",
    "class": "gps-479384634967196471 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479384634967196471)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
