
<div class="gps-455079027200229951 gps gpsi">
  <style>
    .gps-455079027200229951 .-translate-y-1\/2,.gps-455079027200229951 .mobile\:-translate-y-1\/2,.gps-455079027200229951 .mobile\:rotate-0,.gps-455079027200229951 .mobile\:rotate-180,.gps-455079027200229951 .mobile\:translate-x-0,.gps-455079027200229951 .mobile\:translate-y-1\/2,.gps-455079027200229951 .rotate-0,.gps-455079027200229951 .rotate-180,.gps-455079027200229951 .scale-100,.gps-455079027200229951 .tablet\:-translate-y-1\/2,.gps-455079027200229951 .tablet\:rotate-0,.gps-455079027200229951 .tablet\:rotate-180,.gps-455079027200229951 .tablet\:translate-x-0,.gps-455079027200229951 .tablet\:translate-y-1\/2,.gps-455079027200229951 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-455079027200229951 .shadow-md,.gps-455079027200229951 .shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-455079027200229951 .backdrop-blur-sm{--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }.gps-455079027200229951 .btn-disabled{cursor:default}.gps-455079027200229951 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-455079027200229951 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-455079027200229951 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-455079027200229951 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-455079027200229951 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-455079027200229951 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-455079027200229951 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-455079027200229951 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-455079027200229951 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-455079027200229951 .g-s-small{padding:4px 16px}.gps-455079027200229951 .g-s-medium{padding:8px 24px}.gps-455079027200229951 .g-s-large{padding:12px 32px}.gps-455079027200229951 .g-s-tag-small{padding:2px 8px}.gps-455079027200229951 .g-s-tag-medium{padding:4px 12px}.gps-455079027200229951 .g-s-tag-large{padding:8px 16px}.gps-455079027200229951 .g-s-none{padding:0}.gps-455079027200229951 .g-s-icon-small{padding:8px}.gps-455079027200229951 .g-s-icon-medium{padding:16px}.gps-455079027200229951 .g-s-icon-large{padding:24px}.gps-455079027200229951 .pointer-events-none{pointer-events:none}.gps-455079027200229951 .invisible{visibility:hidden}.gps-455079027200229951 .static{position:static}.gps-455079027200229951 .fixed{position:fixed}.gps-455079027200229951 .absolute{position:absolute}.gps-455079027200229951 .relative{position:relative}.gps-455079027200229951 .inset-0{inset:0}.gps-455079027200229951 .bottom-1\/2{bottom:50%}.gps-455079027200229951 .left-0{left:0}.gps-455079027200229951 .left-4{left:1rem}.gps-455079027200229951 .right-4{right:1rem}.gps-455079027200229951 .top-0{top:0}.gps-455079027200229951 .top-1\/2{top:50%}.gps-455079027200229951 .z-50{z-index:50}.gps-455079027200229951 .mx-auto{margin-left:auto;margin-right:auto}.gps-455079027200229951 .my-8{margin-bottom:2rem;margin-top:2rem}.gps-455079027200229951 .mb-0{margin-bottom:0}.gps-455079027200229951 .mt-2{margin-top:.5rem}.gps-455079027200229951 .block{display:block}.gps-455079027200229951 .inline-block{display:inline-block}.gps-455079027200229951 .flex{display:flex}.gps-455079027200229951 .inline-flex{display:inline-flex}.gps-455079027200229951 .grid{display:grid}.gps-455079027200229951 .contents{display:contents}.gps-455079027200229951 .\!hidden{display:none!important}.gps-455079027200229951 .hidden{display:none}.gps-455079027200229951 .aspect-square{aspect-ratio:1/1}.gps-455079027200229951 .h-5{height:1.25rem}.gps-455079027200229951 .h-6{height:1.5rem}.gps-455079027200229951 .h-fit{height:-moz-fit-content;height:fit-content}.gps-455079027200229951 .h-full{height:100%}.gps-455079027200229951 .min-h-screen{min-height:100vh}.gps-455079027200229951 .w-5{width:1.25rem}.gps-455079027200229951 .w-6{width:1.5rem}.gps-455079027200229951 .w-\[12px\]{width:12px}.gps-455079027200229951 .w-\[24px\]{width:24px}.gps-455079027200229951 .w-full{width:100%}.gps-455079027200229951 .max-w-\[100\%\],.gps-455079027200229951 .max-w-full{max-width:100%}.gps-455079027200229951 .flex-1{flex:1 1 0%}.gps-455079027200229951 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-455079027200229951 .-translate-y-1\/2,.gps-455079027200229951 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .translate-y-1\/2{--tw-translate-y:50%}.gps-455079027200229951 .rotate-0{--tw-rotate:0deg}.gps-455079027200229951 .rotate-0,.gps-455079027200229951 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .rotate-180{--tw-rotate:180deg}.gps-455079027200229951 .scale-100{--tw-scale-x:1;--tw-scale-y:1;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-455079027200229951 .animate-spin{animation:spin 1s linear infinite}.gps-455079027200229951 .cursor-pointer{cursor:pointer}.gps-455079027200229951 .flex-row{flex-direction:row}.gps-455079027200229951 .flex-col{flex-direction:column}.gps-455079027200229951 .flex-wrap{flex-wrap:wrap}.gps-455079027200229951 .items-center{align-items:center}.gps-455079027200229951 .justify-start{justify-content:flex-start}.gps-455079027200229951 .justify-center{justify-content:center}.gps-455079027200229951 .gap-2{gap:.5rem}.gps-455079027200229951 .overflow-hidden{overflow:hidden}.gps-455079027200229951 .overflow-y-auto{overflow-y:auto}.gps-455079027200229951 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-455079027200229951 .rounded-full{border-radius:9999px}.gps-455079027200229951 .rounded-l{border-bottom-left-radius:.25rem;border-top-left-radius:.25rem}.gps-455079027200229951 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-455079027200229951 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-455079027200229951 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-455079027200229951 .border-g-brand{border-color:var(--g-c-brand)}.gps-455079027200229951 .border-g-error{border-color:var(--g-c-error)}.gps-455079027200229951 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-455079027200229951 .border-g-info{border-color:var(--g-c-info)}.gps-455079027200229951 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-455079027200229951 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-455079027200229951 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-455079027200229951 .border-g-success{border-color:var(--g-c-success)}.gps-455079027200229951 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-455079027200229951 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-455079027200229951 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-455079027200229951 .border-g-warning{border-color:var(--g-c-warning)}.gps-455079027200229951 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-455079027200229951 .bg-black\/60{background-color:rgba(0,0,0,.6)}.gps-455079027200229951 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-455079027200229951 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-455079027200229951 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-455079027200229951 .bg-g-brand{background-color:var(--g-c-brand)}.gps-455079027200229951 .bg-g-error{background-color:var(--g-c-error)}.gps-455079027200229951 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-455079027200229951 .bg-g-info{background-color:var(--g-c-info)}.gps-455079027200229951 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-455079027200229951 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-455079027200229951 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-455079027200229951 .bg-g-success{background-color:var(--g-c-success)}.gps-455079027200229951 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-455079027200229951 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-455079027200229951 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-455079027200229951 .bg-g-warning{background-color:var(--g-c-warning)}.gps-455079027200229951 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-455079027200229951 .object-contain{-o-object-fit:contain;object-fit:contain}.gps-455079027200229951 .p-6{padding:1.5rem}.gps-455079027200229951 .px-4{padding-left:1rem;padding-right:1rem}.gps-455079027200229951 .text-left{text-align:left}.gps-455079027200229951 .text-center{text-align:center}.gps-455079027200229951 .align-middle{vertical-align:middle}.gps-455079027200229951 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-455079027200229951 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-455079027200229951 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-455079027200229951 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-455079027200229951 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-455079027200229951 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-455079027200229951 .text-g-brand{color:var(--g-c-brand)}.gps-455079027200229951 .text-g-error{color:var(--g-c-error)}.gps-455079027200229951 .text-g-highlight{color:var(--g-c-highlight)}.gps-455079027200229951 .text-g-info{color:var(--g-c-info)}.gps-455079027200229951 .text-g-line-1{color:var(--g-c-line-1)}.gps-455079027200229951 .text-g-line-2{color:var(--g-c-line-2)}.gps-455079027200229951 .text-g-line-3{color:var(--g-c-line-3)}.gps-455079027200229951 .text-g-success{color:var(--g-c-success)}.gps-455079027200229951 .text-g-text-1{color:var(--g-c-text-1)}.gps-455079027200229951 .text-g-text-2{color:var(--g-c-text-2)}.gps-455079027200229951 .text-g-text-3{color:var(--g-c-text-3)}.gps-455079027200229951 .text-g-warning{color:var(--g-c-warning)}.gps-455079027200229951 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-455079027200229951 .no-underline{text-decoration-line:none}.gps-455079027200229951 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-455079027200229951 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-455079027200229951 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-455079027200229951 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-455079027200229951 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-455079027200229951 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-455079027200229951 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-455079027200229951 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-455079027200229951 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-455079027200229951 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-455079027200229951 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-455079027200229951 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-455079027200229951 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-455079027200229951 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-455079027200229951 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-455079027200229951 .opacity-0{opacity:0}.gps-455079027200229951 .opacity-100{opacity:1}.gps-455079027200229951 .opacity-25{opacity:.25}.gps-455079027200229951 .opacity-30{opacity:.3}.gps-455079027200229951 .opacity-75{opacity:.75}.gps-455079027200229951 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-455079027200229951 .shadow-md,.gps-455079027200229951 .shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-455079027200229951 .shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color)}.gps-455079027200229951 .outline{outline-style:solid}.gps-455079027200229951 .outline-2{outline-width:2px}.gps-455079027200229951 .-outline-offset-2{outline-offset:-2px}.gps-455079027200229951 .outline-black{outline-color:#000}.gps-455079027200229951 .backdrop-blur-sm{--tw-backdrop-blur:blur(4px);-webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)}.gps-455079027200229951 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-455079027200229951 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-455079027200229951 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-455079027200229951 .duration-100{transition-duration:.1s}.gps-455079027200229951 .duration-200{transition-duration:.2s}.gps-455079027200229951 .duration-300{transition-duration:.3s}.gps-455079027200229951 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-455079027200229951 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-455079027200229951 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-455079027200229951 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-455079027200229951 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-455079027200229951 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-455079027200229951 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-455079027200229951 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-455079027200229951 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-455079027200229951 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-455079027200229951 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-455079027200229951 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-455079027200229951 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-455079027200229951 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-455079027200229951 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-455079027200229951 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-455079027200229951 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-455079027200229951 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-455079027200229951 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-455079027200229951 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-455079027200229951 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-455079027200229951 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-455079027200229951 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-455079027200229951 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-455079027200229951 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-455079027200229951 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-455079027200229951 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-455079027200229951 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-455079027200229951 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-455079027200229951 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-455079027200229951 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-455079027200229951 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-455079027200229951 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-455079027200229951 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-455079027200229951 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-455079027200229951 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-455079027200229951 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-455079027200229951 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-455079027200229951 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-455079027200229951 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-455079027200229951 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-455079027200229951 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-455079027200229951 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-455079027200229951 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-455079027200229951 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-455079027200229951 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-455079027200229951 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-455079027200229951 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-455079027200229951 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-455079027200229951 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-455079027200229951 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-455079027200229951 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-455079027200229951 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-455079027200229951 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-455079027200229951 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-455079027200229951 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-455079027200229951 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-455079027200229951 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-455079027200229951 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-455079027200229951 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-455079027200229951 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-455079027200229951 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-455079027200229951 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-455079027200229951 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-455079027200229951 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-455079027200229951 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-455079027200229951 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-455079027200229951 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-455079027200229951 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-455079027200229951 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-455079027200229951 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-455079027200229951 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-455079027200229951 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-455079027200229951 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-455079027200229951 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-455079027200229951 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-455079027200229951 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-455079027200229951 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-455079027200229951 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-455079027200229951 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-455079027200229951 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-455079027200229951 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-455079027200229951 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-455079027200229951 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-455079027200229951 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-455079027200229951 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-455079027200229951 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-455079027200229951 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-455079027200229951 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-455079027200229951 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-455079027200229951 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-455079027200229951 .focus\:text-g-warning:focus{color:var(--g-c-warning)}.gps-455079027200229951 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-455079027200229951 .disabled\:cursor-default:disabled{cursor:default}.gps-455079027200229951 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-455079027200229951 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-455079027200229951 .group:hover .group-hover\:opacity-0{opacity:0}.gps-455079027200229951 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-455079027200229951 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-455079027200229951 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-455079027200229951 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-455079027200229951 .tablet\:bottom-1\/2{bottom:50%}.gps-455079027200229951 .tablet\:left-4{left:1rem}.gps-455079027200229951 .tablet\:right-4{right:1rem}.gps-455079027200229951 .tablet\:top-1\/2{top:50%}.gps-455079027200229951 .tablet\:mt-2{margin-top:.5rem}.gps-455079027200229951 .tablet\:block{display:block}.gps-455079027200229951 .tablet\:inline{display:inline}.gps-455079027200229951 .tablet\:flex{display:flex}.gps-455079027200229951 .tablet\:w-full{width:100%}.gps-455079027200229951 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-455079027200229951 .tablet\:-translate-y-1\/2,.gps-455079027200229951 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-455079027200229951 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-455079027200229951 .tablet\:rotate-0,.gps-455079027200229951 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .tablet\:rotate-0{--tw-rotate:0deg}.gps-455079027200229951 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .tablet\:flex-row{flex-direction:row}.gps-455079027200229951 .tablet\:flex-col{flex-direction:column}.gps-455079027200229951 .tablet\:flex-wrap{flex-wrap:wrap}.gps-455079027200229951 .tablet\:justify-start{justify-content:flex-start}}@media (max-width:767px){.gps-455079027200229951 .mobile\:bottom-1\/2{bottom:50%}.gps-455079027200229951 .mobile\:left-4{left:1rem}.gps-455079027200229951 .mobile\:right-4{right:1rem}.gps-455079027200229951 .mobile\:top-1\/2{top:50%}.gps-455079027200229951 .mobile\:mt-2{margin-top:.5rem}.gps-455079027200229951 .mobile\:block{display:block}.gps-455079027200229951 .mobile\:inline{display:inline}.gps-455079027200229951 .mobile\:flex{display:flex}.gps-455079027200229951 .mobile\:hidden{display:none}.gps-455079027200229951 .mobile\:w-full{width:100%}.gps-455079027200229951 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-455079027200229951 .mobile\:-translate-y-1\/2,.gps-455079027200229951 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-455079027200229951 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-455079027200229951 .mobile\:rotate-0,.gps-455079027200229951 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .mobile\:rotate-0{--tw-rotate:0deg}.gps-455079027200229951 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-455079027200229951 .mobile\:flex-row{flex-direction:row}.gps-455079027200229951 .mobile\:flex-col{flex-direction:column}.gps-455079027200229951 .mobile\:flex-wrap{flex-wrap:wrap}.gps-455079027200229951 .mobile\:justify-start{justify-content:flex-start}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g9SpVaZCht"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9SpVaZCht mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gS8Id8hScc relative flex flex-col"
    >
      <div style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="gaHPhxkCWo">
    
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gaHPhxkCWo" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_nqfN31gW relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="g8PZMa5TUL">
    
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images gp-data='{"id":"g8PZMa5TUL", "setting":{"featureImageVisible":{"desktop":true,"mobile":true,"tablet":true},"hoverEffect":"other","zoomType":"default","zoom":1.5,"otherImage":1,"clickEffect":"none","galleryVisible":{"desktop":true,"mobile":true,"tablet":true},"type":{"desktop":"images","mobile":"images","tablet":"images"},"largeViewInPopup":{"desktop":false,"mobile":false,"tablet":false},"slidesToShow":{"desktop":5,"tablet":5,"mobile":3},"numberPerRow":{"desktop":5,"tablet":5,"mobile":3},"showActiveStatus":true,"controlOverContent":{"desktop":true,"mobile":true,"tablet":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"loop":{"desktop":true,"mobile":true,"tablet":true},"pauseOnHover":true,"speed":1,"arrowIcon":"","dragToScroll":true}, "styles":{"ftAspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftLayout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"ftFullWidth":{"desktop":true,"mobile":true,"tablet":true},"ftWidth":{"desktop":"100px","mobile":"100px","tablet":"100px"},"ftAlign":{"desktop":"center","mobile":"center","tablet":"center"},"aspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"width":{"desktop":"300px","mobile":"300px","tablet":"300px"},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"align":{"desktop":"flex-start","mobile":"flex-start","tablet":"flex-start"},"position":{"desktop":"bottom-left","tablet":"bottom-left","mobile":"bottom-left"},"gallerySpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"spacing":{"desktop":"8px","mobile":"8px","tablet":"8px"},"verticalLayout":{"desktop":false},"verticalLayoutRow":{"desktop":true},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"highlight"}}, "product":{{product | json | escape}}}'>
    <div class="hidden outline outline-black "></div>
    <div class="flex w-full" style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start">
    <div
    class="flex flex-col tablet:flex-col mobile:flex-col"
    style="--ai:flex-start;--ai-mobile:flex-start;--ai-tablet:flex-start;--w:100%;--w-tablet:100%;--w-mobile:100%"
  >
      <div
    class="featured-image-root"
    style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100%;--w-tablet:100%;--w-mobile:100%;--maxw:100%;--maxw-tablet:100%;--maxw-mobile:100%"
  >
    <div role="presentation" 
      class="featured-image-wrapper relative flex overflow-hidden"
      style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
    <div class="flex w-full justify-center">
    <div class="featured-image group relative w-full">
      <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    loading="lazy"
    class="lazyload w-full featured-image-only transition-opacity group-hover:opacity-0"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  768w, {%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  1024w, {%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
      <div class="zoom-element absolute top-0 left-0 opacity-0 transition-opacity">
        <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    loading="lazy"
    class="lazyload w-full featured-image-only image-zoom"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  768w, {%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  1024w, {%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- endif -%}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
       </div>
      
    </div>
    </div>
    </div>
</div>
      <div
        class="h-fit max-w-[100%] flex-1 gallery-wrapper justify-start tablet:justify-start mobile:justify-start"
        style="--fs:1.23;--d:inline-flex;--d-mobile:inline-flex;--d-tablet:inline-flex;--w:100%;--w-tablet:100%;--w-mobile:100%;--minw:100%;--minw-tablet:100%;--minw-mobile:100%"
      >
     
        
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel id="gp-root-carousel-g8PZMa5TUL-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"g8PZMa5TUL-{{product.id}}","setting":{"loop":{"desktop":true,"mobile":true,"tablet":true},"slidesToShow":{"desktop":5,"tablet":5,"mobile":3},"dot":{"desktop":true,"mobile":true,"tablet":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"controlOverContent":{"desktop":true,"mobile":true,"tablet":true},"enableDrag":true,"vertical":{"desktop":false},"dotActiveColor":{"desktop":"highlight"},"dotColor":{"desktop":"bg-1"},"arrowCustom":""},"styles":{"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":8,"tablet":8,"mobile":8},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}}}' style="--d:none;--d-mobile:none;--d-tablet:none">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper"
        style="--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
          class=" "
        >
          <div id="gp-carousel-g8PZMa5TUL-{{product.id}}" class="gem-slider h-full">
            
      {%- if product.images.size > 1 -%}
      {%- for image in product.images -%}
          {%- if featured_image != null and image.id == featured_image.id -%}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-g8PZMa5TUL-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-2 -outline-offset-2 image-item outline-black outline"
    >
      
      <img
    
    draggable="false"
    loading="lazy"
    class="lazyload "
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}}  768w, {{image.src | product_img_url: '1024x1024'}}  1024w, {{image.src | product_img_url: '1024x1024'}}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
            {% else %}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-g8PZMa5TUL-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-2 -outline-offset-2 image-item undefined"
    >
      
      <img
    
    draggable="false"
    loading="lazy"
    class="lazyload "
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}}  768w, {{image.src | product_img_url: '1024x1024'}}  1024w, {{image.src | product_img_url: '1024x1024'}}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {%- endif -%}
      {% endfor %}
      {%- endif -%}
      
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back g8PZMa5TUL-{{product.id}} absolute w-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 mobile:left-4 mobile:translate-x-0 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  

        
    <button
      class="gp-carousel-action-next g8PZMa5TUL-{{product.id}} absolute w-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 mobile:right-4 mobile:translate-x-0 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-g8PZMa5TUL-{{product.id}} flex flex-row w-full mt-2 tablet:flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
        <div
    class="grid-gallery h-fit w-full flex-wrap tablet:flex-wrap mobile:flex-wrap"
    style="--d:flex;--d-mobile:flex;--d-tablet:flex;--fd:row;--fd-tablet:row;--fd-mobile:row;--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--gg:8px;--gg-tablet:8px;--gg-mobile:8px;--ai:flex-start;--ai-tablet:flex-start;--ai-mobile:flex-start;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s)"
  > 
{%- if product.images.size > 1 -%}
  {%- for image in product.images -%}
    {%- if featured_image != null and image.id == featured_image.id -%}
    <div aria-hidden id="{{image.id}}" class="image-item outline-black outline group relative overflow-hidden outline-2 -outline-offset-2 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 6.4px);--w-tablet: calc(20% - 6.4px);--w-mobile: calc(33.333333333333336% - 5.333333333333333px);--h: fit-content;--h-tablet: fit-content;--h-mobile: fit-content;--minh: fit-content;--minh-tablet: fit-content;--minh-mobile: fit-content;max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    loading="lazy"
    class="lazyload "
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}}  768w, {{image.src | product_img_url: '1024x1024'}}  1024w, {{image.src | product_img_url: '1024x1024'}}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {% else %}
    <div aria-hidden id="{{image.id}}" class="image-item undefined group relative overflow-hidden outline-2 -outline-offset-2 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 6.4px);--w-tablet: calc(20% - 6.4px);--w-mobile: calc(33.333333333333336% - 5.333333333333333px);--h: fit-content;--h-tablet: fit-content;--h-mobile: fit-content;--minh: fit-content;--minh-tablet: fit-content;--minh-mobile: fit-content;max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    loading="lazy"
    class="lazyload "
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}}  768w, {{image.src | product_img_url: '1024x1024'}}  1024w, {{image.src | product_img_url: '1024x1024'}}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {%- endif -%}
  {% endfor %}
  {%- endif -%}
  </div>
       
      </div>
  </div>
    </div>
    
    
  <gp-modal class="hidden modal-wrapper" id="p-image-modal-g8PZMa5TUL-{{product.id}}" gp-data='{"setting":{},"styles":{"width":"80vw","--d":"none","--d-mobile":"none","--d-tablet":"none"},"closeOnClickOutside":true,"rootId":"p-image-modal-g8PZMa5TUL-{{product.id}}"}'>
  <div class="fixed inset-0 z-50 overflow-y-auto">
  <div class="min-h-screen px-4 text-center">
    <div
      class="flex justify-center items-center overlay opacity-100 fixed inset-0 bg-black/60 backdrop-blur-sm transition-all duration-100"
      aria-hidden="true"
    />
    <span class="inline-block "></span>
    <div
      class="modal-children-wrapper scale-100 opacity-100 relative my-8 inline-block w-full overflow-hidden rounded-l bg-white p-6 text-left align-middle shadow-xl transition-all duration-100"
      style="width:80vw"
    >
      <div>
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel id="gp-root-carousel-modal-g8PZMa5TUL-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"modal-g8PZMa5TUL-{{product.id}}","setting":{"loop":{"desktop":true,"mobile":true,"tablet":true},"slidesToShow":{"desktop":1,"tablet":1,"mobile":1},"controlOverContent":{"desktop":true,"tablet":true,"mobile":true},"arrow":{"desktop":true,"tablet":true,"mobile":true}},"styles":{"fullWidth":{"desktop":true,"mobile":true,"tablet":true}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper"
        style="height:80vh;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
          class=" "
        >
          <div id="gp-carousel-modal-g8PZMa5TUL-{{product.id}}" class="gem-slider h-full">
            
        {%- for image in product.images -%}
            
    <div
      
      
      style=""
      class="gem-slider-item w-full gem-slider-item-modal-g8PZMa5TUL-{{product.id}} flex items-center justify-center"
    >
      
              <img
    
    draggable="false"
    loading="lazy"
    class="lazyload h-full w-full object-contain"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}}  768w, {{image.src | product_img_url: '1024x1024'}}  1024w, {{image.src | product_img_url: '1024x1024'}}  1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--w:100%"
  />
            
    </div>
  
        {% endfor %}
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back modal-g8PZMa5TUL-{{product.id}} absolute w-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 mobile:left-4 mobile:translate-x-0 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  

        
    <button
      class="gp-carousel-action-next modal-g8PZMa5TUL-{{product.id}} absolute w-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 mobile:right-4 mobile:translate-x-0 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-modal-g8PZMa5TUL-{{product.id}} flex-row w-full mt-2 tablet:flex-row tablet:w-full tablet:mt-2 mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  </div>
    </div>
    </div>
  </div>
   </div>
  </gp-modal>
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-modal.js" defer="defer"></script>
  
    
  </gp-product-images>
  
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9DY-17R0R relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="grRFqUKvJC">
    
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        <h2
      
      class="g-heading-1 text-g-text-2 block tablet:block mobile:block"
      style="--c:var(--g-c-text-2, text-2);--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default"
    >{{ product.title }}</h2>
      
    {%- endunless -%}
  
    </div>
      <gp-price 
        gp-data='{"priceType":"regular","uid":"gFnqfYQVgh","locale":"{{shop.locale}}","currency":"{{shop.currency}}"}'
        
        class="gFnqfYQVgh data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
        data-hidden="false"
      >
        <div
      id="p-price-gFnqfYQVgh"
      class="decoration-g-text-1 g-paragraph-1 text-g-brand block tablet:block mobile:block"
      style="--c:var(--g-c-brand, brand);--ta:left;--tdt:1"
    >
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                </div>
      </gp-price>
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","customURL":{"link":"/cart","target":"_self"},"errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to cart","outOfStockLabel":"Out Of Stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="g6D8P6qTUd" aria-label="Add to cart"
      data-state="idle"
      class="g6D8P6qTUd relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 hover:text-g-error bg-g-brand border-g-line-1 g-paragraph-2 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3);--hvr-c:var(--g-c-error, error);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:var(--g-c-line-1, line-1);--hvr-bc:#4D4D4D"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

     <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/>
</svg>
</span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Add to cart
      </span>
    </button>
  </div>
        <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="g6D8P6qTUd" aria-label="Out Of Stock"
      data-state="idle"
      class="g6D8P6qTUd relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 hover:text-g-error bg-g-brand border-g-line-1 g-paragraph-2 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3);--hvr-c:var(--g-c-error, error);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:var(--g-c-line-1, line-1);--hvr-bc:#4D4D4D"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

     <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z" fill="#D6D6D6"/>
</svg>
</span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out Of Stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
    </div>
  
            </section>
          
    
</div>
{% schema %}
  {
    
    "name": "Section gWzJm84M6d",
    "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=455079027200229951)"
      }
    ],
    "blocks": []
  }
{% endschema %}
