
  
  <style>
    .gps-464933690644890133 .btn-disabled{cursor:default}.gps-464933690644890133 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464933690644890133 .pointer-events-none{pointer-events:none}.gps-464933690644890133 .invisible{visibility:hidden}.gps-464933690644890133 .static{position:static}.gps-464933690644890133 .absolute{position:absolute}.gps-464933690644890133 .relative{position:relative}.gps-464933690644890133 .inset-0{inset:0}.gps-464933690644890133 .mx-auto{margin-left:auto;margin-right:auto}.gps-464933690644890133 .mb-0{margin-bottom:0}.gps-464933690644890133 .inline-block{display:inline-block}.gps-464933690644890133 .flex{display:flex}.gps-464933690644890133 .inline-flex{display:inline-flex}.gps-464933690644890133 .grid{display:grid}.gps-464933690644890133 .contents{display:contents}.gps-464933690644890133 .\!hidden{display:none!important}.gps-464933690644890133 .hidden{display:none}.gps-464933690644890133 .h-5{height:1.25rem}.gps-464933690644890133 .w-5{width:1.25rem}.gps-464933690644890133 .w-full{width:100%}.gps-464933690644890133 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-464933690644890133 .animate-spin{animation:spin 1s linear infinite}.gps-464933690644890133 .flex-col{flex-direction:column}.gps-464933690644890133 .items-center{align-items:center}.gps-464933690644890133 .justify-center{justify-content:center}.gps-464933690644890133 .overflow-hidden{overflow:hidden}.gps-464933690644890133 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-464933690644890133 .text-center{text-align:center}.gps-464933690644890133 .align-middle{vertical-align:middle}.gps-464933690644890133 .text-g-text-3{color:var(--g-c-text-3)}.gps-464933690644890133 .no-underline{text-decoration-line:none}.gps-464933690644890133 .opacity-25{opacity:.25}.gps-464933690644890133 .opacity-30{opacity:.3}.gps-464933690644890133 .opacity-75{opacity:.75}.gps-464933690644890133 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690644890133 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690644890133 .duration-200{transition-duration:.2s}.gps-464933690644890133 .duration-300{transition-duration:.3s}.gps-464933690644890133 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933690644890133 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-464933690644890133 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}}.gps-464933690644890133 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-464933690644890133 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-464933690644890133 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-464933690644890133 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-464933690644890133 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-464933690644890133 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="0zvlk7flOW"
        style="--border:;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="0zvlk7flOW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="QfhZpNZFgs relative flex flex-col"
    >
      
      
      
    <div
      id="GAMbOIZF9F"
        style="--border:;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--rounded:;--cg:30px;--cg-tablet:14px;--gtc:minmax(0, 3fr) minmax(0, 4fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="GAMbOIZF9F mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="vTzzqHaW2d relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gPjx5wga6A">
      
    <div
      
        class="gPjx5wga6A"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:30px;--size-mobile:30px"
      >
      <p>Awards &amp; Accreditations</p>
      </h2>
    </div>
      </div>
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "LN_YvnllQs" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--cg:30px;--gtc:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="o5Wmtt7t-J relative flex flex-col"
    >
      
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"BUY IT NOW","outOfStockLabel":"Out Of Stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--radius:var(--g-radius-none);--ta:left;--ta-mobile:center"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="RCYzMdsiqg" aria-label="BUY IT NOW"
      data-state="idle"
      class="RCYzMdsiqg relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-atc"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:2em;--pr:2em;--pt:0.75em;--pb:0.75em;--w:auto;--w-tablet:auto;--w-mobile:auto;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        BUY IT NOW
      </span>
    </button>
  </div>
        <div
    
    style="--radius:var(--g-radius-none);--ta:left;--ta-mobile:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="RCYzMdsiqg" aria-label="Out Of Stock"
      data-state="idle"
      class="RCYzMdsiqg relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:2em;--pr:2em;--pt:0.75em;--pb:0.75em;--w:auto;--w-tablet:auto;--w-mobile:auto;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out Of Stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="0VKT3RIe3T relative flex flex-col"
    >
      
    <div
      
        class="gAc79yiegw"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757"
      >
      <p>​​​​​​​Award-winning products over the years. Your home is your haven. Quality cleaning products keep your home looking and feeling great.</p>
      </div>
    </div>
      
      
    <div
      id="TWb63Oa4u7"
        style="--border:;--pt:var(--g-s-2xl);--rounded:;--cg:var(--g-s-2xl);--cg-tablet:0px;--cg-mobile:var(--g-s-2xl);--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="TWb63Oa4u7 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="38E8vE9h3g relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden jxOWKP8Wpu"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left;--ta-mobile:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:80px;--w-tablet:90%;--w-mobile:80px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/d031aa8a-addb-416a-bca4-40499a8412e0/-/format/auto/" data-srcset="https://ucarecdn.com/d031aa8a-addb-416a-bca4-40499a8412e0/-/format/auto/ 768w,https://ucarecdn.com/d031aa8a-addb-416a-bca4-40499a8412e0/-/format/auto/ 1024w,https://ucarecdn.com/d031aa8a-addb-416a-bca4-40499a8412e0/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="200" height="201" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:200/201;--objf:cover;--w:100%;--w-tablet:90%;--w-mobile:80px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="xOpt4pspx8 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden IRsygEU506"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left;--ta-mobile:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:80px;--w-tablet:90%;--w-mobile:80px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/16747c24-9c9a-4b03-84b8-21763ca007ca/-/format/auto/" data-srcset="https://ucarecdn.com/16747c24-9c9a-4b03-84b8-21763ca007ca/-/format/auto/ 768w,https://ucarecdn.com/16747c24-9c9a-4b03-84b8-21763ca007ca/-/format/auto/ 1024w,https://ucarecdn.com/16747c24-9c9a-4b03-84b8-21763ca007ca/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="200" height="201" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:200/201;--objf:cover;--w:100%;--w-tablet:90%;--w-mobile:80px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="kmYKZ3Zo8A relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden In3Z3jYAtn"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left;--ta-mobile:center"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:80px;--w-tablet:90%;--w-mobile:80px"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/4a11699b-e8e2-4761-82a4-20954dfe8c37/-/format/auto/" data-srcset="https://ucarecdn.com/4a11699b-e8e2-4761-82a4-20954dfe8c37/-/format/auto/ 768w,https://ucarecdn.com/4a11699b-e8e2-4761-82a4-20954dfe8c37/-/format/auto/ 1024w,https://ucarecdn.com/4a11699b-e8e2-4761-82a4-20954dfe8c37/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="200" height="201" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:200/201;--objf:cover;--w:100%;--w-tablet:90%;--w-mobile:80px"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="T97YYtHNII relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden i_ZaFucpll"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--mt-mobile:var(undefined);--pt-mobile:var(--g-s-2xl);--rounded:;--roundedImg:;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="100" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="https://ucarecdn.com/276908d5-196e-4998-b130-4b68e58b6102/-/format/auto/" data-srcset="https://ucarecdn.com/276908d5-196e-4998-b130-4b68e58b6102/-/format/auto/ 768w,https://ucarecdn.com/276908d5-196e-4998-b130-4b68e58b6102/-/format/auto/ 1024w,https://ucarecdn.com/276908d5-196e-4998-b130-4b68e58b6102/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="946" height="630" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:946/630;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gyArXqkrAt",
    "tag": "section",
    "class": "gps-464933690644890133 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464933690644890133)"
      }
    ],
    "blocks": []
  }
{% endschema %}
