
  
  <style>
    .gps-452876547771073102 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-452876547771073102 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-452876547771073102 .g-s-medium{padding:8px 24px}.gps-452876547771073102 .invisible{visibility:hidden}.gps-452876547771073102 .absolute{position:absolute}.gps-452876547771073102 .relative{position:relative}.gps-452876547771073102 .inset-0{inset:0}.gps-452876547771073102 .mx-auto{margin-left:auto;margin-right:auto}.gps-452876547771073102 .mb-0{margin-bottom:0}.gps-452876547771073102 .inline-block{display:inline-block}.gps-452876547771073102 .flex{display:flex}.gps-452876547771073102 .inline-flex{display:inline-flex}.gps-452876547771073102 .grid{display:grid}.gps-452876547771073102 .h-5{height:1.25rem}.gps-452876547771073102 .h-6{height:1.5rem}.gps-452876547771073102 .w-5{width:1.25rem}.gps-452876547771073102 .w-6{width:1.5rem}.gps-452876547771073102 .w-full{width:100%}.gps-452876547771073102 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-452876547771073102 .animate-spin{animation:spin 1s linear infinite}.gps-452876547771073102 .flex-col{flex-direction:column}.gps-452876547771073102 .items-center{align-items:center}.gps-452876547771073102 .justify-center{justify-content:center}.gps-452876547771073102 .overflow-hidden{overflow:hidden}.gps-452876547771073102 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-452876547771073102 .bg-g-brand{background-color:var(--g-c-brand)}.gps-452876547771073102 .align-middle{vertical-align:middle}.gps-452876547771073102 .leading-\[0\]{line-height:0}.gps-452876547771073102 .text-g-brand{color:var(--g-c-brand)}.gps-452876547771073102 .text-g-text-1{color:var(--g-c-text-1)}.gps-452876547771073102 .text-g-text-2{color:var(--g-c-text-2)}.gps-452876547771073102 .text-g-text-3{color:var(--g-c-text-3)}.gps-452876547771073102 .no-underline{text-decoration-line:none}.gps-452876547771073102 .opacity-25{opacity:.25}.gps-452876547771073102 .opacity-75{opacity:.75}.gps-452876547771073102 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452876547771073102 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452876547771073102 .duration-200{transition-duration:.2s}.gps-452876547771073102 .duration-300{transition-duration:.3s}.gps-452876547771073102 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-452876547771073102 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-452876547771073102 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-452876547771073102 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-452876547771073102 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-452876547771073102 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-452876547771073102 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-452876547771073102 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-452876547771073102 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-452876547771073102 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-452876547771073102 .\[\&\>svg\]\:w-full>svg{width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gDO3cQsVg9"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDO3cQsVg9 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gHElHNXYBb relative flex flex-col"
    >
      
      
      
    <div
      id="gdYvcisPbc"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdYvcisPbc mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gaXsG6FBek relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="gYuJjYogo_ relative flex flex-col"
    >
      
    <div
      
        class="gMr8in07Es"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
      >
      <div
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:0;--c:var(--g-c-text-1, text-1)"
      >
      <p>In deserunt eu c</p><p>&nbsp;</p>
      </div>
    </div>
    </div>
    </div>
  
    <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="gh2404lCf6">
      
    <div
      
        class="gh2404lCf6"
        style="--tt:default"
      >
      <h2
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    
    <div
      uid="gNt7MhuyCS"
       style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:1rem"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:1rem"
    >
    <div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gLv-DZh9D2 relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] g_OdPV69fd"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:36px;--h:36px;--minw:36px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-brand"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gATTGYsIAO relative flex flex-col"
    >
      
    <div
      
        class="gvpps8rpKk"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:0;--c:var(--g-c-text-1, text-1)"
      >
      Your custom text goes here
      </p>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:1rem"
    >
    <div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gVPGGqhVNJ relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gkvTcYuaBq"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:36px;--h:36px;--minw:36px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-brand"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gTIZGCyY5l relative flex flex-col"
    >
      
    <div
      
        class="gad8FaLlXm"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:0;--c:var(--g-c-text-1, text-1)"
      >
      Your custom text goes here
      </p>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:1rem"
    >
    <div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gizaJl96zi relative flex flex-col"
    >
      <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
      class="overflow-hidden leading-[0] gd1wAxHkDP"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-brand, brand);--t:rotate(0deg);--w:36px;--h:36px;--minw:36px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-brand"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="guu-wRKMfa relative flex flex-col"
    >
      
    <div
      
        class="g2kr8mE9Fm"
        style="--tt:default;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
      >
      <p
        class="text-g-text-1 g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--line-clamp:0;--c:var(--g-c-text-1, text-1)"
      >
      Your custom text goes here
      </p>
    </div>
    </div>
  </li>
      </ul>
  </div>
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gfAo484tAT" aria-label="Button"
      data-state="idle"
      class="gfAo484tAT relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div><div
    
    role="presentation"
    class="group/image overflow-hidden gGT4Jd55FF"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
  >
    <div 
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full gp_lazyload"
    data-src="{{ "452020533844771446-7e5b5e54-4d83-482f-9fdf-62515def31eb.png" | asset_url }}" data-srcset="{{ '452020533844771446-7e5b5e54-4d83-482f-9fdf-62515def31eb.png' | asset_img_url: '768x768' }} 768w, {{ '452020533844771446-7e5b5e54-4d83-482f-9fdf-62515def31eb.png' | asset_img_url: '1024x1024' }} 1024w, {{ '452020533844771446-7e5b5e54-4d83-482f-9fdf-62515def31eb.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="970" height="865" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:970/865;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="ginhtDqxwa">
      
    <script defer strategy="lazyOnload" src="//loox.io/widget/loox.js?shop={{ request.host }}"></script>
    <div
      style="--ta:left"
    >
      <div id="looxCarousel" data-show-more="true" data-loox-aggregate>
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gyM_PWJEV4",
    "tag": "section",
    "class": "gps-452876547771073102 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=452876547771073102)"
      }
    ],
    "blocks": []
  }
{% endschema %}
