
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1fDAlp7lk.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-487666013840671642 .-translate-y-1\/2,.gps-487666013840671642 .mobile\:-translate-y-1\/2,.gps-487666013840671642 .mobile\:rotate-0,.gps-487666013840671642 .mobile\:rotate-180,.gps-487666013840671642 .mobile\:translate-x-0,.gps-487666013840671642 .mobile\:translate-y-1\/2,.gps-487666013840671642 .rotate-0,.gps-487666013840671642 .rotate-180,.gps-487666013840671642 .tablet\:-translate-y-1\/2,.gps-487666013840671642 .tablet\:rotate-0,.gps-487666013840671642 .tablet\:rotate-180,.gps-487666013840671642 .tablet\:translate-x-0,.gps-487666013840671642 .tablet\:translate-y-1\/2,.gps-487666013840671642 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-487666013840671642 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-487666013840671642 .absolute{position:absolute}.gps-487666013840671642 .relative{position:relative}.gps-487666013840671642 .bottom-1\/2{bottom:50%}.gps-487666013840671642 .left-4{left:16px}.gps-487666013840671642 .right-4{right:16px}.gps-487666013840671642 .top-1\/2{top:50%}.gps-487666013840671642 .mx-auto{margin-left:auto;margin-right:auto}.gps-487666013840671642 .my-0{margin-bottom:0;margin-top:0}.gps-487666013840671642 .mb-0{margin-bottom:0}.gps-487666013840671642 .mt-2{margin-top:8px}.gps-487666013840671642 .block{display:block}.gps-487666013840671642 .inline-block{display:inline-block}.gps-487666013840671642 .flex{display:flex}.gps-487666013840671642 .inline-flex{display:inline-flex}.gps-487666013840671642 .grid{display:grid}.gps-487666013840671642 .\!hidden{display:none!important}.gps-487666013840671642 .hidden{display:none}.gps-487666013840671642 .aspect-square{aspect-ratio:1/1}.gps-487666013840671642 .h-6{height:24px}.gps-487666013840671642 .h-full{height:100%}.gps-487666013840671642 .w-6{width:24px}.gps-487666013840671642 .w-\[12px\]{width:12px}.gps-487666013840671642 .w-full{width:100%}.gps-487666013840671642 .max-w-full{max-width:100%}.gps-487666013840671642 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-487666013840671642 .-translate-y-1\/2,.gps-487666013840671642 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .translate-y-1\/2{--tw-translate-y:50%}.gps-487666013840671642 .rotate-0{--tw-rotate:0deg}.gps-487666013840671642 .rotate-0,.gps-487666013840671642 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .rotate-180{--tw-rotate:180deg}.gps-487666013840671642 .cursor-pointer{cursor:pointer}.gps-487666013840671642 .flex-row{flex-direction:row}.gps-487666013840671642 .flex-col{flex-direction:column}.gps-487666013840671642 .items-center{align-items:center}.gps-487666013840671642 .justify-center{justify-content:center}.gps-487666013840671642 .gap-2{gap:8px}.gps-487666013840671642 .gap-y-0{row-gap:0}.gps-487666013840671642 .overflow-hidden{overflow:hidden}.gps-487666013840671642 .rounded-full{border-radius:9999px}.gps-487666013840671642 .text-center{text-align:center}.gps-487666013840671642 .align-middle{vertical-align:middle}.gps-487666013840671642 .leading-\[0\]{line-height:0}.gps-487666013840671642 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-487666013840671642 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-487666013840671642 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013840671642 .duration-200{transition-duration:.2s}.gps-487666013840671642 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013840671642 .disabled\:cursor-default:disabled{cursor:default}.gps-487666013840671642 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-487666013840671642 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-487666013840671642 .tablet\:bottom-1\/2{bottom:50%}.gps-487666013840671642 .tablet\:left-4{left:16px}.gps-487666013840671642 .tablet\:right-4{right:16px}.gps-487666013840671642 .tablet\:top-1\/2{top:50%}.gps-487666013840671642 .tablet\:mt-2{margin-top:8px}.gps-487666013840671642 .tablet\:block{display:block}.gps-487666013840671642 .tablet\:\!hidden{display:none!important}.gps-487666013840671642 .tablet\:w-full{width:100%}.gps-487666013840671642 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-487666013840671642 .tablet\:-translate-y-1\/2,.gps-487666013840671642 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-487666013840671642 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-487666013840671642 .tablet\:rotate-0,.gps-487666013840671642 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .tablet\:rotate-0{--tw-rotate:0deg}.gps-487666013840671642 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .tablet\:flex-row{flex-direction:row}.gps-487666013840671642 .tablet\:px-0{padding-left:0;padding-right:0}.gps-487666013840671642 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-487666013840671642 .mobile\:bottom-1\/2{bottom:50%}.gps-487666013840671642 .mobile\:left-4{left:16px}.gps-487666013840671642 .mobile\:right-4{right:16px}.gps-487666013840671642 .mobile\:top-1\/2{top:50%}.gps-487666013840671642 .mobile\:mt-2{margin-top:8px}.gps-487666013840671642 .mobile\:block{display:block}.gps-487666013840671642 .mobile\:\!hidden{display:none!important}.gps-487666013840671642 .mobile\:w-full{width:100%}.gps-487666013840671642 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-487666013840671642 .mobile\:-translate-y-1\/2,.gps-487666013840671642 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-487666013840671642 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-487666013840671642 .mobile\:rotate-0,.gps-487666013840671642 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .mobile\:rotate-0{--tw-rotate:0deg}.gps-487666013840671642 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-487666013840671642 .mobile\:flex-row{flex-direction:row}.gps-487666013840671642 .mobile\:px-0{padding-left:0;padding-right:0}.gps-487666013840671642 .mobile\:pl-1{padding-left:4px}}.gps-487666013840671642 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-487666013840671642 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-487666013840671642 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-487666013840671642 .\[\&_p\]\:inline p{display:inline}.gps-487666013840671642 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-487666013840671642 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gD4C1rIehr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:104px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:104px;--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "432750572815254551-0f2b898c-cb3b-45c0-a8bd-0417c9f631a9.svg" | asset_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD4C1rIehr mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMsge9942e relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxKcj2OKZV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxKcj2OKZV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3vekBMHoy relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkfZiC1aq8 "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Orbitron, Orbitron);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#242424;word-break:break-word;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Compare features</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYHirSu6DI "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>With other brand similar product</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gJWb77MQwM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJWb77MQwM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXIoNuxX2k relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grMiTJ5PDI"
        style="--b:solid;--bc:#F3F3F3;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-l);--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grMiTJ5PDI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gY2SgfgrXR relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9_fulOkeu"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mr:0px;--pt:0px;--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9_fulOkeu mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUjR-Sf1rO relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqsu65gTZ7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:3px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqsu65gTZ7 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKMS5wjW0b relative flex flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guQ7gzPKIV relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbNuAMfrdv "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Others</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goluyQF6n- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gjb128TSkL "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Ours</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gm04sEVo5W"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm04sEVo5W mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFF4jYzyLZ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKbvADc2X1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKbvADc2X1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5BbGhMY6R relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gSVFObjTLh "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Warranty</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpo9Ct-tif relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUa5F2kcjV "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>None</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g21IppVcaF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gqkiQU6tFl "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>1 year</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gVw1_ZQE5R"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVw1_ZQE5R mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAA6b_XkD9 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFdA2MWHHl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFdA2MWHHl mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQvhaxGjRd relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdaY-WF9HW "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Nutrients Lead-in</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gnioERZ43- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="goyUDsMm55 "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Slow</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHr2rM8WNs relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gh-ptTpv2n "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Fast</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gEBS2cwk5E"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEBS2cwk5E mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghIrYl_F9k relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gG-feD0GsB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG-feD0GsB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2R0lwHVZf relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVvs6OLkBE "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Toxins Flush Out</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJ27nhTgjK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gA6R7zk4I9 "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Slow</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ge7tRS-qu3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFNYe7Hs-z "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Fast</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g6EQ-eRQCI"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6EQ-eRQCI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goQyhaJuS2 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gfHjSqgjFr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfHjSqgjFr mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfjTXj9z_0 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJMc4zAgsn "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Constant Temperature</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwwIGX12wg relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gMPOa-Zpjx"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwxgUu11xf relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g8dpI9hSSe"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAM_3D4pRa"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAM_3D4pRa mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYir9L-zDx relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2ax4Q1LRU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2ax4Q1LRU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKMtocD_S5 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMwELYR4sa "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Humanization Design</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt358BBowD relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gaMYNs5OvV"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gyRbPw7Jen relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] giu8jOsfXo"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="giHh4coVEH"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giHh4coVEH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2I8KasTlJ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g29eQBYb8J"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g29eQBYb8J mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goQ4OD4CjA relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYSJtdNuPB "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Eye Massage Function</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6JfxtVPFg relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gq7tQGR4z1"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gDTk0TQEtW relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gTlB6Clc5J"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAj-tTO3sQ"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAj-tTO3sQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geK5Y4X1aH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4OEpjQ3T2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4OEpjQ3T2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7NKZwHdiz relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsFEPGZVEv "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>CE, ROHS Certificated</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu0VEZT9CF relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gaXdPGTvvb"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gyXWZZ78En relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g-Ff7qa6kJ"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAjL389cyC"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAjL389cyC mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJfZ_FWua7 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gH2JglEhOb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH2JglEhOb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSRngbT_ZQ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gKe2bDebzP "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>FDA, FCC Certificated</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOu0Mp7vU2 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gu0d8yL_mh"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjXCoeAtnG relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gYLp4BZpxi"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gt7BQODhGS relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image glwQ-Qc9R-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png" | asset_url }}" data-srcset="{{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="600" height="764" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gHUT536qQp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHUT536qQp mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-wzZWLe-7 relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gmCPk38h4G-{{section.id}}" class=" "  gp-data='{"id":"gmCPk38h4G-{{section.id}}","setting":{"arrow":{"desktop":false},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":6,"mobile":2.5,"tablet":5},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"30"},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gmCPk38h4G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-gmCPk38h4G-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g0FAL6aAxc"
    >
      <div
    
    role="presentation"
    class="group/image g2d62jOHB5"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg" | asset_url }}" data-srcset="{{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 768w, {{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 1024w, {{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gSWeojXBti"
    >
      <div
    
    role="presentation"
    class="group/image gfZAJCd9NI"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg" | asset_url }}" data-srcset="{{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 768w, {{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 1024w, {{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gUfN182Jyu"
    >
      <div
    
    role="presentation"
    class="group/image gCfGzLBeAx"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg" | asset_url }}" data-srcset="{{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 768w, {{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 1024w, {{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gVGRMa_VVX"
    >
      <div
    
    role="presentation"
    class="group/image g0xcVrQejT"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg" | asset_url }}" data-srcset="{{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 768w, {{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 1024w, {{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- g9m4za7obD"
    >
      <div
    
    role="presentation"
    class="group/image g8E11y9YI4"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg" | asset_url }}" data-srcset="{{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 768w, {{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 1024w, {{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gc8XKi6KVF"
    >
      <div
    
    role="presentation"
    class="group/image gaq2GUYLLc"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg" | asset_url }}" data-srcset="{{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 768w, {{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 1024w, {{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gmCPk38h4G-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gmCPk38h4G-{{section.id}} gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gmCPk38h4G-{{section.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  
<style>
  #gempages-support-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    opacity: 0.8;
    z-index: 99;
    padding: 21px 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex !important;
    align-items: center;
  }
  #gempages-support-banner svg{
    margin-right: 12px;
    min-width: 28px;
  }
  #gempages-support-banner a{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  @media(max-width: 787px){
    #gempages-support-banner{
      padding: 8px 16px;
    }
  }
</style>
<div id="gempages-support-banner">
  <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7462 0.0075913L0.150737 8.5098C0.0359955 8.53804 -0.0213755 8.66515 0.00731004 8.77814L2.13004 15.6703C2.15872 15.7833 2.28781 15.8539 2.38821 15.8115L22.6258 9.56904C23.5868 9.27245 24.4043 8.60866 24.8776 7.70477C26.1398 5.31794 27.1725 2.84637 27.9757 0.275933C28.0617 0.106454 27.9039 -0.0347785 27.7462 0.0075913Z" fill="#FFBB1C"></path><path d="M21.1207 11.9276L3.98112 17.2097C3.89506 17.2379 3.82335 17.3368 3.86638 17.4357L5.67356 23.2545C5.70225 23.3392 5.80265 23.4098 5.90305 23.3816L16.8322 20.0061C17.6498 19.7519 18.3382 19.1869 18.7398 18.4384C19.8012 16.4329 20.6904 14.3285 21.3502 12.1536C21.3932 12.0265 21.2641 11.8852 21.1207 11.9276Z" fill="#E8486C"></path><path d="M14.6079 22.5764L7.46525 24.7797C7.37919 24.7938 7.35051 24.8927 7.36485 24.9633L8.88518 29.8923C8.89952 29.977 8.99992 30.0194 9.07164 29.9912L10.9649 29.4121C11.6533 29.2003 12.227 28.7201 12.5713 28.0845C13.4749 26.3897 14.2063 24.6102 14.78 22.7742C14.8374 22.6471 14.7227 22.5341 14.6079 22.5764Z" fill="#476DF2"></path></svg>
  <span>This page is created by GemPages Support. <a href="https://help.gempages.net/articles/support-options#why-my-page-has-a-powered-by-gempages-label" target="_blank">Learn more</a></span>
</div>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-487666013840671642 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=487666013840671642&template_id=487646953195176616)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
