
  
  <style>
    .gps-464933691232092693 .-rotate-90,.gps-464933691232092693 .-translate-y-1\/2,.gps-464933691232092693 .mobile\:-translate-y-1\/2,.gps-464933691232092693 .mobile\:rotate-0,.gps-464933691232092693 .mobile\:rotate-180,.gps-464933691232092693 .mobile\:translate-x-0,.gps-464933691232092693 .mobile\:translate-y-1\/2,.gps-464933691232092693 .rotate-0,.gps-464933691232092693 .rotate-180,.gps-464933691232092693 .rotate-90,.gps-464933691232092693 .tablet\:-translate-y-1\/2,.gps-464933691232092693 .tablet\:rotate-0,.gps-464933691232092693 .tablet\:rotate-180,.gps-464933691232092693 .tablet\:translate-x-0,.gps-464933691232092693 .tablet\:translate-y-1\/2,.gps-464933691232092693 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-464933691232092693 .shadow-md,.gps-464933691232092693 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-464933691232092693 .btn-disabled{cursor:default}.gps-464933691232092693 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-464933691232092693 .g-s-none{padding:0}.gps-464933691232092693 .pointer-events-none{pointer-events:none}.gps-464933691232092693 .invisible{visibility:hidden}.gps-464933691232092693 .static{position:static}.gps-464933691232092693 .absolute{position:absolute}.gps-464933691232092693 .relative{position:relative}.gps-464933691232092693 .inset-0{inset:0}.gps-464933691232092693 .bottom-1\/2{bottom:50%}.gps-464933691232092693 .left-4{left:1rem}.gps-464933691232092693 .right-4{right:1rem}.gps-464933691232092693 .top-1\/2{top:50%}.gps-464933691232092693 .mx-auto{margin-left:auto;margin-right:auto}.gps-464933691232092693 .mb-0{margin-bottom:0}.gps-464933691232092693 .mr-\[12px\]{margin-right:12px}.gps-464933691232092693 .mt-2{margin-top:.5rem}.gps-464933691232092693 .block{display:block}.gps-464933691232092693 .inline-block{display:inline-block}.gps-464933691232092693 .flex{display:flex}.gps-464933691232092693 .inline-flex{display:inline-flex}.gps-464933691232092693 .grid{display:grid}.gps-464933691232092693 .contents{display:contents}.gps-464933691232092693 .\!hidden{display:none!important}.gps-464933691232092693 .hidden{display:none}.gps-464933691232092693 .aspect-square{aspect-ratio:1/1}.gps-464933691232092693 .h-5{height:1.25rem}.gps-464933691232092693 .h-6{height:1.5rem}.gps-464933691232092693 .h-\[24px\]{height:24px}.gps-464933691232092693 .h-auto{height:auto}.gps-464933691232092693 .h-fit{height:-moz-fit-content;height:fit-content}.gps-464933691232092693 .h-full{height:100%}.gps-464933691232092693 .w-5{width:1.25rem}.gps-464933691232092693 .w-6{width:1.5rem}.gps-464933691232092693 .w-\[12px\]{width:12px}.gps-464933691232092693 .w-\[24px\]{width:24px}.gps-464933691232092693 .w-full{width:100%}.gps-464933691232092693 .max-w-\[100\%\],.gps-464933691232092693 .max-w-full{max-width:100%}.gps-464933691232092693 .flex-1{flex:1 1 0%}.gps-464933691232092693 .shrink-0{flex-shrink:0}.gps-464933691232092693 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-464933691232092693 .-translate-y-1\/2,.gps-464933691232092693 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .translate-y-1\/2{--tw-translate-y:50%}.gps-464933691232092693 .-rotate-90{--tw-rotate:-90deg}.gps-464933691232092693 .-rotate-90,.gps-464933691232092693 .rotate-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .rotate-0{--tw-rotate:0deg}.gps-464933691232092693 .rotate-180{--tw-rotate:180deg}.gps-464933691232092693 .rotate-180,.gps-464933691232092693 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .rotate-90{--tw-rotate:90deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-464933691232092693 .animate-spin{animation:spin 1s linear infinite}.gps-464933691232092693 .cursor-pointer{cursor:pointer}.gps-464933691232092693 .appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-464933691232092693 .flex-row{flex-direction:row}.gps-464933691232092693 .flex-col{flex-direction:column}.gps-464933691232092693 .flex-wrap{flex-wrap:wrap}.gps-464933691232092693 .items-end{align-items:flex-end}.gps-464933691232092693 .items-center{align-items:center}.gps-464933691232092693 .justify-center{justify-content:center}.gps-464933691232092693 .gap-2{gap:.5rem}.gps-464933691232092693 .gap-3{gap:.75rem}.gps-464933691232092693 .overflow-hidden{overflow:hidden}.gps-464933691232092693 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-464933691232092693 .rounded-full{border-radius:9999px}.gps-464933691232092693 .border{border-width:1px}.gps-464933691232092693 .\!border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-464933691232092693 .border-y{border-bottom-width:1px;border-top-width:1px}.gps-464933691232092693 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-464933691232092693 .bg-transparent{background-color:transparent}.gps-464933691232092693 .px-4{padding-left:1rem;padding-right:1rem}.gps-464933691232092693 .text-center{text-align:center}.gps-464933691232092693 .text-g-text-2{color:var(--g-c-text-2)}.gps-464933691232092693 .text-g-text-3{color:var(--g-c-text-3)}.gps-464933691232092693 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-464933691232092693 .line-through{text-decoration-line:line-through}.gps-464933691232092693 .no-underline{text-decoration-line:none}.gps-464933691232092693 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-464933691232092693 .opacity-0{opacity:0}.gps-464933691232092693 .opacity-25{opacity:.25}.gps-464933691232092693 .opacity-30{opacity:.3}.gps-464933691232092693 .opacity-75{opacity:.75}.gps-464933691232092693 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-464933691232092693 .shadow-md,.gps-464933691232092693 .shadow-none{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-464933691232092693 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-464933691232092693 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-464933691232092693 .outline{outline-style:solid}.gps-464933691232092693 .outline-1{outline-width:1px}.gps-464933691232092693 .-outline-offset-1{outline-offset:-1px}.gps-464933691232092693 .outline-black{outline-color:#000}.gps-464933691232092693 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691232092693 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691232092693 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691232092693 .duration-100{transition-duration:.1s}.gps-464933691232092693 .duration-150{transition-duration:.15s}.gps-464933691232092693 .duration-200{transition-duration:.2s}.gps-464933691232092693 .duration-300{transition-duration:.3s}.gps-464933691232092693 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-464933691232092693 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-464933691232092693 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-464933691232092693 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-464933691232092693 .hover\:text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}}.gps-464933691232092693 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-464933691232092693 .disabled\:cursor-default:disabled{cursor:default}.gps-464933691232092693 .disabled\:cursor-not-allowed:disabled{cursor:not-allowed}.gps-464933691232092693 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-464933691232092693 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-464933691232092693 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-464933691232092693 .data-\[disabled\=true\]\:hidden[data-disabled=true],.gps-464933691232092693 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-464933691232092693 .data-\[disabled\=true\]\:opacity-60[data-disabled=true]{opacity:.6}.gps-464933691232092693 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-464933691232092693 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-464933691232092693 .tablet\:bottom-1\/2{bottom:50%}.gps-464933691232092693 .tablet\:left-4{left:1rem}.gps-464933691232092693 .tablet\:right-4{right:1rem}.gps-464933691232092693 .tablet\:top-1\/2{top:50%}.gps-464933691232092693 .tablet\:mt-2{margin-top:.5rem}.gps-464933691232092693 .tablet\:inline{display:inline}.gps-464933691232092693 .tablet\:w-full{width:100%}.gps-464933691232092693 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-464933691232092693 .tablet\:-translate-y-1\/2,.gps-464933691232092693 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-464933691232092693 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-464933691232092693 .tablet\:rotate-0,.gps-464933691232092693 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .tablet\:rotate-0{--tw-rotate:0deg}.gps-464933691232092693 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .tablet\:flex-row{flex-direction:row}.gps-464933691232092693 .tablet\:flex-col{flex-direction:column}.gps-464933691232092693 .tablet\:flex-wrap{flex-wrap:wrap}}@media (max-width:767px){.gps-464933691232092693 .mobile\:bottom-1\/2{bottom:50%}.gps-464933691232092693 .mobile\:left-4{left:1rem}.gps-464933691232092693 .mobile\:right-4{right:1rem}.gps-464933691232092693 .mobile\:top-1\/2{top:50%}.gps-464933691232092693 .mobile\:mt-2{margin-top:.5rem}.gps-464933691232092693 .mobile\:inline{display:inline}.gps-464933691232092693 .mobile\:w-full{width:100%}.gps-464933691232092693 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-464933691232092693 .mobile\:-translate-y-1\/2,.gps-464933691232092693 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-464933691232092693 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-464933691232092693 .mobile\:rotate-0,.gps-464933691232092693 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .mobile\:rotate-0{--tw-rotate:0deg}.gps-464933691232092693 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-464933691232092693 .mobile\:flex-row{flex-direction:row}.gps-464933691232092693 .mobile\:flex-col{flex-direction:column}.gps-464933691232092693 .mobile\:flex-wrap{flex-wrap:wrap}.gps-464933691232092693 .mobile\:overflow-visible{overflow:visible}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--bottom:0px;--left:0px;--pos:fixed;--right:0px;--z:99;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="K7bme3FtW6"
        style="--border:;--pt:var(--g-s-m);--pb:var(--g-s-m);--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="K7bme3FtW6 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="1mNRw3-lx6 relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8275150831938' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['turbo-spin-mop-and-bucket-set']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8275150831938'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8275150831938' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['turbo-spin-mop-and-bucket-set']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8275150831938'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gviZGmwnjk" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--cg:0px;--gtc:minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="Y1bRdmafeJ relative flex flex-col"
    >
      
      
      
    <div
      id="fKDIAjoRQw"
        style="--border:;--d:none;--d-mobile:grid;--d-tablet:grid;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--pt-tablet:var(--g-s-xxs);--pl-tablet:15px;--pb-tablet:var(--g-s-xxs);--pr-tablet:15px;--rounded:;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="fKDIAjoRQw mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="iQ7S-MUPRU relative flex flex-col"
    >
      <div style="--border:;--headerBorder:;--iconPosition:;--rounded:" class="2lSBH3Ndgk">
      
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:0"
      gp-data='{"setting":{"expanded":false,"activeKey":"0","isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"text-2"},"headerBorder":{"hover":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"},"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"itemBorder":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false}},"width":{"desktop":"800px"},"fullWidth":{"desktop":true},"itemHeaderSpacing":{"type":"none"}},"uid":"2lSBH3Ndgk"}'
    >
      <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bc:transparent"
      class="2lSBH3Ndgk gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="2lSBH3Ndgk flex items-center gp-accordion-item_header g-s-none"
        style="--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--c:var(--g-c-text-2, text-2)"
            data-index="0"
            class="2lSBH3Ndgk gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200 text-g-text-2"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill='currentColor' d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class=""
        style=""
      >
      Accordion 1
      </span>
    </div>
      </div>
      <div
        uid="o-EYvUWtfH"
        data-index="0"
        class="2lSBH3Ndgk gp-accordion-item_body hidden g-s-none"
        style=""
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="NjbmXMS_l8 relative flex flex-col"
    >
      
      
      
    <div
      id="gn3aQR0JXA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-s);--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn3aQR0JXA mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-IJ23Z03s relative flex flex-col"
    >
      <div style="" class="j8DmYtrGSU">
      
    {%- liquid 
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-quantity
        data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        class="relative inline-flex w-full bg-transparent transition-all duration-150 data-[disabled=true]:opacity-60"
        style="--h:48px;--h-tablet:42px;--jc:center"
      >

      
          <button
            title="Decrement"
            aria-label="decrement"
            {% if available == false %} disabled {% endif %}
            class="hover:border-g-line-3 gp-minus flex aspect-square h-full shrink-0 cursor-pointer items-center justify-center outline-none disabled:cursor-not-allowed"
            style="--w:48px;--w-tablet:42px;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3);--bblr:;--btlr:;--hvr-bblr:;--hvr-btlr:"
          >
            <span class="inline-flex items-center justify-center" style="--w:[object Object];--w-tablet:[object Object];--w-mobile:[object Object]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
              </svg>
            </span>
          </button>
      
        <input
          pattern="[0-9]"
          type="text"
          name="product-quantity"          
          {% if available == false %} disabled {% endif %}
          class="hover:border-g-line-3 g-paragraph-1 !border-x-0 px-4 flex shadow-none appearance-none items-center border-y text-center outline-none transition-all duration-150 hover:text-black disabled:pointer-events-none h-auto"
          style="--w:80px;--w-tablet:60px;--w-mobile:100%;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3)"          
          aria-label="Quantity"
          inputmode="numeric"
          min="{{ current_variant.quantity_rule.min }}"
          step="{{ current_variant.quantity_rule.increment }}"
          value="1"
          autocomplete='off'
        />

        
          <button
            {% if available == false %} disabled {% endif %}
            aria-label="increment"
            title="Increment"
            class="hover:border-g-line-3 gp-plus flex aspect-square h-full shrink-0 cursor-pointer items-center justify-center outline-none transition-all duration-150 disabled:pointer-events-none"
            style="--w:48px;--w-tablet:42px;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3);--bbrr:;--btrr:;--hvr-bbrr:;--hvr-btrr:"
          >
            <span class="inline-flex items-center justify-center" style="--w:[object Object];--w-tablet:[object Object];--w-mobile:[object Object]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </span>
          </button>
        
      </gp-quantity>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTPFzfXNZj relative flex flex-col"
    >
      
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"ADD TO CART","outOfStockLabel":"Out of stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--ta:center"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="2ooXZfYy-z" aria-label="ADD TO CART"
      data-state="idle"
      class="2ooXZfYy-z relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-atc"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:1.5em;--pr:1.5em;--pt:0.75em;--pb:0.75em;--w:;--w-tablet:;--w-mobile:100%;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        ADD TO CART
      </span>
    </button>
  </div>
        <div
    
    style="--ta:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="2ooXZfYy-z" aria-label="Out of stock"
      data-state="idle"
      class="2ooXZfYy-z relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:1.5em;--pr:1.5em;--pt:0.75em;--pb:0.75em;--w:;--w-tablet:;--w-mobile:100%;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
      
      
    <div
      id="g_RMP2rTn2"
        style="--b:solid;--bc:#121212;--bw:0px;--bottom:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pos:static;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_RMP2rTn2 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGQRR2hqbt relative flex flex-col"
    >
      
      
      
    <div
      id="gseM5WUVNf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gseM5WUVNf mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9Fo2Zb9Az relative flex flex-col"
    >
      <div style="" class="kB-vLYQ9PY">
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images gp-data='{"id":"kB-vLYQ9PY", "setting":{"arrow":{"desktop":true},"clickEffect":"none","controlOverContent":{"desktop":true},"dot":{"desktop":false},"featureImageVisible":{"desktop":true},"galleryClickEffect":"preview","galleryVisible":{"desktop":false},"hoverEffect":"none","loop":{"desktop":true},"numberPerRow":{"desktop":6},"otherImage":0,"pauseOnHover":true,"showActiveStatus":false,"slidesToShow":{"desktop":1},"speed":1,"type":{"desktop":"images"},"zoom":1.5,"zoomType":"default"}, "styles":{"align":{"desktop":"center"},"aspectHeight":{"desktop":0},"aspectRatio":{"desktop":"1"},"aspectWidth":{"desktop":0},"customAspectRadio":{"desktop":{"height":0,"width":0},"mobile":{"height":"","width":""},"tablet":{"height":"","width":""}},"ftAlign":{"desktop":"flex-start"},"ftAspectHeight":{"desktop":0},"ftAspectRatio":{"desktop":"1"},"ftAspectWidth":{"desktop":0},"ftCustomAspectRadio":{"desktop":{"height":0,"width":0},"mobile":{"height":"","width":""},"tablet":{"height":"","width":""}},"ftFullWidth":{"desktop":false},"ftLayout":{"desktop":"cover"},"ftWidth":{"desktop":"56px","mobile":"45px"},"fullWidth":{"desktop":true},"gallerySpacing":{"desktop":"5px"},"height":{"desktop":"100px"},"layout":{"desktop":"cover"},"position":{"desktop":"bottom"},"spacing":{"desktop":"5px"},"width":{"desktop":"100px"}}, "product":{{product | json | escape}}}'>
    <div class="hidden outline outline-black "></div>
    <div class="flex w-full" style="--jc:center">
    <div
    class="flex  mobile:overflow-visible flex-col tablet:flex-col mobile:flex-col"
    style="--cg:5px;--jc:center;--ai:flex-start;--jc-mobile:center;--ai-mobile:flex-start;--jc-tablet:center;--ai-tablet:flex-start;--w:fit-content;--w-tablet:fit-content;--w-mobile:fit-content"
  >
      <div
    class="featured-image-root"
    style="--jc:flex-end;--jc-tablet:flex-end;--jc-mobile:flex-end;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:56px;--w-tablet:56px;--w-mobile:45px;--maxw:56px;--maxw-tablet:56px;--maxw-mobile:45px"
  >
    <div role="presentation" 
      class="featured-image-wrapper relative flex overflow-hidden"
      style="--aspect:1;--w:56px;--w-tablet:56px;--w-mobile:45px"
    >
    <div class="flex w-full justify-center">
    <div class="featured-image group relative w-full">
      <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only transition-opacity gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%"
  />
      
      
    </div>
    </div>
    </div>
</div>
      <div
        class="h-fit max-w-[100%] flex-1 gallery-wrapper"
        style="--fs:1.23;--d:none;--d-mobile:inline-flex;--d-tablet:inline-flex;--w:unset;--w-tablet:unset;--w-mobile:unset;--minw:unset;--minw-tablet:unset;--minw-mobile:unset"
      >
      {%- if product.images.size > 1 -%}
        
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-kB-vLYQ9PY-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"kB-vLYQ9PY-{{product.id}}","setting":{"loop":{"desktop":true},"slidesToShow":{"desktop":1},"dot":{"desktop":false},"arrow":{"desktop":true},"controlOverContent":{"desktop":true},"vertical":{}},"styles":{"fullWidth":{"desktop":true},"height":{"desktop":"100px"},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":5,"tablet":5,"mobile":5},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}}}' style="--d:none;--d-mobile:none;--d-tablet:none">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-kB-vLYQ9PY-{{product.id}}" class="gem-slider h-full overflow-hidden">
            
      {%- if product.images.size > 1 -%}
      {%- for image in product.images -%}
          {%- if featured_image != null and image.id == featured_image.id -%}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-kB-vLYQ9PY-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item "
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
            {% else %}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-kB-vLYQ9PY-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {%- endif -%}
      {% endfor %}
      {%- endif -%}
      
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back kB-vLYQ9PY-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 mobile:left-4 mobile:translate-x-0 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  

        
    <button
      class="gp-carousel-action-next kB-vLYQ9PY-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 mobile:right-4 mobile:translate-x-0 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-kB-vLYQ9PY-{{product.id}} hidden flex-row w-full mt-2 tablet:flex-row tablet:w-full tablet:mt-2 mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
      {%- endif -%}  
        <div type="grid-gallery"
    class="grid-gallery h-fit w-full flex-wrap tablet:flex-wrap mobile:flex-wrap"
    style="--d:flex;--d-mobile:flex;--d-tablet:flex;--fd:column;--fd-tablet:column;--fd-mobile:column;--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--gg:5px;--gg-tablet:5px;--gg-mobile:5px;--ai:flex-start;--ai-tablet:flex-start;--ai-mobile:flex-start"
  > 
{%- if product.images.size > 1 -%}
  {%- for image in product.images -%}
    {%- if featured_image != null and image.id == featured_image.id -%}
    <div aria-hidden id="{{image.id}}" class="image-item  group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--w: fit-content;--w-tablet: fit-content;--w-mobile: fit-content;--h: calc(16.666666666666668% - 4.166666666666667px);--h-tablet: calc(20% - 4px);--h-mobile: calc(20% - 4px);--minh: calc(16.666666666666668% - 4.166666666666667px);--minh-tablet: calc(20% - 4px);--minh-mobile: calc(20% - 4px);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {% else %}
    <div aria-hidden id="{{image.id}}" class="image-item undefined group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--w: fit-content;--w-tablet: fit-content;--w-mobile: fit-content;--h: calc(16.666666666666668% - 4.166666666666667px);--h-tablet: calc(20% - 4px);--h-mobile: calc(20% - 4px);--minh: calc(16.666666666666668% - 4.166666666666667px);--minh-tablet: calc(20% - 4px);--minh-mobile: calc(20% - 4px);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {%- endif -%}
  {% endfor %}
  {%- endif -%}
  </div>
      </div>
  </div>
    </div>
  </gp-product-images>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gF4nJzZ3Vq relative flex flex-col"
    >
      <div style="" class="L83-mkxylJ">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        
    <div
      
        class=""
        style="--tt:default"
      >
      <h3
        data-gp-text
        class="g-paragraph-1"
        style="--ta:left;--c:#242424"
      >
      {{ product.title }}
      </h3>
    </div>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      id="gwpz91kpH1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwpz91kpH1 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gc248OyKpP relative flex flex-col"
    >
      
      <gp-price 
        gp-data='{"priceType":"regular","uid":"d28tHmx_IG","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="d28tHmx_IG data-[hidden=true]:hidden"
        style="--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-d28tHmx_IG"
        class=""
        style="--tdt:1"
      >
      <div
        data-gp-text
        class="gp-price decoration-g-text-1"
        style="--tdc:text-1;--ta:left;--c:#242424;--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:16px"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gW2-6bUfrh relative flex flex-col"
    >
      
      <gp-price 
        gp-data='{"priceType":"compare","uid":"9komJVUSZi","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="9komJVUSZi data-[hidden=true]:hidden"
        style=""
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-9komJVUSZi"
        class=""
        style="--tdt:1"
      >
      <div
        data-gp-text
        class="gp-price line-through"
        style="--tdc:#B4B4B4;--ta:left;--c:#B4B4B4"
      >
      
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl_LIQhbdq relative flex flex-col"
    >
      <div style="" class="8uW3XZmUWX">
      

  {% liquid 
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    if salePrice == null or price == null
      assign pricePercentage = '&nbsp;&nbsp;- ' | append: '0%' | append: ' OFF&nbsp;&nbsp;'
    else 
         assign salePercent = priceSave | divided_by: salePrice | times: 100  | ceil 
                assign pricePercentage = '&nbsp;&nbsp;- ' | append: salePercent | append: '%' | append: ' OFF&nbsp;&nbsp;'
              
    endif
  %}

   <gp-product-tag
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"borderTag":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"},"customContent":{"prefix":"&nbsp;&nbsp;-","suffix":"OFF&nbsp;&nbsp;","unit":"percentage"},"isNewLabel":true,"isSaleLabel":true,"isSoldOutLabel":true,"newLabel":"New Arrivals","roundedTag":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"saleLabel":"Sale","soldOutLabel":"Sold Out"}, "id": "8uW3XZmUWX", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', "'" }}"  }'
    class="block data-[disabled=true]:hidden"
    style="--ta:left"
  >
 
     <div class="inline-flex flex-wrap items-end gap-3">
       <div
         class="inline-block"
         style="--bs:none;--bw:0px;--bc:transparent;--c:#C01B0E;--bg:#F6F6F6;--radius:var(--g-radius-none)"
       >
      
         
    <div
      id="p-tag-8uW3XZmUWX"
        class=""
        style=""
      >
      <div
        data-gp-text
        class=""
        style="--ta:left;--c:#C01B0E;--size:13px;--lh:215%;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size-tablet:12px;--size-mobile:12px"
      >
      {{pricePercentage}}
      </div>
    </div>
       </div>
     </div>

 </gp-product-tag>
   
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsPBu1Qhhi relative flex flex-col"
    >
      
      
      
    <div
      id="gHpoHeqHLX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHpoHeqHLX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXSit6fgPA relative flex flex-col"
    >
      <div style="" class="gkYoq7S77Y">
      
    {%- liquid 
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-quantity
        data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        class="relative inline-flex w-full bg-transparent transition-all duration-150 data-[disabled=true]:opacity-60"
        style="--h:48px;--h-tablet:42px;--jc:center"
      >

      
          <button
            title="Decrement"
            aria-label="decrement"
            {% if available == false %} disabled {% endif %}
            class="hover:border-g-line-3 gp-minus flex aspect-square h-full shrink-0 cursor-pointer items-center justify-center outline-none disabled:cursor-not-allowed"
            style="--w:48px;--w-tablet:42px;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3);--bblr:;--btlr:;--hvr-bblr:;--hvr-btlr:"
          >
            <span class="inline-flex items-center justify-center" style="--w:[object Object];--w-tablet:[object Object];--w-mobile:[object Object]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
              </svg>
            </span>
          </button>
      
        <input
          pattern="[0-9]"
          type="text"
          name="product-quantity"          
          {% if available == false %} disabled {% endif %}
          class="hover:border-g-line-3 g-paragraph-1 !border-x-0 px-4 flex shadow-none appearance-none items-center border-y text-center outline-none transition-all duration-150 hover:text-black disabled:pointer-events-none h-auto"
          style="--w:80px;--w-tablet:60px;--w-mobile:100px;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3)"          
          aria-label="Quantity"
          inputmode="numeric"
          min="{{ current_variant.quantity_rule.min }}"
          step="{{ current_variant.quantity_rule.increment }}"
          value="1"
          autocomplete='off'
        />

        
          <button
            {% if available == false %} disabled {% endif %}
            aria-label="increment"
            title="Increment"
            class="hover:border-g-line-3 gp-plus flex aspect-square h-full shrink-0 cursor-pointer items-center justify-center outline-none transition-all duration-150 disabled:pointer-events-none"
            style="--w:48px;--w-tablet:42px;--bg:transparent;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:var(--g-c-line-3, line-3);--bbrr:;--btrr:;--hvr-bbrr:;--hvr-btrr:"
          >
            <span class="inline-flex items-center justify-center" style="--w:[object Object];--w-tablet:[object Object];--w-mobile:[object Object]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </span>
          </button>
        
      </gp-quantity>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gStx4eEQfV relative flex flex-col"
    >
      
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"ADD TO CART","outOfStockLabel":"Out of stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--ta:center"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="gfPz2RO6xJ" aria-label="ADD TO CART"
      data-state="idle"
      class="gfPz2RO6xJ relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-atc"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:1.5em;--pr:1.5em;--pt:0.75em;--pb:0.75em;--w:;--w-tablet:;--w-mobile:;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        ADD TO CART
      </span>
    </button>
  </div>
        <div
    
    style="--ta:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="gfPz2RO6xJ" aria-label="Out of stock"
      data-state="idle"
      class="gfPz2RO6xJ relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-text-2 text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:var(--g-c-text-2, text-2);--bg:#C01B0E;--c:var(--g-c-text-3, text-3);--pl:1.5em;--pr:1.5em;--pt:0.75em;--pb:0.75em;--w:;--w-tablet:;--w-mobile:;--size:16px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:14px;--size-mobile:14px"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gcty-DZhK-",
    "tag": "section",
    "class": "gps-464933691232092693 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=464933691232092693)"
      }
    ],
    "blocks": []
  }
{% endschema %}
