
  
  <style>
    .gps-454061760035422882 .-translate-y-1\/2,.gps-454061760035422882 .mobile\:-translate-y-1\/2,.gps-454061760035422882 .mobile\:rotate-0,.gps-454061760035422882 .mobile\:rotate-180,.gps-454061760035422882 .mobile\:translate-x-0,.gps-454061760035422882 .mobile\:translate-y-1\/2,.gps-454061760035422882 .rotate-0,.gps-454061760035422882 .rotate-180,.gps-454061760035422882 .tablet\:-translate-y-1\/2,.gps-454061760035422882 .tablet\:rotate-0,.gps-454061760035422882 .tablet\:rotate-180,.gps-454061760035422882 .tablet\:translate-x-0,.gps-454061760035422882 .tablet\:translate-y-1\/2,.gps-454061760035422882 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-454061760035422882 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-454061760035422882 .btn-disabled{cursor:default}.gps-454061760035422882 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-454061760035422882 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-454061760035422882 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-454061760035422882 .g-s-medium{padding:8px 24px}.gps-454061760035422882 .pointer-events-none{pointer-events:none}.gps-454061760035422882 .invisible{visibility:hidden}.gps-454061760035422882 .static{position:static}.gps-454061760035422882 .absolute{position:absolute}.gps-454061760035422882 .relative{position:relative}.gps-454061760035422882 .inset-0{inset:0}.gps-454061760035422882 .bottom-1\/2{bottom:50%}.gps-454061760035422882 .left-0{left:0}.gps-454061760035422882 .left-4{left:16px}.gps-454061760035422882 .right-4{right:16px}.gps-454061760035422882 .top-0{top:0}.gps-454061760035422882 .top-1\/2{top:50%}.gps-454061760035422882 .mx-auto{margin-left:auto;margin-right:auto}.gps-454061760035422882 .mb-0{margin-bottom:0}.gps-454061760035422882 .mt-2{margin-top:8px}.gps-454061760035422882 .\!block{display:block!important}.gps-454061760035422882 .flex{display:flex}.gps-454061760035422882 .inline-flex{display:inline-flex}.gps-454061760035422882 .grid{display:grid}.gps-454061760035422882 .contents{display:contents}.gps-454061760035422882 .\!hidden{display:none!important}.gps-454061760035422882 .hidden{display:none}.gps-454061760035422882 .aspect-square{aspect-ratio:1/1}.gps-454061760035422882 .h-5{height:20px}.gps-454061760035422882 .h-6,.gps-454061760035422882 .h-\[24px\]{height:24px}.gps-454061760035422882 .h-fit{height:-moz-fit-content;height:fit-content}.gps-454061760035422882 .h-full{height:100%}.gps-454061760035422882 .w-5{width:20px}.gps-454061760035422882 .w-6{width:24px}.gps-454061760035422882 .w-\[12px\]{width:12px}.gps-454061760035422882 .w-\[24px\]{width:24px}.gps-454061760035422882 .w-full{width:100%}.gps-454061760035422882 .max-w-full{max-width:100%}.gps-454061760035422882 .flex-1{flex:1 1 0%}.gps-454061760035422882 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-454061760035422882 .-translate-y-1\/2,.gps-454061760035422882 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .translate-y-1\/2{--tw-translate-y:50%}.gps-454061760035422882 .rotate-0{--tw-rotate:0deg}.gps-454061760035422882 .rotate-0,.gps-454061760035422882 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-454061760035422882 .animate-spin{animation:spin 1s linear infinite}.gps-454061760035422882 .cursor-pointer{cursor:pointer}.gps-454061760035422882 .flex-row{flex-direction:row}.gps-454061760035422882 .flex-col{flex-direction:column}.gps-454061760035422882 .flex-wrap{flex-wrap:wrap}.gps-454061760035422882 .\!flex-nowrap{flex-wrap:nowrap!important}.gps-454061760035422882 .items-start{align-items:flex-start}.gps-454061760035422882 .items-center{align-items:center}.gps-454061760035422882 .justify-start{justify-content:flex-start}.gps-454061760035422882 .justify-center{justify-content:center}.gps-454061760035422882 .gap-2{gap:8px}.gps-454061760035422882 .overflow-hidden{overflow:hidden}.gps-454061760035422882 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-454061760035422882 .rounded-full{border-radius:9999px}.gps-454061760035422882 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-454061760035422882 .bg-g-brand{background-color:var(--g-c-brand)}.gps-454061760035422882 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-454061760035422882 .p-\[1px\]{padding:1px}.gps-454061760035422882 .text-center{text-align:center}.gps-454061760035422882 .text-g-error{color:var(--g-c-error)}.gps-454061760035422882 .text-g-text-1{color:var(--g-c-text-1)}.gps-454061760035422882 .text-g-text-2{color:var(--g-c-text-2)}.gps-454061760035422882 .text-g-text-3{color:var(--g-c-text-3)}.gps-454061760035422882 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-454061760035422882 .no-underline{text-decoration-line:none}.gps-454061760035422882 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-454061760035422882 .opacity-0{opacity:0}.gps-454061760035422882 .opacity-25{opacity:.25}.gps-454061760035422882 .opacity-30{opacity:.3}.gps-454061760035422882 .opacity-75{opacity:.75}.gps-454061760035422882 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-454061760035422882 .outline{outline-style:solid}.gps-454061760035422882 .outline-1{outline-width:1px}.gps-454061760035422882 .-outline-offset-1{outline-offset:-1px}.gps-454061760035422882 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454061760035422882 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454061760035422882 .duration-100{transition-duration:.1s}.gps-454061760035422882 .duration-200{transition-duration:.2s}.gps-454061760035422882 .duration-300{transition-duration:.3s}.gps-454061760035422882 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454061760035422882 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-454061760035422882 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-454061760035422882 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-454061760035422882 .disabled\:cursor-default:disabled{cursor:default}.gps-454061760035422882 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-454061760035422882 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-454061760035422882 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-454061760035422882 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-454061760035422882 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-454061760035422882 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-454061760035422882 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-454061760035422882 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-454061760035422882 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-454061760035422882 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-454061760035422882 .tablet\:bottom-1\/2{bottom:50%}.gps-454061760035422882 .tablet\:left-4{left:16px}.gps-454061760035422882 .tablet\:right-4{right:16px}.gps-454061760035422882 .tablet\:top-1\/2{top:50%}.gps-454061760035422882 .tablet\:mt-2{margin-top:8px}.gps-454061760035422882 .tablet\:\!block{display:block!important}.gps-454061760035422882 .tablet\:inline{display:inline}.gps-454061760035422882 .tablet\:w-full{width:100%}.gps-454061760035422882 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-454061760035422882 .tablet\:-translate-y-1\/2,.gps-454061760035422882 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-454061760035422882 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-454061760035422882 .tablet\:rotate-0,.gps-454061760035422882 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .tablet\:rotate-0{--tw-rotate:0deg}.gps-454061760035422882 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .tablet\:flex-row{flex-direction:row}.gps-454061760035422882 .tablet\:flex-col{flex-direction:column}.gps-454061760035422882 .tablet\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-454061760035422882 .tablet\:justify-start{justify-content:flex-start}}@media (max-width:767px){.gps-454061760035422882 .mobile\:bottom-1\/2{bottom:50%}.gps-454061760035422882 .mobile\:left-4{left:16px}.gps-454061760035422882 .mobile\:right-4{right:16px}.gps-454061760035422882 .mobile\:top-1\/2{top:50%}.gps-454061760035422882 .mobile\:mt-2{margin-top:8px}.gps-454061760035422882 .mobile\:\!block{display:block!important}.gps-454061760035422882 .mobile\:inline{display:inline}.gps-454061760035422882 .mobile\:w-full{width:100%}.gps-454061760035422882 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-454061760035422882 .mobile\:-translate-y-1\/2,.gps-454061760035422882 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-454061760035422882 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-454061760035422882 .mobile\:rotate-0,.gps-454061760035422882 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .mobile\:rotate-0{--tw-rotate:0deg}.gps-454061760035422882 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454061760035422882 .mobile\:flex-row{flex-direction:row}.gps-454061760035422882 .mobile\:flex-col{flex-direction:column}.gps-454061760035422882 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-454061760035422882 .mobile\:justify-start{justify-content:flex-start}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g8xYcMJHs3"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8xYcMJHs3 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gfJhcWJ0LA relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="gWYcZLGG2o">
      
    <div
      
        class="gWYcZLGG2o"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="text-g-text-2 g-heading-1 gp-text"
        style="--ts:none;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      Your heading text goes here
      </h2>
    </div>
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style=""
      class="g14opohfje relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8215461691692' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['the-collection-snowboard-oxygen']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8215461691692'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8215461691692' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['the-collection-snowboard-oxygen']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8215461691692'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gjsRYm1Cu0" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--cg:40px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gT5wGq583k relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="g0ZCSCSy0H">
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images gp-data='{"id":"g0ZCSCSy0H", "setting":{"hoverEffect":"zoom","zoom":1.5,"zoomType":"default","galleryVisible":{"desktop":true,"mobile":true,"tablet":true},"featureImageVisible":{"desktop":true,"mobile":true,"tablet":true},"otherImage":0,"clickEffect":"none","type":{"desktop":"images","mobile":"images","tablet":"images"},"largeViewInPopup":{"desktop":false,"mobile":false,"tablet":false},"slidesToShow":{"desktop":5},"numberPerRow":{"desktop":5},"showActiveStatus":true,"controlOverContent":{"desktop":true},"dot":{"desktop":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"loop":{"desktop":true,"mobile":true,"tablet":true},"pauseOnHover":true,"speed":1,"arrowIcon":"","dragToScroll":true}, "styles":{"ftAspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftLayout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"ftFullWidth":{"desktop":true,"mobile":true,"tablet":true},"ftWidth":{"desktop":"100px","mobile":"100px","tablet":"100px"},"ftAlign":{"desktop":"center","mobile":"center","tablet":"center"},"aspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"width":{"desktop":"300px","mobile":"300px","tablet":"300px"},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"align":{"desktop":"center","mobile":"center","tablet":"center"},"position":{"desktop":"bottom-left","tablet":"bottom-left","mobile":"bottom-left"},"gallerySpacing":{"desktop":"10px","tablet":"10px","mobile":"10px"},"spacing":{"desktop":"10px","tablet":"10px","mobile":"10px"},"verticalLayout":{"desktop":false},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"brand"}}, "product":{{product | json | escape}}}'>
    <div
        class="flex w-full flex-col tablet:flex-col mobile:flex-col"
        style="--ai:center;--ai-tablet:center;--ai-mobile:center"
      >
        <div
  class="featured-image-root gp-product-images-ft flex"
  style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100px;--w-tablet:100px;--w-mobile:100px;--maxw:100px;--maxw-tablet:100px;--maxw-mobile:100px"
>
  <div role="presentation" 
    class="featured-image-wrapper relative flex w-full overflow-hidden"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
  >
  <div class="flex w-full items-start justify-center">
  <div class="featured-image group relative w-full overflow-hidden">
    <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only w-full transition-opacity gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
    <div class="zoom-element absolute left-0 top-0 opacity-0 transition-opacity bg-white">
          <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only image-zoom gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
        </div>
    
  </div>
  </div>
  </div>
</div>
        {%- if product.images.size > 1 -%}
          <div
            class="gallery-wrapper gp-product-images-gallery inline-flex h-fit max-w-full justify-start tablet:justify-start mobile:justify-start"
            style="--fs:1.23;--d:inline-flex;--d-mobile:inline-flex;--d-tablet:inline-flex;--w:300px;--w-tablet:300px;--w-mobile:300px;--maxw:300px;--maxw-tablet:300px;--maxw-mobile:300px;--mt:10px;--mt-mobile:10px;--mt-tablet:10px"
          >
            
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-g0ZCSCSy0H-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"g0ZCSCSy0H-{{product.id}}","setting":{"loop":{"desktop":true,"mobile":true,"tablet":true},"slidesToShow":{"desktop":5,"mobile":5,"tablet":5},"dot":{"desktop":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"controlOverContent":{"desktop":true},"enableDrag":true,"vertical":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"arrowCustom":""},"styles":{"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":10,"tablet":10,"mobile":10},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}},"isHiddenArrowWhenDisabled":true}' style="--d:none;--d-mobile:none;--d-tablet:none">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper mobile:!block tablet:!block !block"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-g0ZCSCSy0H-{{product.id}}" class="gem-slider h-full overflow-hidden">
            
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
        {%- if featured_image != null and image.id == featured_image.id -%}
          
    <div
      data-outline="active"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-g0ZCSCSy0H-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline p-[1px]"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {% else %}
          
    <div
      data-outline="deactive"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-g0ZCSCSy0H-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
        {%- endif -%}
    {% endfor %}
    {%- endif -%}
    
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back g0ZCSCSy0H-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 mobile:left-4 mobile:translate-x-0 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  

        
    <button
      class="gp-carousel-action-next g0ZCSCSy0H-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 mobile:right-4 mobile:translate-x-0 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-g0ZCSCSy0H-{{product.id}} flex flex-row w-full mt-2 tablet:flex-row tablet:w-full tablet:mt-2 mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
  
            
  <div type="grid-gallery"
    class="grid-gallery flex h-fit w-full flex-wrap scrollbar-track:rounded-2xl scrollbar-thumb:rounded-2xl scrollbar-thumb:bg-gray-400 !flex-nowrap mobile:!flex-nowrap tablet:!flex-nowrap"
    style="--d:flex;--d-mobile:flex;--d-tablet:flex;--gg:10px;--gg-tablet:10px;--gg-mobile:10px"
  > 
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
      {%- if featured_image != null and image.id == featured_image.id -%}
      <div aria-hidden id="{{image.id}}" data-outline="active" class="image-item p-[1px] data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 8px);--w-tablet: calc(20% - 8px);--w-mobile: calc(20% - 8px);outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {% else %}
      <div aria-hidden id="{{image.id}}" data-outline="deactive" class="image-item undefined data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 8px);--w-tablet: calc(20% - 8px);--w-mobile: calc(20% - 8px);outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {%- endif -%}
    {% endfor %}
    {%- endif -%}
  </div>
          </div>
        {%- endif -%}
      </div>
  </gp-product-images>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--pos:relative;--top:-90px;--pb:90px;--mt:90px" class="gHFfany1ng">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        
    <div
      
        class=""
        style="--tt:default"
      >
      <h1
        data-gp-text
        class="text-g-error g-heading-2"
        style="--ta:left;--c:var(--g-c-error, error)"
      >
      {{ product.title }}
      </h1>
    </div>
      
    {%- endunless -%}
  
      </div>
      <gp-price 
        gp-data='{"priceType":"regular","uid":"g5AAsgc21x","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="g5AAsgc21x data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
        data-hidden="false"
      >
        
    <div
      id="p-price-g5AAsgc21x"
        class=""
        style="--tdt:1"
      >
      <div
        data-gp-text
        class="gp-price decoration-g-text-1 text-g-text-1 g-paragraph-1"
        style="--tdc:text-1;--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to Cart","outOfStockLabel":"Out of stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--mt:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="gEz41jDjDi" aria-label="Add to Cart"
      data-state="idle"
      class="gEz41jDjDi relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--w:;--w-tablet:;--w-mobile:;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
<path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M448 128.001H362.667C362.667 69.1207 314.88 21.334 256 21.334C197.12 21.334 149.333 69.1207 149.333 128.001H64V469.334H448V128.001ZM256 64.0007C291.413 64.0007 320 92.5873 320 128.001H192C192 92.5873 220.587 64.0007 256 64.0007ZM256 277.334C197.12 277.334 149.333 229.547 149.333 170.667H192C192 206.081 220.587 234.667 256 234.667C291.413 234.667 320 206.081 320 170.667H362.667C362.667 229.547 314.88 277.334 256 277.334Z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Add to Cart
      </span>
    </button>
  </div>
        <div
    
    style="--mt:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="gEz41jDjDi" aria-label="Out of stock"
      data-state="idle"
      class="gEz41jDjDi relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--w:;--w-tablet:;--w-mobile:;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
<path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M448 128.001H362.667C362.667 69.1207 314.88 21.334 256 21.334C197.12 21.334 149.333 69.1207 149.333 128.001H64V469.334H448V128.001ZM256 64.0007C291.413 64.0007 320 92.5873 320 128.001H192C192 92.5873 220.587 64.0007 256 64.0007ZM256 277.334C197.12 277.334 149.333 229.547 149.333 170.667H192C192 206.081 220.587 234.667 256 234.667C291.413 234.667 320 206.081 320 170.667H362.667C362.667 229.547 314.88 277.334 256 277.334Z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <a
      href="https://antony-dev-19.myshopify.com/products/the-hidden-snowboard?id=452020550186369760&handle=the-hidden-snowboard" target="_self" data-id="guWLzrVA9Q" aria-label="Button"
      data-state="idle"
      class="guWLzrVA9Q relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gkI2JM3x68",
    "tag": "section",
    "class": "gps-454061760035422882 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=454061760035422882)"
      }
    ],
    "blocks": []
  }
{% endschema %}
