
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1fDAlp7lk.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-487666013505061786 .invisible{visibility:hidden}.gps-487666013505061786 .absolute{position:absolute}.gps-487666013505061786 .relative{position:relative}.gps-487666013505061786 .inset-0{inset:0}.gps-487666013505061786 .left-\[var\(--left\)\]{left:var(--left)}.gps-487666013505061786 .top-\[var\(--top\)\]{top:var(--top)}.gps-487666013505061786 .z-1{z-index:1}.gps-487666013505061786 .mx-auto{margin-left:auto;margin-right:auto}.gps-487666013505061786 .mb-0{margin-bottom:0}.gps-487666013505061786 .inline-block{display:inline-block}.gps-487666013505061786 .flex{display:flex}.gps-487666013505061786 .inline-flex{display:inline-flex}.gps-487666013505061786 .grid{display:grid}.gps-487666013505061786 .h-5{height:20px}.gps-487666013505061786 .h-full{height:100%}.gps-487666013505061786 .w-5{width:20px}.gps-487666013505061786 .w-full{width:100%}.gps-487666013505061786 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-487666013505061786 .animate-spin{animation:spin 1s linear infinite}.gps-487666013505061786 .flex-col{flex-direction:column}.gps-487666013505061786 .\!content-center{align-content:center!important}.gps-487666013505061786 .items-center{align-items:center}.gps-487666013505061786 .justify-center{justify-content:center}.gps-487666013505061786 .gap-y-0{row-gap:0}.gps-487666013505061786 .self-center{align-self:center}.gps-487666013505061786 .overflow-hidden{overflow:hidden}.gps-487666013505061786 .overflow-y-hidden{overflow-y:hidden}.gps-487666013505061786 .break-words{overflow-wrap:break-word}.gps-487666013505061786 .rounded-none{border-radius:0}.gps-487666013505061786 .bg-clip-content{background-clip:content-box}.gps-487666013505061786 .align-middle{vertical-align:middle}.gps-487666013505061786 .no-underline{text-decoration-line:none}.gps-487666013505061786 .opacity-25{opacity:.25}.gps-487666013505061786 .opacity-75{opacity:.75}.gps-487666013505061786 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013505061786 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013505061786 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013505061786 .duration-200{transition-duration:.2s}.gps-487666013505061786 .duration-300{transition-duration:.3s}.gps-487666013505061786 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487666013505061786 .disabled\:btn-disabled:disabled{cursor:default}.gps-487666013505061786 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-487666013505061786 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-487666013505061786 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-487666013505061786 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-487666013505061786 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-487666013505061786 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-487666013505061786 .tablet\:relative{position:relative}}@media (max-width:767px){.gps-487666013505061786 .mobile\:relative{position:relative}}.gps-487666013505061786 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-487666013505061786 .\[\&_p\]\:inline p{display:inline}.gps-487666013505061786 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-487666013505061786 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-487666013505061786 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gXbvi-dAtG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXbvi-dAtG mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcMwyOS_dm relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/d71d3ed6-b489-4a34-a8fc-4f8dff22e24b/-/format/auto/" as="image" />
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png","height":1023,"src":"https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/","width":2160},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png","height":1448,"src":"https://ucarecdn.com/d71d3ed6-b489-4a34-a8fc-4f8dff22e24b/-/format/auto/","width":563},"position":{"x":50,"y":100},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png","height":1023,"src":"https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/","width":2160},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g--KssOVYz"}'
      
      class="g--KssOVYz group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--d:flex;--d-mobile:flex;--d-tablet:flex;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
    >
      <div
      class="relative flex flex-col items-center justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div class="absolute w-full h-full overflow-hidden"
          style="">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:rgba(255, 255, 255, 0);--bgc-tablet:rgba(255, 255, 255, 0);--bgc-mobile:rgba(255, 255, 255, 0);--bgi:url({{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_url }});--bgi-tablet:url({{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_url }});--bgi-mobile:url({{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 100%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          <div
            aria-label="Overlay"
            role="banner"
            class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
        </div>
        
        
      
      
    <div
      id
        style="--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="gp-hero-banner-row z-1 h-full w-full overflow-y-hidden tablet:relative mobile:relative !content-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr7pnmuEaI relative flex flex-col"
    >
      <div
      
      style=""
      class="gr4k4xoJQ0 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gDXjND0peM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:136px;--pb:136px;--mb-mobile:0px;--pt-mobile:74px;--pb-mobile:377px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDXjND0peM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gedCWp59EJ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gn5R7vQFZk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:0px;--mr:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:50%;--w-tablet:50%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn5R7vQFZk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0BU7PvHUO relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRYVyQ35x3 "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Orbitron, Orbitron);--weight:700;--ls:normal;--lh:130%;--size:64px;--size-tablet:64px;--size-mobile:50px;--c:#FFFFFF;word-break:break-word;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Cyber Monday Exclusive!&nbsp;</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0efCkIVvS "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>The Sound Revolution Awaits! This offer is live only for Cyber Monday. Secure yours before the final note fades!</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gVTq71HlgX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVTq71HlgX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIc_C1rxQq relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUhFcb5LGA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s);--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUhFcb5LGA mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfh9nykWfE relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gZ9HK0D5HJ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg" | asset_url }}" data-srcset="{{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 768w, {{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 1024w, {{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="56" height="56" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8cOhkBXf8 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZ19vj2Kjn "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>Worry-Free Trial</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gtAFOelmvD "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>60-Day easy returns</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcLFRo6QVF relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5X0w_T1sa"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5X0w_T1sa mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR5BGSV5U5 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gRpWW7fo_7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
    <figure
      class="relative inline-block align-middle"
      style="--w-mobile:[object Object];--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        
        class="h-full"
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg" | asset_url }}" data-srcset="{{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 768w, {{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 1024w, {{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="56" height="56" alt="Alt image" priority
    sizes="100vw"
    style="--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzedLmeYCK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gm7NZmNXJh "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>After-Sale Service</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gf6GO6iZAS "
        style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:0px;--shadow:none"
        >
        <p>24/7 support</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gK0N5-gayw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gK0N5-gayw:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gK0N5-gayw" aria-label="Grab The Deal"
      data-state="idle"
      class="gK0N5-gayw gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:#EEEEEE;--bg:#FFFFFF;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--c:#210E6C;--pl:24px;--pr:24px;--pt:13px;--pb:13px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:13px;--pb-mobile:13px;--w:281px;--w-tablet:281px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:capitalize;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        grab the deal
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
    </div>
  
    
        <picture class="w-full">
    <link rel="preload" href="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: '1024x1024' }}" as="image" />
    <link rel="preload" href="{{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_img_url: '768x768' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_img_url: '768x768' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: '1024x1024' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: 'master' }}"
      alt=""
      style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:auto;--w-mobile:auto;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
  
<style>
  #gempages-support-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    opacity: 0.8;
    z-index: 99;
    padding: 21px 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex !important;
    align-items: center;
  }
  #gempages-support-banner svg{
    margin-right: 12px;
    min-width: 28px;
  }
  #gempages-support-banner a{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  @media(max-width: 787px){
    #gempages-support-banner{
      padding: 8px 16px;
    }
  }
</style>
<div id="gempages-support-banner">
  <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7462 0.0075913L0.150737 8.5098C0.0359955 8.53804 -0.0213755 8.66515 0.00731004 8.77814L2.13004 15.6703C2.15872 15.7833 2.28781 15.8539 2.38821 15.8115L22.6258 9.56904C23.5868 9.27245 24.4043 8.60866 24.8776 7.70477C26.1398 5.31794 27.1725 2.84637 27.9757 0.275933C28.0617 0.106454 27.9039 -0.0347785 27.7462 0.0075913Z" fill="#FFBB1C"></path><path d="M21.1207 11.9276L3.98112 17.2097C3.89506 17.2379 3.82335 17.3368 3.86638 17.4357L5.67356 23.2545C5.70225 23.3392 5.80265 23.4098 5.90305 23.3816L16.8322 20.0061C17.6498 19.7519 18.3382 19.1869 18.7398 18.4384C19.8012 16.4329 20.6904 14.3285 21.3502 12.1536C21.3932 12.0265 21.2641 11.8852 21.1207 11.9276Z" fill="#E8486C"></path><path d="M14.6079 22.5764L7.46525 24.7797C7.37919 24.7938 7.35051 24.8927 7.36485 24.9633L8.88518 29.8923C8.89952 29.977 8.99992 30.0194 9.07164 29.9912L10.9649 29.4121C11.6533 29.2003 12.227 28.7201 12.5713 28.0845C13.4749 26.3897 14.2063 24.6102 14.78 22.7742C14.8374 22.6471 14.7227 22.5341 14.6079 22.5764Z" fill="#476DF2"></path></svg>
  <span>This page is created by GemPages Support. <a href="https://help.gempages.net/articles/support-options#why-my-page-has-a-powered-by-gempages-label" target="_blank">Learn more</a></span>
</div>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-487666013505061786 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=487666013505061786&template_id=487646953195176616)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
