
  
  <style>
    .gps-466966583055483491 .-rotate-90,.gps-466966583055483491 .-translate-x-1\/2,.gps-466966583055483491 .mobile\:-rotate-90,.gps-466966583055483491 .mobile\:-translate-x-1\/2,.gps-466966583055483491 .mobile\:rotate-90,.gps-466966583055483491 .mobile\:translate-x-1\/2,.gps-466966583055483491 .mobile\:translate-y-0,.gps-466966583055483491 .rotate-90,.gps-466966583055483491 .tablet\:-rotate-90,.gps-466966583055483491 .tablet\:-translate-x-1\/2,.gps-466966583055483491 .tablet\:rotate-90,.gps-466966583055483491 .tablet\:translate-x-1\/2,.gps-466966583055483491 .tablet\:translate-y-0,.gps-466966583055483491 .translate-x-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-466966583055483491 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-466966583055483491 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-466966583055483491 .btn-disabled{cursor:default}.gps-466966583055483491 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-466966583055483491 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-466966583055483491 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-466966583055483491 .g-s-medium{padding:8px 24px}.gps-466966583055483491 .pointer-events-none{pointer-events:none}.gps-466966583055483491 .invisible{visibility:hidden}.gps-466966583055483491 .static{position:static}.gps-466966583055483491 .absolute{position:absolute}.gps-466966583055483491 .relative{position:relative}.gps-466966583055483491 .inset-0{inset:0}.gps-466966583055483491 .bottom-4{bottom:16px}.gps-466966583055483491 .left-1\/2{left:50%}.gps-466966583055483491 .left-\[var\(--left\)\]{left:var(--left)}.gps-466966583055483491 .right-1\/2{right:50%}.gps-466966583055483491 .top-4{top:16px}.gps-466966583055483491 .top-\[var\(--top\)\]{top:var(--top)}.gps-466966583055483491 .mx-auto{margin-left:auto;margin-right:auto}.gps-466966583055483491 .mb-0{margin-bottom:0}.gps-466966583055483491 .ml-2{margin-left:8px}.gps-466966583055483491 .mr-\[12px\]{margin-right:12px}.gps-466966583055483491 .\!flex{display:flex!important}.gps-466966583055483491 .flex{display:flex}.gps-466966583055483491 .inline-flex{display:inline-flex}.gps-466966583055483491 .grid{display:grid}.gps-466966583055483491 .contents{display:contents}.gps-466966583055483491 .\!hidden{display:none!important}.gps-466966583055483491 .hidden{display:none}.gps-466966583055483491 .aspect-square{aspect-ratio:1/1}.gps-466966583055483491 .h-5{height:20px}.gps-466966583055483491 .h-6,.gps-466966583055483491 .h-\[24px\]{height:24px}.gps-466966583055483491 .h-fit{height:-moz-fit-content;height:fit-content}.gps-466966583055483491 .h-full{height:100%}.gps-466966583055483491 .max-h-full{max-height:100%}.gps-466966583055483491 .w-5{width:20px}.gps-466966583055483491 .w-6{width:24px}.gps-466966583055483491 .w-\[12px\]{width:12px}.gps-466966583055483491 .w-\[24px\]{width:24px}.gps-466966583055483491 .w-full{width:100%}.gps-466966583055483491 .max-w-full{max-width:100%}.gps-466966583055483491 .flex-1{flex:1 1 0%}.gps-466966583055483491 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-466966583055483491 .-translate-x-1\/2,.gps-466966583055483491 .translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .translate-x-1\/2{--tw-translate-x:50%}.gps-466966583055483491 .-rotate-90{--tw-rotate:-90deg}.gps-466966583055483491 .-rotate-90,.gps-466966583055483491 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .rotate-90{--tw-rotate:90deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-466966583055483491 .animate-spin{animation:spin 1s linear infinite}.gps-466966583055483491 .cursor-pointer{cursor:pointer}.gps-466966583055483491 .flex-row{flex-direction:row}.gps-466966583055483491 .flex-row-reverse{flex-direction:row-reverse}.gps-466966583055483491 .flex-col{flex-direction:column}.gps-466966583055483491 .flex-wrap{flex-wrap:wrap}.gps-466966583055483491 .\!flex-nowrap{flex-wrap:nowrap!important}.gps-466966583055483491 .items-start{align-items:flex-start}.gps-466966583055483491 .\!items-end{align-items:flex-end!important}.gps-466966583055483491 .items-center{align-items:center}.gps-466966583055483491 .justify-center{justify-content:center}.gps-466966583055483491 .gap-2{gap:8px}.gps-466966583055483491 .overflow-hidden{overflow:hidden}.gps-466966583055483491 .overflow-y-auto{overflow-y:auto}.gps-466966583055483491 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-466966583055483491 .whitespace-nowrap{white-space:nowrap}.gps-466966583055483491 .rounded{border-radius:4px}.gps-466966583055483491 .rounded-full{border-radius:9999px}.gps-466966583055483491 .border{border-width:1px}.gps-466966583055483491 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-466966583055483491 .bg-g-brand{background-color:var(--g-c-brand)}.gps-466966583055483491 .p-\[1px\]{padding:1px}.gps-466966583055483491 .px-4{padding-left:16px;padding-right:16px}.gps-466966583055483491 .py-2{padding-bottom:8px;padding-top:8px}.gps-466966583055483491 .text-center{text-align:center}.gps-466966583055483491 .text-g-text-1{color:var(--g-c-text-1)}.gps-466966583055483491 .text-g-text-2{color:var(--g-c-text-2)}.gps-466966583055483491 .text-g-text-3{color:var(--g-c-text-3)}.gps-466966583055483491 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-466966583055483491 .line-through{text-decoration-line:line-through}.gps-466966583055483491 .no-underline{text-decoration-line:none}.gps-466966583055483491 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-466966583055483491 .opacity-0{opacity:0}.gps-466966583055483491 .opacity-25{opacity:.25}.gps-466966583055483491 .opacity-30{opacity:.3}.gps-466966583055483491 .opacity-75{opacity:.75}.gps-466966583055483491 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-466966583055483491 .outline{outline-style:solid}.gps-466966583055483491 .outline-1{outline-width:1px}.gps-466966583055483491 .-outline-offset-1{outline-offset:-1px}.gps-466966583055483491 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-466966583055483491 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-466966583055483491 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-466966583055483491 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-466966583055483491 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-466966583055483491 .duration-100{transition-duration:.1s}.gps-466966583055483491 .duration-200{transition-duration:.2s}.gps-466966583055483491 .duration-300{transition-duration:.3s}.gps-466966583055483491 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-466966583055483491 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-466966583055483491 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-466966583055483491 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-466966583055483491 .disabled\:cursor-default:disabled{cursor:default}.gps-466966583055483491 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-466966583055483491 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-466966583055483491 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-466966583055483491 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}.gps-466966583055483491 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-466966583055483491 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-466966583055483491 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-466966583055483491 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-466966583055483491 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-466966583055483491 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-466966583055483491 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-466966583055483491 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-466966583055483491 .tablet\:bottom-4{bottom:16px}.gps-466966583055483491 .tablet\:left-1\/2{left:50%}.gps-466966583055483491 .tablet\:right-1\/2{right:50%}.gps-466966583055483491 .tablet\:top-4{top:16px}.gps-466966583055483491 .tablet\:ml-2{margin-left:8px}.gps-466966583055483491 .tablet\:inline{display:inline}.gps-466966583055483491 .tablet\:\!flex{display:flex!important}.gps-466966583055483491 .tablet\:h-full{height:100%}.gps-466966583055483491 .tablet\:flex-1{flex:1 1 0%}.gps-466966583055483491 .tablet\:-translate-x-1\/2{--tw-translate-x:-50%}.gps-466966583055483491 .tablet\:-translate-x-1\/2,.gps-466966583055483491 .tablet\:translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .tablet\:translate-x-1\/2{--tw-translate-x:50%}.gps-466966583055483491 .tablet\:translate-y-0{--tw-translate-y:0px}.gps-466966583055483491 .tablet\:-rotate-90,.gps-466966583055483491 .tablet\:translate-y-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .tablet\:-rotate-90{--tw-rotate:-90deg}.gps-466966583055483491 .tablet\:rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .tablet\:flex-row-reverse{flex-direction:row-reverse}.gps-466966583055483491 .tablet\:flex-col{flex-direction:column}.gps-466966583055483491 .tablet\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-466966583055483491 .tablet\:\!items-end{align-items:flex-end!important}.gps-466966583055483491 .tablet\:overflow-y-auto{overflow-y:auto}}@media (max-width:767px){.gps-466966583055483491 .mobile\:bottom-4{bottom:16px}.gps-466966583055483491 .mobile\:left-1\/2{left:50%}.gps-466966583055483491 .mobile\:right-1\/2{right:50%}.gps-466966583055483491 .mobile\:top-4{top:16px}.gps-466966583055483491 .mobile\:ml-2{margin-left:8px}.gps-466966583055483491 .mobile\:inline{display:inline}.gps-466966583055483491 .mobile\:\!flex{display:flex!important}.gps-466966583055483491 .mobile\:h-full{height:100%}.gps-466966583055483491 .mobile\:flex-1{flex:1 1 0%}.gps-466966583055483491 .mobile\:-translate-x-1\/2{--tw-translate-x:-50%}.gps-466966583055483491 .mobile\:-translate-x-1\/2,.gps-466966583055483491 .mobile\:translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .mobile\:translate-x-1\/2{--tw-translate-x:50%}.gps-466966583055483491 .mobile\:translate-y-0{--tw-translate-y:0px}.gps-466966583055483491 .mobile\:-rotate-90,.gps-466966583055483491 .mobile\:translate-y-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .mobile\:-rotate-90{--tw-rotate:-90deg}.gps-466966583055483491 .mobile\:rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-466966583055483491 .mobile\:flex-row-reverse{flex-direction:row-reverse}.gps-466966583055483491 .mobile\:flex-col{flex-direction:column}.gps-466966583055483491 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-466966583055483491 .mobile\:\!items-end{align-items:flex-end!important}.gps-466966583055483491 .mobile\:overflow-y-auto{overflow-y:auto}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gtw1WQjsWU"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtw1WQjsWU mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFS-toxXpk relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gr0RgRFAtM">
      
    <gp-accordion
      class="flex w-full flex-col"
      style=""
      gp-data='{"setting":{"expanded":false,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"color":{"normal":"#121212","hover":"#121212","active":"#121212"},"headerBorder":{"normal":{"borderType":"style-1","border":"solid","width":"0px 0px 1px 0px","position":"bottom","borderWidth":"1px","color":"#121212","isCustom":true},"hover":{"borderType":"style-1","border":"solid","width":"0px 0px 1px 0px","position":"bottom","borderWidth":"1px","color":"#121212","isCustom":true},"active":{"borderType":"style-1","border":"solid","width":"0px 0px 1px 0px","position":"bottom","borderWidth":"1px","color":"#121212","isCustom":true}},"itemBorder":{"normal":{"borderType":"style-1","border":"solid","width":"0px 0px 0px 0px","position":"all","borderWidth":"0px","color":"#121212","isCustom":true},"hover":{"borderType":"style-1","border":"solid","width":"0px 0px 0px 0px","position":"all","borderWidth":"0px","color":"#121212","isCustom":true},"active":{"borderType":"style-1","border":"solid","width":"0px 0px 0px 0px","position":"all","borderWidth":"0px","color":"#121212","isCustom":true}},"itemRounded":{"normal":{"radiusType":"none"},"hover":{"radiusType":"none"},"active":{"radiusType":"none"}},"width":{"desktop":"1170px"},"fullWidth":{"desktop":true},"textColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"itemHeaderSpacing":{"type":"medium"}},"uid":"gr0RgRFAtM"}'
    >
      <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      class="gr0RgRFAtM gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="gr0RgRFAtM flex items-center gp-accordion-item_header cursor-pointer g-s-medium"
        style="--fd:row-reverse;--jc:space-between;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
        <div class="mr-[12px]">
          <span
            style="--c:#121212;--hvr-c:#121212"
            data-index="0"
            class="gr0RgRFAtM gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="g-paragraph-1"
        style=""
      >
      Accordion 1
      </span>
    </div>
      </div>
      <div
        uid="ghA8IpMWTS"
        data-index="0"
        class="gr0RgRFAtM gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="g1vYh5r15B relative flex flex-col"
    >
      <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <button
      type="button" data-id="gsz9DgCnxO" aria-label="Button"
      data-state="idle"
      class="gsz9DgCnxO relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      class="gr0RgRFAtM gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="gr0RgRFAtM flex items-center gp-accordion-item_header cursor-pointer g-s-medium"
        style="--fd:row-reverse;--jc:space-between;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
        <div class="mr-[12px]">
          <span
            style="--c:#121212;--hvr-c:#121212"
            data-index="1"
            class="gr0RgRFAtM gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="g-paragraph-1"
        style=""
      >
      Accordion 2
      </span>
    </div>
      </div>
      <div
        uid="gjFqnHxZ5p"
        data-index="1"
        class="gr0RgRFAtM gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gIUDTJcc2h relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8215461724460' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['the-complete-snowboard']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8215461724460'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8215461724460' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['the-complete-snowboard']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8215461724460'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g9SniQossK" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSri2Ej_kC relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gu4jAu8ObK">
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images gp-data='{"id":"gu4jAu8ObK", "setting":{"featureImageVisible":{"desktop":true},"hoverEffect":"none","zoomType":"default","zoom":150,"otherImage":0,"clickEffect":"none","galleryVisible":{"desktop":true},"type":{"desktop":"images"},"largeViewInPopup":{"desktop":false},"slidesToShow":{"desktop":5,"tablet":5,"mobile":3},"numberPerRow":{"desktop":5,"tablet":5,"mobile":3},"showActiveStatus":true,"controlOverContent":{"desktop":true},"dot":{"desktop":false},"arrow":{"desktop":true},"loop":{"desktop":false},"pauseOnHover":true,"speed":1,"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n              <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"white\"/>\n              <path d=\"M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z\" fill=\"black\"/>\n              </svg>\n              ","dragToScroll":true}, "styles":{"position":{"desktop":"left"},"ftAspectRatio":{"desktop":"1"},"ftCustomAspectRadio":{"desktop":{"width":"1","height":"1"}},"ftLayout":{"desktop":"cover"},"ftFullWidth":{"desktop":true},"ftWidth":{"desktop":"100%"},"ftWidthHorizontalLayout":{"desktop":"80%"},"ftAlign":{"desktop":"center"},"aspectRatio":{"desktop":"1"},"customAspectRadio":{"desktop":{"width":"1","height":"1"}},"layout":{"desktop":"cover"},"fullWidth":{"desktop":true},"width":{"desktop":"100%"},"widthHorizontalLayout":{"desktop":"20%"},"align":{"desktop":"flex-start"},"gallerySpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false},"verticalLayoutRow":{"desktop":true},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"}}, "product":{{product | json | escape}}}'>
    <div
        class="flex w-full flex-row-reverse tablet:flex-row-reverse mobile:flex-row-reverse"
        style="--jc:start"
      >
        <div
  class="featured-image-root gp-product-images-ft flex"
  style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:80%;--w-tablet:80%;--w-mobile:80%;--maxw:80%;--maxw-tablet:80%;--maxw-mobile:80%"
>
  <div role="presentation" 
    class="featured-image-wrapper relative flex w-full overflow-hidden"
    style="--aspect:1"
  >
  <div class="flex w-full items-start justify-center">
  <div class="featured-image group relative w-full overflow-hidden">
    <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only w-full transition-opacity gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%"
  />
    
    
  </div>
  </div>
  </div>
</div>
        {%- if product.images.size > 1 -%}
          <div
            class="gallery-wrapper gp-product-images-gallery inline-flex h-fit max-w-full"
            style="--fs:1.23;--d:inline-flex;--d-mobile:inline-flex;--d-tablet:inline-flex;--w:20%;--w-tablet:20%;--w-mobile:20%;--maxw:20%;--maxw-tablet:20%;--maxw-mobile:20%;--mr:var(--g-s-s);--mr-mobile:var(--g-s-s);--mr-tablet:var(--g-s-s)"
          >
            
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-gu4jAu8ObK-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"gu4jAu8ObK-{{product.id}}","setting":{"loop":{"desktop":false},"slidesToShow":{"desktop":"auto","mobile":"auto","tablet":"auto"},"dot":{"desktop":false},"arrow":{"desktop":true},"controlOverContent":{"desktop":true},"enableDrag":true,"vertical":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"arrowCustom":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n              <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"white\"/>\n              <path d=\"M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z\" fill=\"black\"/>\n              </svg>\n              "},"styles":{"fullWidth":{"desktop":true},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":5,"tablet":5,"mobile":5},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}},"isHiddenArrowWhenDisabled":true}' style="--d:flex;--d-mobile:flex;--d-tablet:flex">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper mobile:!flex tablet:!flex !flex"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full mobile:h-full mobile:flex-1 tablet:h-full tablet:flex-1 h-full flex-1"
        >
          <div id="gp-carousel-gu4jAu8ObK-{{product.id}}" class="gem-slider h-full overflow-hidden">
            
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
        {%- if featured_image != null and image.id == featured_image.id -%}
          
    <div
      data-outline="active"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gu4jAu8ObK-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline p-[1px]"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {% else %}
          
    <div
      data-outline="deactive"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gu4jAu8ObK-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
        {%- endif -%}
    {% endfor %}
    {%- endif -%}
    
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gu4jAu8ObK-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline top-4 tablet:top-4 tablet:translate-y-0 mobile:top-4 mobile:translate-y-0 -rotate-90 tablet:-rotate-90 mobile:-rotate-90 left-1/2 -translate-x-1/2 tablet:left-1/2 tablet:-translate-x-1/2 mobile:left-1/2 mobile:-translate-x-1/2"
      
    >
      <span class="inline-flex items-center justify-center max-h-full max-w-full">
        <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="white"/>
              <path d="M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z" fill="black"/>
              </svg>
              
      </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gu4jAu8ObK-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline bottom-4 tablet:bottom-4 tablet:translate-y-0 mobile:bottom-4 mobile:translate-y-0 rotate-90 tablet:rotate-90 mobile:rotate-90 right-1/2 translate-x-1/2 tablet:right-1/2 tablet:translate-x-1/2 mobile:right-1/2 mobile:translate-x-1/2"
      
    >
      <span class="inline-flex items-center justify-center max-h-full max-w-full">
        <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="white"/>
              <path d="M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z" fill="black"/>
              </svg>
              
      </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gu4jAu8ObK-{{product.id}} hidden flex-col ml-2 tablet:flex-col tablet:ml-2 mobile:flex-col mobile:ml-2" ></div>
      </div>
    </gp-carousel>
  
  
            
  <div type="grid-gallery"
    class="grid-gallery flex h-fit w-full flex-wrap scrollbar-track:rounded-2xl scrollbar-thumb:rounded-2xl scrollbar-thumb:bg-gray-400 !flex-nowrap overflow-y-auto  !items-end mobile:!flex-nowrap mobile:overflow-y-auto  mobile:!items-end tablet:!flex-nowrap tablet:overflow-y-auto  tablet:!items-end"
    style="--d:none;--d-mobile:none;--d-tablet:none;--gg:5px;--gg-tablet:5px;--gg-mobile:5px"
  > 
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
      {%- if featured_image != null and image.id == featured_image.id -%}
      <div aria-hidden id="{{image.id}}" data-outline="active" class="image-item p-[1px] data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--w: 100%;--w-tablet: 100%;--w-mobile: 100%;outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {% else %}
      <div aria-hidden id="{{image.id}}" data-outline="deactive" class="image-item undefined data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--w: 100%;--w-tablet: 100%;--w-mobile: 100%;outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {%- endif -%}
    {% endfor %}
    {%- endif -%}
  </div>
          </div>
        {%- endif -%}
      </div>
  </gp-product-images>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdk1wU4Gzz relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gTCN3Dku4M">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        
    <div
      
        class=""
        style=""
      >
      <h1
        data-gp-text
        class="text-g-text-2 g-subheading-3"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-2, text-2)"
      >
      {{ product.title }}
      </h1>
    </div>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      id="glwLCEJpKg"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glwLCEJpKg mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gMjF-z26pc relative flex flex-col"
    >
      
      <gp-price 
        gp-data='{"priceType":"regular","uid":"gDr0TzmLCE","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="gDr0TzmLCE data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
        data-hidden="false"
      >
        
    <div
      id="p-price-gDr0TzmLCE"
        class=""
        style=""
      >
      <div
        data-gp-text
        class="gp-price decoration-g-text-1 text-g-text-2 g-subheading-2"
        style="--tdc:text-1;--tdt:1;--ta:left;--c:var(--g-c-text-2, text-2)"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gUVhp_QYwA relative flex flex-col"
    >
      
      <gp-price 
        gp-data='{"priceType":"compare","uid":"gaROjFlGsp","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="gaROjFlGsp data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gaROjFlGsp"
        class=""
        style=""
      >
      <div
        data-gp-text
        class="gp-price line-through decoration-g-text-1 text-g-text-1 g-subheading-2"
        style="--tdc:text-1;--tdt:1;--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
    </div>
    </div>
  
    
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"continue-shopping","customURL":{"link":"/cart","target":"_self"},"errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to cart","outOfStockLabel":"Out of stock","errorType":"built-in"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="button" data-id="gU0HR8V5f6" aria-label="Add to cart"
      data-state="idle"
      class="gU0HR8V5f6 relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#121212;--hvr-bc:#4D4D4D"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Add to cart
      </span>
    </button>
  </div>
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="gU0HR8V5f6" aria-label="Out of stock"
      data-state="idle"
      class="gU0HR8V5f6 relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#121212;--hvr-bc:#4D4D4D"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style="--tt:default"
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      class="gr0RgRFAtM gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="gr0RgRFAtM flex items-center gp-accordion-item_header cursor-pointer g-s-medium"
        style="--fd:row-reverse;--jc:space-between;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
        <div class="mr-[12px]">
          <span
            style="--c:#121212;--hvr-c:#121212"
            data-index="2"
            class="gr0RgRFAtM gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
        </div>
        
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="g-paragraph-1"
        style=""
      >
      Accordion 3
      </span>
    </div>
      </div>
      <div
        uid="ga05VuApE7"
        data-index="2"
        class="gr0RgRFAtM gp-accordion-item_body hidden g-s-medium"
        style=""
      >
        <div
      tag="Col" label="Block" type="component"
      style=""
      class="gtrkYp1wur relative flex flex-col"
    >
      
    <gp-tab gp-data='{"setting":{"childItem":["Tab 1","Tab 2"],"position":{"desktop":"top"},"labelTypoV2":{"type":"paragraph-1"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"left"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#f5f5f5"},"labelColor":{"normal":"#121212"},"borderTab":{"normal":{"border":"solid","width":"0px 0px 0px 0px","borderWidth":"0px","color":"transparent","isCustom":false,"position":"all"},"active":{"border":"solid","width":"0px 0px 2px 0px","borderWidth":"2px","color":"#121212","position":"bottom","isCustom":true}}},"builderProps":{"uid":"g2aZ5bpFzF","builderData":{"uid":"g2aZ5bpFzF","tag":"Tabs","label":"Tab","settings":{"childItem":["Tab 1","Tab 2"],"position":{"desktop":"top"},"labelTypoV2":{"type":"paragraph-1"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"left"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#f5f5f5"},"labelColor":{"normal":"#121212"},"borderTab":{"normal":{"border":"solid","width":"0px 0px 0px 0px","borderWidth":"0px","color":"transparent","isCustom":false,"position":"all"},"active":{"border":"solid","width":"0px 0px 2px 0px","borderWidth":"2px","color":"#121212","position":"bottom","isCustom":true}}},"styles":{},"advanced":{"margin":{"desktop":{"bottom":"var(--g-s-l)"}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"borderType":"none","border":"solid","borderWidth":"0px","width":"0px","color":"#121212","isCustom":true},"rounded":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hasBoxShadow":false,"boxShadow":{"type":"shadow-1","distance":"2px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.12)","angle":90},"op":{"desktop":"100%"}},"childrens":["gAzPmjgLca","gZa2-hDgFw"],"type":"component"}}}'>
      <div
        
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
        class="flex g2aZ5bpFzF"
      >
        <div
          class="flex w-full  flex-col"
        >
          <div
            class="flex whitespace-nowrap"
            style="--jc:left"
          >
            <ul
              class="gp-tab-header-list flex  flex-row"
              style="--minw:200px;--minw-tablet:;--minw-mobile:;overflow-x:auto"
            >
              
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="g2aZ5bpFzF"
                  >
                    
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="cursor-pointer g-paragraph-1"
        style=""
      >
      Tab 1
      </span>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="g2aZ5bpFzF"
                  >
                    
    <div
      
        class=""
        style=""
      >
      <span
        data-gp-text
        class="cursor-pointer g-paragraph-1"
        style=""
      >
      Tab 2
      </span>
    </div>
                  </li>
                
            </ul>
          </div>
          <div
            class="flex flex-1"
          >
            <div
              class="gp-tab-item-container"
              key="g2aZ5bpFzF" 
              style="--w:100%"
            >
            
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
    class="gp-tab-item"
  >
    
    <div>
      <link rel="preload" href="https://ucarecdn.com/77b731a5-4974-490f-ab81-43bc5cf91258/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" as="image" />
      
      
      <div
        
        class="gQLBwhggRX group/hero flex flex-col overflow-hidden transition-colors duration-200 ease-in-out"
        style="--mb:var(--g-s-l);--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--d:flex;--d-tablet:flex;--d-mobile:flex;--h:500px"
      >
        <div
        className="relative flex flex-col justify-center"
          style="--h:500px"
        >
          <div
            aria-label="Background Image"
            role="banner"
            class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform "
            style="--bgc:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/77b731a5-4974-490f-ab81-43bc5cf91258/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--duration:0.5s;--scale:110%;--top:-0px;--left:-0px"
          > </div>
          <div
            aria-label="Overlay"
            role="banner"
            class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:-0px;--left:-0px;--op:20%"
          > </div>
          
          
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gggNfqCLVn relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
    </div>
  
    
        </div>
      </div>
    </div>
  
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-tab.js" defer="defer"></script>
  
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section g5mouHt0v7",
    "tag": "section",
    "class": "gps-466966583055483491 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=466966583055483491)"
      }
    ],
    "blocks": []
  }
{% endschema %}
