
  
  <style>
    .gps-454640652018254504 .-translate-y-1\/2,.gps-454640652018254504 .mobile\:-translate-y-1\/2,.gps-454640652018254504 .mobile\:rotate-0,.gps-454640652018254504 .mobile\:rotate-180,.gps-454640652018254504 .mobile\:translate-x-0,.gps-454640652018254504 .mobile\:translate-y-1\/2,.gps-454640652018254504 .rotate-0,.gps-454640652018254504 .rotate-180,.gps-454640652018254504 .tablet\:-translate-y-1\/2,.gps-454640652018254504 .tablet\:rotate-0,.gps-454640652018254504 .tablet\:rotate-180,.gps-454640652018254504 .tablet\:translate-x-0,.gps-454640652018254504 .tablet\:translate-y-1\/2,.gps-454640652018254504 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-454640652018254504 .shadow-md,.gps-454640652018254504 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-454640652018254504 .btn-disabled{cursor:default}.gps-454640652018254504 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-454640652018254504 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-454640652018254504 .g-s-medium{padding:8px 24px}.gps-454640652018254504 .sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-454640652018254504 .pointer-events-none{pointer-events:none}.gps-454640652018254504 .invisible{visibility:hidden}.gps-454640652018254504 .static{position:static}.gps-454640652018254504 .absolute{position:absolute}.gps-454640652018254504 .relative{position:relative}.gps-454640652018254504 .inset-0{inset:0}.gps-454640652018254504 .bottom-1\/2{bottom:50%}.gps-454640652018254504 .left-0{left:0}.gps-454640652018254504 .left-4{left:1rem}.gps-454640652018254504 .right-4{right:1rem}.gps-454640652018254504 .top-0{top:0}.gps-454640652018254504 .top-1\/2{top:50%}.gps-454640652018254504 .mx-auto{margin-left:auto;margin-right:auto}.gps-454640652018254504 .\!ml-0{margin-left:0!important}.gps-454640652018254504 .mb-0{margin-bottom:0}.gps-454640652018254504 .mt-2{margin-top:.5rem}.gps-454640652018254504 .box-border{box-sizing:border-box}.gps-454640652018254504 .flex{display:flex}.gps-454640652018254504 .inline-flex{display:inline-flex}.gps-454640652018254504 .grid{display:grid}.gps-454640652018254504 .contents{display:contents}.gps-454640652018254504 .\!hidden{display:none!important}.gps-454640652018254504 .hidden{display:none}.gps-454640652018254504 .aspect-square{aspect-ratio:1/1}.gps-454640652018254504 .h-5{height:1.25rem}.gps-454640652018254504 .h-6{height:1.5rem}.gps-454640652018254504 .h-\[24px\]{height:24px}.gps-454640652018254504 .h-fit{height:-moz-fit-content;height:fit-content}.gps-454640652018254504 .h-full{height:100%}.gps-454640652018254504 .w-5{width:1.25rem}.gps-454640652018254504 .w-6{width:1.5rem}.gps-454640652018254504 .w-\[12px\]{width:12px}.gps-454640652018254504 .w-\[24px\]{width:24px}.gps-454640652018254504 .w-auto{width:auto}.gps-454640652018254504 .w-full{width:100%}.gps-454640652018254504 .min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-454640652018254504 .max-w-full{max-width:100%}.gps-454640652018254504 .flex-1{flex:1 1 0%}.gps-454640652018254504 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-454640652018254504 .-translate-y-1\/2,.gps-454640652018254504 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .translate-y-1\/2{--tw-translate-y:50%}.gps-454640652018254504 .rotate-0{--tw-rotate:0deg}.gps-454640652018254504 .rotate-0,.gps-454640652018254504 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-454640652018254504 .animate-spin{animation:spin 1s linear infinite}.gps-454640652018254504 .\!cursor-not-allowed{cursor:not-allowed!important}.gps-454640652018254504 .cursor-pointer{cursor:pointer}.gps-454640652018254504 .flex-row{flex-direction:row}.gps-454640652018254504 .flex-col{flex-direction:column}.gps-454640652018254504 .flex-wrap{flex-wrap:wrap}.gps-454640652018254504 .items-start{align-items:flex-start}.gps-454640652018254504 .items-center{align-items:center}.gps-454640652018254504 .justify-start{justify-content:flex-start}.gps-454640652018254504 .justify-center{justify-content:center}.gps-454640652018254504 .gap-2{gap:.5rem}.gps-454640652018254504 .overflow-auto{overflow:auto}.gps-454640652018254504 .overflow-hidden{overflow:hidden}.gps-454640652018254504 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-454640652018254504 .rounded-full{border-radius:9999px}.gps-454640652018254504 .border{border-width:1px}.gps-454640652018254504 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-454640652018254504 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-454640652018254504 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-454640652018254504 .bg-g-brand{background-color:var(--g-c-brand)}.gps-454640652018254504 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-454640652018254504 .bg-auto{background-size:auto}.gps-454640652018254504 .object-contain{-o-object-fit:contain;object-fit:contain}.gps-454640652018254504 .p-2{padding:.5rem}.gps-454640652018254504 .p-\[1px\]{padding:1px}.gps-454640652018254504 .px-\[16px\]{padding-left:16px;padding-right:16px}.gps-454640652018254504 .pl-4{padding-left:1rem}.gps-454640652018254504 .pr-6{padding-right:1.5rem}.gps-454640652018254504 .text-center{text-align:center}.gps-454640652018254504 .text-g-success{color:var(--g-c-success)}.gps-454640652018254504 .text-g-text-1{color:var(--g-c-text-1)}.gps-454640652018254504 .text-g-text-2{color:var(--g-c-text-2)}.gps-454640652018254504 .text-g-text-3{color:var(--g-c-text-3)}.gps-454640652018254504 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-454640652018254504 .no-underline{text-decoration-line:none}.gps-454640652018254504 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-454640652018254504 .opacity-0{opacity:0}.gps-454640652018254504 .opacity-20{opacity:.2}.gps-454640652018254504 .opacity-25{opacity:.25}.gps-454640652018254504 .opacity-30{opacity:.3}.gps-454640652018254504 .opacity-75{opacity:.75}.gps-454640652018254504 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-454640652018254504 .shadow-md,.gps-454640652018254504 .shadow-none{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-454640652018254504 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-454640652018254504 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-454640652018254504 .outline{outline-style:solid}.gps-454640652018254504 .outline-1{outline-width:1px}.gps-454640652018254504 .-outline-offset-1{outline-offset:-1px}.gps-454640652018254504 .ring-gray-400{--tw-ring-opacity:1;--tw-ring-color:rgb(156 163 175/var(--tw-ring-opacity))}.gps-454640652018254504 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454640652018254504 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454640652018254504 .duration-100{transition-duration:.1s}.gps-454640652018254504 .duration-200{transition-duration:.2s}.gps-454640652018254504 .duration-300{transition-duration:.3s}.gps-454640652018254504 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-454640652018254504 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-454640652018254504 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-454640652018254504 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}}.gps-454640652018254504 .focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px}.gps-454640652018254504 .active\:text-g-success:active{color:var(--g-c-success)}.gps-454640652018254504 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-454640652018254504 .disabled\:cursor-default:disabled{cursor:default}.gps-454640652018254504 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-454640652018254504 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-454640652018254504 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-454640652018254504 .data-\[disabled\=\'disabled\'\]\:pointer-events-none[data-disabled=disabled],.gps-454640652018254504 .data-\[disabled\=true\]\:pointer-events-none[data-disabled=true]{pointer-events:none}.gps-454640652018254504 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-454640652018254504 .data-\[disabled\=\'disabled\'\]\:\!cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-454640652018254504 .data-\[disabled\=true\]\:cursor-not-allowed[data-disabled=true]{cursor:not-allowed}.gps-454640652018254504 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-454640652018254504 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-454640652018254504 .tablet\:bottom-1\/2{bottom:50%}.gps-454640652018254504 .tablet\:left-4{left:1rem}.gps-454640652018254504 .tablet\:right-4{right:1rem}.gps-454640652018254504 .tablet\:top-1\/2{top:50%}.gps-454640652018254504 .tablet\:mt-2{margin-top:.5rem}.gps-454640652018254504 .tablet\:inline{display:inline}.gps-454640652018254504 .tablet\:w-full{width:100%}.gps-454640652018254504 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-454640652018254504 .tablet\:-translate-y-1\/2,.gps-454640652018254504 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-454640652018254504 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-454640652018254504 .tablet\:rotate-0,.gps-454640652018254504 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .tablet\:rotate-0{--tw-rotate:0deg}.gps-454640652018254504 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .tablet\:flex-row{flex-direction:row}.gps-454640652018254504 .tablet\:flex-col{flex-direction:column}.gps-454640652018254504 .tablet\:flex-wrap{flex-wrap:wrap}.gps-454640652018254504 .tablet\:justify-start{justify-content:flex-start}}@media (max-width:767px){.gps-454640652018254504 .mobile\:bottom-1\/2{bottom:50%}.gps-454640652018254504 .mobile\:left-4{left:1rem}.gps-454640652018254504 .mobile\:right-4{right:1rem}.gps-454640652018254504 .mobile\:top-1\/2{top:50%}.gps-454640652018254504 .mobile\:mt-2{margin-top:.5rem}.gps-454640652018254504 .mobile\:inline{display:inline}.gps-454640652018254504 .mobile\:w-full{width:100%}.gps-454640652018254504 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-454640652018254504 .mobile\:-translate-y-1\/2,.gps-454640652018254504 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-454640652018254504 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-454640652018254504 .mobile\:rotate-0,.gps-454640652018254504 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .mobile\:rotate-0{--tw-rotate:0deg}.gps-454640652018254504 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-454640652018254504 .mobile\:flex-row{flex-direction:row}.gps-454640652018254504 .mobile\:flex-col{flex-direction:column}.gps-454640652018254504 .mobile\:flex-wrap{flex-wrap:wrap}.gps-454640652018254504 .mobile\:justify-start{justify-content:flex-start}.gps-454640652018254504 .mobile\:overflow-visible{overflow:visible}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gYPpcFuuDd"
        style="--pt:30px;--pb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYPpcFuuDd mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gz9cVtUk_m relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-product.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8215461724460' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['the-complete-snowboard']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8215461724460'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8215461724460' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['the-complete-snowboard']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8215461724460'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 44752501539116 -%}
      {%- assign product_form_id = 'product-form-' | append: "gWS8-Yf6EX" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--cg:40px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gmnnYCxBB8 relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="ggpQp7Je7G">
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images gp-data='{"id":"ggpQp7Je7G", "setting":{"hoverEffect":"zoom","zoom":1.5,"zoomType":"default","galleryVisible":{"desktop":true,"mobile":true,"tablet":true},"featureImageVisible":{"desktop":true,"mobile":true,"tablet":true},"otherImage":0,"clickEffect":"none","type":{"desktop":"images","mobile":"images","tablet":"images"},"largeViewInPopup":{"desktop":false,"mobile":false,"tablet":false},"slidesToShow":{"desktop":5},"numberPerRow":{"desktop":5},"showActiveStatus":true,"controlOverContent":{"desktop":true},"dot":{"desktop":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"loop":{"desktop":true,"mobile":true,"tablet":true},"pauseOnHover":true,"speed":1,"arrowIcon":"","dragToScroll":true}, "styles":{"ftAspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftLayout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"ftFullWidth":{"desktop":true,"mobile":true,"tablet":true},"ftWidth":{"desktop":"100px","mobile":"100px","tablet":"100px"},"ftAlign":{"desktop":"center","mobile":"center","tablet":"center"},"aspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"width":{"desktop":"300px","mobile":"300px","tablet":"300px"},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"align":{"desktop":"center","mobile":"center","tablet":"center"},"position":{"desktop":"bottom-left","tablet":"bottom-left","mobile":"bottom-left"},"gallerySpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"brand"}}, "product":{{product | json | escape}}}'>
    <div
        class="flex w-full  mobile:overflow-visible flex-col tablet:flex-col mobile:flex-col"
        style="--ai:center;--ai-tablet:center;--ai-mobile:center"
      >
        <div
    class="featured-image-root"
    style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100%;--w-tablet:100%;--w-mobile:100%;--maxw:100%;--maxw-tablet:100%;--maxw-mobile:100%"
  >
    <div role="presentation" 
      class="featured-image-wrapper relative flex w-full overflow-hidden"
      style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
    >
    <div class="flex w-full justify-center">
    <div class="featured-image group relative w-full">
      <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only transition-opacity gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
      <div class="zoom-element absolute top-0 left-0 opacity-0 transition-opacity bg-white">
        <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only image-zoom gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
       </div>
      
    </div>
    </div>
    </div>
</div>
        <div
          class="gallery-wrapper h-fit max-w-full overflow-auto justify-start tablet:justify-start mobile:justify-start"
          style="--fs:1.23;--d:inline-flex;--d-mobile:inline-flex;--d-tablet:inline-flex;--w:100%;--w-tablet:100%;--w-mobile:100%;--maxw:100%;--maxw-tablet:100%;--maxw-mobile:100%"
        >
        {%- if product.images.size > 1 -%}
          
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-ggpQp7Je7G-{{product.id}}" class="flex-1 w-full carousel-galley"  gp-data='{"id":"ggpQp7Je7G-{{product.id}}","setting":{"loop":{"desktop":true,"mobile":true,"tablet":true},"slidesToShow":{"desktop":5},"dot":{"desktop":true},"arrow":{"desktop":true,"mobile":true,"tablet":true},"controlOverContent":{"desktop":true},"enableDrag":true,"vertical":{"desktop":false},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"arrowCustom":""},"styles":{"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"height":{"desktop":"auto","mobile":"auto","tablet":"auto"},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":5,"tablet":5,"mobile":5},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}}}' style="--d:none;--d-mobile:none;--d-tablet:none">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative gp-carousel-wrapper"
        style="--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-ggpQp7Je7G-{{product.id}}" class="gem-slider h-full overflow-hidden">
            
      {%- if product.images.size > 1 -%}
      {%- for image in product.images -%}
          {%- if featured_image != null and image.id == featured_image.id -%}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-ggpQp7Je7G-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item outline p-[1px]"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;outline-color: var(--g-c-brand, brand);" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
            {% else %}
            
    <div
      
      id="{{image.id}}"
      style=""
      class="gem-slider-item w-full gem-slider-item-ggpQp7Je7G-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {%- endif -%}
      {% endfor %}
      {%- endif -%}
      
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back ggpQp7Je7G-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 mobile:left-4 mobile:translate-x-0 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  

        
    <button
      class="gp-carousel-action-next ggpQp7Je7G-{{product.id}} absolute w-[24px] h-[24px] cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 mobile:right-4 mobile:translate-x-0 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-ggpQp7Je7G-{{product.id}} flex flex-row w-full mt-2 tablet:flex-row tablet:w-full tablet:mt-2 mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
        {%- endif -%}
          <div type="grid-gallery"
    class="grid-gallery h-fit w-full flex-wrap tablet:flex-wrap mobile:flex-wrap"
    style="--d:flex;--d-mobile:flex;--d-tablet:flex;--fd:row;--fd-tablet:row;--fd-mobile:row;--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--gg:5px;--gg-tablet:5px;--gg-mobile:5px;--ai:flex-start;--ai-tablet:flex-start;--ai-mobile:flex-start;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s)"
  > 
{%- if product.images.size > 1 -%}
  {%- for image in product.images -%}
    {%- if featured_image != null and image.id == featured_image.id -%}
    <div aria-hidden id="{{image.id}}" class="image-item outline p-[1px] group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 4px);--w-tablet: calc(20% - 4px);--w-mobile: calc(20% - 4px);--h: fit-content;--h-tablet: fit-content;--h-mobile: fit-content;--minh: fit-content;--minh-tablet: fit-content;--minh-mobile: fit-content;max-width: 100%;outline-color: var(--g-c-brand, brand);"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {% else %}
    <div aria-hidden id="{{image.id}}" class="image-item undefined group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(20% - 4px);--w-tablet: calc(20% - 4px);--w-mobile: calc(20% - 4px);--h: fit-content;--h-tablet: fit-content;--h-mobile: fit-content;--minh: fit-content;--minh-tablet: fit-content;--minh-mobile: fit-content;max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
    {%- endif -%}
  {% endfor %}
  {%- endif -%}
  </div>
        </div>
      </div>
  </gp-product-images>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g8pcHaj_gV relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="g2h6FRx5j-">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        
    <div
      
        class=""
        style="--tt:default"
      >
      <h1
        class="text-g-text-2 g-heading-3"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-2, text-2)"
      >
      {{ product.title }}
      </h1>
    </div>
      
    {%- endunless -%}
  
      </div>
      <gp-price 
        gp-data='{"priceType":"regular","uid":"glSNMryhPh","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="glSNMryhPh data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%"
        data-hidden="false"
      >
        
    <div
      id="p-price-glSNMryhPh"
        class=""
        style="--tdt:1"
      >
      <div
        class="gp-price decoration-g-text-1 text-g-text-1 g-paragraph-1"
        style="--tdc:text-1;--ta:left;--c:var(--g-c-text-1, text-1)"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-price>
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to Cart","outOfStockLabel":"Out of stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--mt:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="gQjUzVj3bQ" aria-label="Add to Cart"
      data-state="idle"
      class="gQjUzVj3bQ relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
<path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M448 128.001H362.667C362.667 69.1207 314.88 21.334 256 21.334C197.12 21.334 149.333 69.1207 149.333 128.001H64V469.334H448V128.001ZM256 64.0007C291.413 64.0007 320 92.5873 320 128.001H192C192 92.5873 220.587 64.0007 256 64.0007ZM256 277.334C197.12 277.334 149.333 229.547 149.333 170.667H192C192 206.081 220.587 234.667 256 234.667C291.413 234.667 320 206.081 320 170.667H362.667C362.667 229.547 314.88 277.334 256 277.334Z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Add to Cart
      </span>
    </button>
  </div>
        <div
    
    style="--mt:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="gQjUzVj3bQ" aria-label="Out of stock"
      data-state="idle"
      class="gQjUzVj3bQ relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="gp-button-loading absolute h-5 w-5 animate-spin invisible group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="gp-button-icon inline-flex items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
<path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M448 128.001H362.667C362.667 69.1207 314.88 21.334 256 21.334C197.12 21.334 149.333 69.1207 149.333 128.001H64V469.334H448V128.001ZM256 64.0007C291.413 64.0007 320 92.5873 320 128.001H192C192 92.5873 220.587 64.0007 256 64.0007ZM256 277.334C197.12 277.334 149.333 229.547 149.333 170.667H192C192 206.081 220.587 234.667 256 234.667C291.413 234.667 320 206.081 320 170.667H362.667C362.667 229.547 314.88 277.334 256 277.334Z" /></svg></span>
      <span
        class="gp-button-label truncate group-data-[state=loading]:invisible"
        style=""
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-small);--shadow:none;--op:100%" class="g7bjricgKn">
      

  <gp-product-variants gp-data='{"setting":{"optionType":"singleOption","label":true,"optionAlign":{"desktop":"left"},"price":true,"showAsSwatches":true,"soldOutMark":true,"layout":{"desktop":"vertical"},"column":{"desktop":1},"hasPreSelected":true,"blankText":"Please select an option"}, "styles":{"fullWidth":{"desktop":true},"width":{"desktop":"100px"},"optionSpacing":"30px","swatchAutoWidth":{"desktop":true},"swatchWidth":{"desktop":"40px"},"swatchHeight":{"desktop":"45px"},"swatchSpacing":"var(--g-s-m)","marginBottom":{"desktop":"var(--g-s-xl)","mobile":"var(--g-s-xl)"},"align":{"desktop":"left"},"labelTypography":{"type":"paragraph-1"},"labelColor":"text-2","labelSpacing":"20px","optionTypography":{"type":"paragraph-1"},"optionTransform":"default","optionBgColor":{"normal":"bg-3"},"optionTextColor":{"normal":"text-2","hover":"text-2","active":"success"},"optionBorder":{"normal":{"borderType":"style-2","borderLabel":"Style 2","border":"solid","color":"line-2","isCustom":false,"width":"1px 1px 1px 1px"},"active":{"borderType":"style-2","borderLabel":"Style 2","border":"solid","color":"line-2","isCustom":false,"width":"1px 1px 1px 1px"}},"optionRounded":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hover":{"radiusType":"none"},"active":{"radiusType":"none"}},"optionHasShadow":{"normal":false},"optionShadow":{"normal":{"type":"shadow-1"}},"dropdownItemWidth":{"desktop":"fill"},"fixedDropdownWidth":{"desktop":"240px"},"swatchItemWidth":{"desktop":"auto"}}, "variants":{{product.variants | json | escape}}, 
      "optionsWithValues": {{product.options_with_values | json | escape}},
      "variantSelected": {{variant | json | escape}},
      "variantInventoryQuantity": {{product.variants | map: 'inventory_quantity' | json | escape}}
    }
  '>
    {%- assign options = product.options_with_values -%}
    {%- assign variants = product.variants -%}
    {%- if options.size == 0 or options.size == 1 and options[0].name == 'Title' and options[0].values.size == 1 and options[0].values[0] == 'Default Title' -%}
      <div>
      
      </div>    
    {% else %}
      <div
      class="grid !ml-0"
      style="--gtc:repeat(1, minmax(0, 1fr));--ta:left;--w:100%;--w-tablet:100%;--w-mobile:100%;--rg:var(--g-s-xl);--rg-mobile:var(--g-s-xl)"
    >
      
      {%- for option in options -%}
        <div
        class="flex flex-col items-start"
       
        >
          
    <div
      
        class=""
        style=""
      >
      <legend
        class="g-paragraph-1"
        style=""
      >
      {{option.name}}
      </legend>
    </div>

          <div
              class="justify-start flex w-full flex-wrap items-center"
              style="--rg:var(--g-s-m);--cg:var(--g-s-m)"
            >
              {%- assign values = option.values -%}
              {%- assign rootForloop = forloop.index0 -%}
              {%- if option.position == 1 -%}
                {%- assign selectedValue = variant.option1 -%}
              {%- elsif option.position == 2 -%}
                {%- assign selectedValue = variant.option2 -%}
              {%- else -%}
                {%- assign selectedValue = variant.option3 -%}
              {%- endif -%}
              
              
    {% assign optionRendered = false %}
    {%  assign swatches = shop.metafields.GEMPAGES.swatches %}
    {%  assign swatchesItems = swatches | split: '($1)'  %}
    {% for swatchesItem in swatchesItems %}
      {% assign colorArraysString = "" %}
      {% assign labelsString = "" %}
      {% assign imageUrlsString = "" %}
     
      {%  assign attrItems = swatchesItem | split: '($3)'  %}
      {% for attrItem in attrItems %}
        {%  assign attrs = attrItem | split: '($2)'  %}
    
        
          {% assign optionKey = attrs[0] %}
          {% assign optionValue = attrs[1] %}
          {% if optionKey == 'optionTitle' %}
                {% assign optionTitle = optionValue %}
              {% elsif optionKey == 'optionType' %}
                {% assign optionType = optionValue %}
            {% endif %}
        

            {% if optionKey == 'optionValues' %}
            
              {% assign opValueItems = optionValue | split: '($4)'  %}
              {% for opValueItem in opValueItems %}
                {% assign opValueItemAttrs = opValueItem | split: '($6)'  %}
                {% for opValueItemAttr in opValueItemAttrs %}
                  {% assign attrs = opValueItemAttr | split: '($5)'  %}
        
               
                  {% assign opValueItemKey = attrs[0] %}
                  {% assign opValueItemValue = attrs[1] %}
                 
                  {% if opValueItemKey == 'label' %}
                  
                    {% assign labelsString = labelsString | append: opValueItemValue %}
                    {% assign labelsString = labelsString | append: "($8)" %}
                  {% endif %}
                  {% if opValueItemKey == 'colors' %}   
                    {% assign colorArraysString = colorArraysString | append: opValueItemValue %}
                    {% assign colorArraysString = colorArraysString | append: "($8)" %}
                  {% endif %}

                  {% if opValueItemKey == 'imageUrl' %}   
                    {% assign imageUrlsString = imageUrlsString | append: opValueItemValue %}
                    {% assign imageUrlsString = imageUrlsString | append: "($8)" %}
                    
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
        
      {% endfor %}
      {% assign labels = labelsString | split: '($8)' %}
      {% assign colorStrings = colorArraysString | split: '($8)' %}
      {% assign imageUrls = imageUrlsString | split: '($8)' %}

      {% if optionTitle == option.name %}
        {% if optionType == 'color' or optionType == 'image' or optionType == 'rectangle_list' %}
            {% assign optionRendered = true %}
            {%- for value in values -%}
              
                
 
  {%- liquid
    assign option_disabled = true
    for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
  
  -%}

  
   
  <div
    id="{{option.name}}-{{value}}"
    htmlFor="d16c9ce0-84a2-4af3-a074-62fc4445a64e-{{option.name}}-{{option.position}}-{{ forloop.index }}"
   
   {%- if option_disabled == true -%}
    class="option-item-active option-item opacity-20"
   {% else %}
    class="option-item-active option-item"
   {%- endif -%}
  >
    <input
      checked="{%- if option.selected_value == value -%}true{% else %}false{%- endif -%}"
      name="{{product.id}}-options-{{option.name}}"
      id="d16c9ce0-84a2-4af3-a074-62fc4445a64e-{{option.name}}-{{option.position}}-{{ forloop.index }}"
      value="{{value}}"
      type="radio"
      class="sr-only"
    />
    <span class="sr-only">{{value}}</span>
    
    {% if optionType == 'color' %}
      <div
    class="
    {%- if option_disabled == true -%}
    border-g-line-2 g-paragraph-1 relative box-border overflow-hidden !cursor-not-allowed  pointer-events-none option-value-wrapper flex w-auto cursor-pointer items-center justify-center ring-gray-400 focus:outline-none
    {%- else -%}
    border-g-line-2 g-paragraph-1 relative box-border overflow-hidden flex w-auto cursor-pointer option-value-wrapper items-center justify-center ring-gray-400 focus:outline-none
    {%- endif -%}
    "
    style="
    {%- if selectedValue == value -%}
      --h: 45px;--minw: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--c: default;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);
    {%- else -%}
      --h: 45px;--minw: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--bblr: 0px;--bbrr: 0px;--btlr: 0px;--btrr: 0px;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--c: default;
    {%- endif -%}
    "
    option-data="{{option.name}}"
    option-position="{{option.position}}"
    option-value="{{value}}"
    option-type="color"
  >
  {% assign colorsString = null %}
  {% assign colors = null %}
    {% for label in labels %}
      {% if label == value %}
        {% assign colorsString = colorStrings[forloop.index0] %}
      {% endif %}
    {% endfor %}
    {% if colorsString != null %}
      {% assign colors = colorsString | split: '($7)' %}
    {% endif %}

   {%- if colors != null and colors.size > 0 -%}
    
     {%- for color in colors -%}
      <div
      class="h-full w-full min-w-fit"
      style="background-color: {{color}}; display: flex;"></div>
     {%- endfor -%}
     
   {% else %}
   <div
      class="
    {%- if selectedValue == value -%}
      px-[16px] option-value text-center
    {%- else -%}
      px-[16px] option-value text-center
    {%- endif -%}
    "
      style="
    {%- if selectedValue == value -%}
      --c: var(--g-c-success, success);--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--tt: default;
    {%- else -%}
    --c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--tt: default;
    {%- endif -%}
    "
      >
      {{value}}
    </div> 
   {%- endif -%}
  </div>

      {% elsif optionType == 'image' %}

         <div
   class="
    {%- if option_disabled == true -%}
    border-g-line-2 g-paragraph-1 items-center box-border !cursor-not-allowed option-value-wrapper relative  flex w-auto cursor-pointer items-center justify-center ring-gray-400 focus:outline-none
    {%- else -%}
    border-g-line-2 g-paragraph-1 relative box-border items-center  flex w-auto option-value-wrapper cursor-pointer items-center justify-center ring-gray-400 focus:outline-none
    {%- endif -%}
    "
   style="
    {%- if selectedValue == value -%}
      --h: 45px;--tt: default;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);
    {%- else -%}
      --h: 45px;--bblr: 0px;--bbrr: 0px;--btlr: 0px;--btrr: 0px;--tt: default;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);
    {%- endif -%}
    "
   option-data="{{option.name}}"
   option-value="{{value}}"
   option-position="{{option.position}}"
   option-type="rectangle_list"
 >
 {% assign imageUrl = null %}
    {% for label in labels %}
    {% if label == value %}
      {% assign imageUrl = imageUrls[forloop.index0] %}
    {% endif %}
    {% endfor %}
  {%- if imageUrl != null -%}
      <div
      class="h-full w-full"
      style="--w:100%;--w-tablet:40px;--w-mobile:40px"
      >
      <img class="h-full w-full object-contain" src="{{imageUrl}}" alt="" />
      </div>
  {%- endif -%}

  {%- if imageUrl == null -%}
  <div
      class="
    {%- if selectedValue == value -%}
      px-[16px] option-value text-center
    {%- else -%}
      px-[16px] option-value text-center
    {%- endif -%}
    "
      style="
    {%- if selectedValue == value -%}
      --c: var(--g-c-success, success);--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--tt: default;
    {%- else -%}
    --c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--tt: default;
    {%- endif -%}
    "
    >
      {{value}}
    </div>
  {%- endif -%}
 
 </div>
      {% elsif optionType == 'rectangle_list' %}
 
        

    <div
    id="value-wrapper-{{option.name | strip}}-{{value | strip}}"
    option-data="{{option.name}}"
    option-value="{{value}}"
    option-position="{{option.position}}"
    option-type="rectangle_list"
    data-disabled="{%- if option_disabled == true -%} disabled  {%- endif -%}"
    class="
    {%- if selectedValue == value -%}
    g-paragraph-1 inline-flex box-border cursor-pointer items-center justify-center text-center option-value-wrapper px-[16px] data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed
  
    {%- else -%}
    bg-g-bg-3 g-paragraph-1 inline-flex box-border cursor-pointer items-center justify-center text-center option-value-wrapper px-[16px] data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed

    {%- endif -%}
    "
    style="
    {%- if selectedValue == value -%}
      --bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--tt: default;--h: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--c: var(--g-c-success, success);
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--tt: default;--h: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--bblr: 0px;--bbrr: 0px;--btlr: 0px;--btrr: 0px;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);
    {%- endif -%}
    "
  >
    {{value}}
  </div>
    
      {% else %}
        <div
    class="
    {%- if selectedValue == value -%}
      {%- if option_disabled == true -%}
      g-paragraph-1 inline-flex cursor-pointer items-center justify-center text-center option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed
      {%- else -%}
      g-paragraph-1 inline-flex cursor-pointer items-center justify-center text-center option-value-wrapper 
      {%- endif -%}
     
    {%- else -%}
    {%- if option_disabled == true -%}
    bg-g-bg-3 g-paragraph-1 inline-flex cursor-pointer items-center option-value-wrapper justify-center text-center option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed
    {%- else -%}
    bg-g-bg-3 g-paragraph-1 inline-flex cursor-pointer items-center option-value-wrapper justify-center text-center option-value-wrapper 
    {%- endif -%}
    {%- endif -%} 
    "
    style="
    {%- if selectedValue == value -%}
      --bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--c: default;--h: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--c: default;--h: 45px;--w: 100%;--w-tablet: 40px;--w-mobile: 40px;--bblr: 0px;--bbrr: 0px;--btlr: 0px;--btrr: 0px;--bs: solid;--bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);
    {%- endif -%}
    "
    id="value-wrapper-{{option.name | strip}}-{{value | strip}}"
    option-data="{{option.name}}"
    option-value="{{value}}"
    option-position="{{option.position}}"
    option-type="rectangle_list"
  >
    <span
      class="
    {%- if selectedValue == value -%}
      px-[16px] option-value  text-g-success
    {%- else -%}
      px-[16px] option-value  text-g-text-2 hover:text-g-text-2 active:text-g-success
    {%- endif -%}
    "
      style="
    {%- if selectedValue == value -%}
      --c: var(--g-c-success, success);
    {%- else -%}
    --c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);
    {%- endif -%}
    "
    >
     {{value}}
    </span>
  </div>
    {% endif %}
    
  </div>
              {%- endfor -%}
          {% elsif optionType == 'dropdown' %}
            {% assign optionRendered = true %}
            
    <select
    autocomplete="off"
    id="p-variant-dropdown-{{option.position}}"
    name="{%- if option -%} {{option.name}} {% else %} Select Option {%- endif -%}"
    class="truncate bg-auto pl-4 pr-6 outline-none border-g-line-2 g-paragraph-1 text-g-text-2 hover:text-g-text-2 active:text-g-success bg-g-bg-3 outline-none shadow-none"
 
    style="--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--tt:default;--c:var(--g-c-text-2, text-2);--hvr-c:var(--g-c-text-2, text-2);--bg:var(--g-c-bg-3, bg-3);--h:45px;--minw:100%;--minw-tablet:45px;--minw-mobile:45px;--w:100%;--w-tablet:240px;--w-mobile:240px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;appearance:none;background-image:url(https://cdn.shopify.com/s/files/1/1827/4239/t/1/assets/ico-select.svg?v=155563818344741998551488860031);background-repeat:no-repeat;background-position:right 10px center"
  >
  
  {%- for value in values -%}
          {%- liquid
            assign option_disabled = true
            for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
          -%}
          {%- if option_disabled == true -%}
                    {%- if value == selectedValue -%}
                      <option disabled selected option-data="{{option.name}}"
                        option-position="{{option.position}}"
                        option-value="{{value}}" value="{{value}}" class="option-value-wrapper" key="{{value}}">
                          {{value}} 
                      </option>
                      {% else %}
                        <option disabled option-data="{{option.name}}"
                        option-value="{{value}}" value="{{value}}" class="option-value-wrapper" key="{{value}}">
                          {{value}} 
                        </option>
                    {%- endif -%}
                {%- else -%}
                {%- if value == selectedValue -%}
                  <option selected option-data="{{option.name}}"
                      option-value="{{value}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value}}" key="{{value}}">
                      {{value}}
                  </option>
                  {% else %}
                  <option  option-data="{{option.name}}"
                      option-value="{{value}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value}}" key="{{value}}">
                      {{value}} 
                  </option>
                  {%- endif -%}
                {%- endif -%}
         
        {%- endfor -%}
  </select>
    
          {% elsif optionType == 'radio_buttons' %}
            {% assign optionRendered = true %}
            
    
      {%- for value in values -%}

      {%- liquid
        assign option_disabled = true
        for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
      -%}
        
          <label
          htmlFor=""
          style="--mr:var(--g-s-m)"

          {%- if option_disabled == true and option.position != 0 -%}
            class="option-item-active opacity-20 data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
          {% else %}
            class="option-item-active"
          {%- endif -%}
        >
        {%- if option_disabled == true and option.position != 0 -%}
            {%- if value == selectedValue -%}
                <input
                class="option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
                disabled
                name="{{product.id}}-options-{{value}}"
                data-disabled="disabled"
                id=""
                option-data="{{option.name}}"
                option-value="{{value}}"
                option-type="radio"
                option-position="{{option.position}}"
                value="{{value}}"
                type="radio"
                autocomplete="off"
                checked
              ></input>
            {% else %}
            <input           
              disabled
              class="option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
              name="{{product.id}}-options-{{value}}"
              id=""
              value="{{value}}"
              data-disabled="disabled"
              option-data="{{option.name}}"
              option-position="{{option.position}}"
              option-value="{{value}}"
              option-type="radio"
              autocomplete="off"
              type="radio"
            ></input>
            {%- endif -%}
        {% else %}
          {%- if value == selectedValue -%}
            <input
            class="option-value-wrapper data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none"
            name="{{product.id}}-options-{{value}}"
            id=""
            value="{{value}}"
            option-data="{{option.name}}"
            option-value="{{value}}"
            option-position="{{option.position}}"
            option-type="radio"
            type="radio"
            autocomplete="off"
            checked
          ></input>
        {% else %}
          <input 
            class="option-value-wrapper data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none"
            name="{{product.id}}-options-{{value}}"
            id=""
            value="{{value}}"
            type="radio"
            option-data="{{option.name}}"
            option-value="{{value}}"
            option-position="{{option.position}}"
            autocomplete="off"
            option-type="radio"
          ></input>
        {%- endif -%}
        {%- endif -%}
          
          <span
            class="
    {%- if selectedValue == value -%}
      p-2 option-value 
    {%- else -%}
      p-2 option-value 
    {%- endif -%}
    "
            style="
    {%- if selectedValue == value -%}
      --c: var(--g-c-success, success);--tt: default;
    {%- else -%}
    --c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--tt: default;
    {%- endif -%}
    "
          >
            {{value}}
          </span>
        </label>
      {%- endfor -%}
    
        {% endif %}
      {% endif %}
    {% endfor %}
    
    {% if optionRendered == false %}
      
    
    <select
    autocomplete="off"
    id="p-variant-dropdown-{{option.position}}"
    name="{%- if option -%} {{option.name}} {% else %} Select Option {%- endif -%}"
    class="truncate bg-auto pl-4 pr-6 outline-none border-g-line-2 g-paragraph-1 text-g-text-2 hover:text-g-text-2 active:text-g-success bg-g-bg-3 outline-none shadow-none"
 
    style="--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--tt:default;--c:var(--g-c-text-2, text-2);--hvr-c:var(--g-c-text-2, text-2);--bg:var(--g-c-bg-3, bg-3);--h:45px;--minw:100%;--minw-tablet:45px;--minw-mobile:45px;--w:100%;--w-tablet:240px;--w-mobile:240px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;appearance:none;background-image:url(https://cdn.shopify.com/s/files/1/1827/4239/t/1/assets/ico-select.svg?v=155563818344741998551488860031);background-repeat:no-repeat;background-position:right 10px center"
  >
  
  {%- for value in values -%}
          {%- liquid
            assign option_disabled = true
            for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
          -%}
          {%- if option_disabled == true -%}
                    {%- if value == selectedValue -%}
                      <option disabled selected option-data="{{option.name}}"
                        option-position="{{option.position}}"
                        option-value="{{value}}" value="{{value}}" class="option-value-wrapper" key="{{value}}">
                          {{value}} 
                      </option>
                      {% else %}
                        <option disabled option-data="{{option.name}}"
                        option-value="{{value}}" value="{{value}}" class="option-value-wrapper" key="{{value}}">
                          {{value}} 
                        </option>
                    {%- endif -%}
                {%- else -%}
                {%- if value == selectedValue -%}
                  <option selected option-data="{{option.name}}"
                      option-value="{{value}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value}}" key="{{value}}">
                      {{value}}
                  </option>
                  {% else %}
                  <option  option-data="{{option.name}}"
                      option-value="{{value}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value}}" key="{{value}}">
                      {{value}} 
                  </option>
                  {%- endif -%}
                {%- endif -%}
         
        {%- endfor -%}
  </select>
    
    {% endif %}
    
          </div>
      </div>
      {%- endfor -%}
    
    </div>
    {%- endif -%}
    
  </gp-product-variants>
  
   
      </div>
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section g9v0P26dss",
    "tag": "section",
    "class": "gps-454640652018254504 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=454640652018254504)"
      }
    ],
    "blocks": []
  }
{% endschema %}
