
  
  
  <style>
    .gps-479549128288764896 .-translate-y-1\/2,.gps-479549128288764896 .mobile\:-translate-y-1\/2,.gps-479549128288764896 .mobile\:rotate-0,.gps-479549128288764896 .mobile\:rotate-180,.gps-479549128288764896 .mobile\:translate-x-0,.gps-479549128288764896 .mobile\:translate-y-1\/2,.gps-479549128288764896 .rotate-0,.gps-479549128288764896 .rotate-180,.gps-479549128288764896 .tablet\:-translate-y-1\/2,.gps-479549128288764896 .tablet\:rotate-0,.gps-479549128288764896 .tablet\:rotate-180,.gps-479549128288764896 .tablet\:translate-x-0,.gps-479549128288764896 .tablet\:translate-y-1\/2,.gps-479549128288764896 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-479549128288764896 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-479549128288764896 .absolute{position:absolute}.gps-479549128288764896 .relative{position:relative}.gps-479549128288764896 .bottom-1\/2{bottom:50%}.gps-479549128288764896 .left-4{left:16px}.gps-479549128288764896 .right-4{right:16px}.gps-479549128288764896 .top-1\/2{top:50%}.gps-479549128288764896 .mx-auto{margin-left:auto;margin-right:auto}.gps-479549128288764896 .my-0{margin-bottom:0;margin-top:0}.gps-479549128288764896 .mb-0{margin-bottom:0}.gps-479549128288764896 .mt-2{margin-top:8px}.gps-479549128288764896 .block{display:block}.gps-479549128288764896 .flex{display:flex}.gps-479549128288764896 .inline-flex{display:inline-flex}.gps-479549128288764896 .grid{display:grid}.gps-479549128288764896 .hidden{display:none}.gps-479549128288764896 .aspect-square{aspect-ratio:1/1}.gps-479549128288764896 .h-6{height:24px}.gps-479549128288764896 .h-full{height:100%}.gps-479549128288764896 .w-6{width:24px}.gps-479549128288764896 .w-\[12px\]{width:12px}.gps-479549128288764896 .w-full{width:100%}.gps-479549128288764896 .max-w-full{max-width:100%}.gps-479549128288764896 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-479549128288764896 .-translate-y-1\/2,.gps-479549128288764896 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .translate-y-1\/2{--tw-translate-y:50%}.gps-479549128288764896 .rotate-0{--tw-rotate:0deg}.gps-479549128288764896 .rotate-0,.gps-479549128288764896 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .rotate-180{--tw-rotate:180deg}.gps-479549128288764896 .cursor-pointer{cursor:pointer}.gps-479549128288764896 .flex-row{flex-direction:row}.gps-479549128288764896 .flex-col{flex-direction:column}.gps-479549128288764896 .items-center{align-items:center}.gps-479549128288764896 .justify-center{justify-content:center}.gps-479549128288764896 .gap-2{gap:8px}.gps-479549128288764896 .overflow-hidden{overflow:hidden}.gps-479549128288764896 .rounded-full{border-radius:9999px}.gps-479549128288764896 .text-center{text-align:center}.gps-479549128288764896 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-479549128288764896 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-479549128288764896 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479549128288764896 .duration-200{transition-duration:.2s}.gps-479549128288764896 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479549128288764896 .disabled\:cursor-default:disabled{cursor:default}.gps-479549128288764896 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-479549128288764896 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-479549128288764896 .tablet\:bottom-1\/2{bottom:50%}.gps-479549128288764896 .tablet\:left-4{left:16px}.gps-479549128288764896 .tablet\:right-4{right:16px}.gps-479549128288764896 .tablet\:top-1\/2{top:50%}.gps-479549128288764896 .tablet\:mt-2{margin-top:8px}.gps-479549128288764896 .tablet\:block{display:block}.gps-479549128288764896 .tablet\:\!inline{display:inline!important}.gps-479549128288764896 .tablet\:\!flex{display:flex!important}.gps-479549128288764896 .tablet\:w-full{width:100%}.gps-479549128288764896 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-479549128288764896 .tablet\:-translate-y-1\/2,.gps-479549128288764896 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-479549128288764896 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-479549128288764896 .tablet\:rotate-0,.gps-479549128288764896 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .tablet\:rotate-0{--tw-rotate:0deg}.gps-479549128288764896 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .tablet\:flex-row{flex-direction:row}.gps-479549128288764896 .tablet\:px-0{padding-left:0;padding-right:0}.gps-479549128288764896 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-479549128288764896 .mobile\:bottom-1\/2{bottom:50%}.gps-479549128288764896 .mobile\:left-4{left:16px}.gps-479549128288764896 .mobile\:right-4{right:16px}.gps-479549128288764896 .mobile\:top-1\/2{top:50%}.gps-479549128288764896 .mobile\:mt-2{margin-top:8px}.gps-479549128288764896 .mobile\:block{display:block}.gps-479549128288764896 .mobile\:\!inline{display:inline!important}.gps-479549128288764896 .mobile\:\!flex{display:flex!important}.gps-479549128288764896 .mobile\:w-full{width:100%}.gps-479549128288764896 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-479549128288764896 .mobile\:-translate-y-1\/2,.gps-479549128288764896 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-479549128288764896 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-479549128288764896 .mobile\:rotate-0,.gps-479549128288764896 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .mobile\:rotate-0{--tw-rotate:0deg}.gps-479549128288764896 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-479549128288764896 .mobile\:flex-row{flex-direction:row}.gps-479549128288764896 .mobile\:px-0{padding-left:0;padding-right:0}.gps-479549128288764896 .mobile\:pl-1{padding-left:4px}}.gps-479549128288764896 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gEilfTfiE2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEilfTfiE2 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCcxwLbW86 relative flex flex-col"
    >
      
  <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gHkpglPRce" class=" "  gp-data='{"id":"gHkpglPRce","setting":{"arrow":{"desktop":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":4,"mobile":1,"tablet":2},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true,"mobile":false,"tablet":false},"height":{"desktop":"300px"},"spacing":{"desktop":16}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gHkpglPRce"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-gHkpglPRce" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gzYK4SnAOW"
    >
      
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gL-P2UaZum"
    >
      
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gvlHqCmstP"
    >
      
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gSo6gZABWA"
    >
      
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gHkpglPRce gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gHkpglPRce gp-carousel-arrow absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gHkpglPRce flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
            </section>
          
    
  
<style>
  #gempages-support-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #252525;
    opacity: 0.8;
    z-index: 99;
    padding: 21px 40px;
    font-size: 16px;
    color: #ffffff;
    display: flex !important;
    align-items: center;
  }
  #gempages-support-banner svg{
    margin-right: 12px;
    min-width: 28px;
  }
  #gempages-support-banner a{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  @media(max-width: 787px){
    #gempages-support-banner{
      padding: 8px 16px;
    }
  }
</style>
<div id="gempages-support-banner">
  <svg width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.7462 0.0075913L0.150737 8.5098C0.0359955 8.53804 -0.0213755 8.66515 0.00731004 8.77814L2.13004 15.6703C2.15872 15.7833 2.28781 15.8539 2.38821 15.8115L22.6258 9.56904C23.5868 9.27245 24.4043 8.60866 24.8776 7.70477C26.1398 5.31794 27.1725 2.84637 27.9757 0.275933C28.0617 0.106454 27.9039 -0.0347785 27.7462 0.0075913Z" fill="#FFBB1C"></path><path d="M21.1207 11.9276L3.98112 17.2097C3.89506 17.2379 3.82335 17.3368 3.86638 17.4357L5.67356 23.2545C5.70225 23.3392 5.80265 23.4098 5.90305 23.3816L16.8322 20.0061C17.6498 19.7519 18.3382 19.1869 18.7398 18.4384C19.8012 16.4329 20.6904 14.3285 21.3502 12.1536C21.3932 12.0265 21.2641 11.8852 21.1207 11.9276Z" fill="#E8486C"></path><path d="M14.6079 22.5764L7.46525 24.7797C7.37919 24.7938 7.35051 24.8927 7.36485 24.9633L8.88518 29.8923C8.89952 29.977 8.99992 30.0194 9.07164 29.9912L10.9649 29.4121C11.6533 29.2003 12.227 28.7201 12.5713 28.0845C13.4749 26.3897 14.2063 24.6102 14.78 22.7742C14.8374 22.6471 14.7227 22.5341 14.6079 22.5764Z" fill="#476DF2"></path></svg>
  <span>This page is created by GemPages Support. <a href="https://help.gempages.net/articles/support-options#why-my-page-has-a-powered-by-gempages-label" target="_blank">Learn more</a></span>
</div>

{% schema %}
  {
    
    "name": "Section 20",
    "tag": "section",
    "class": "gps-479549128288764896 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479549128288764896)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
